NodeREDFlows/AllFlows.json
[{"id":"67380138.386ee","type":"tab","label":"Provider GetGUID","disabled":false,"info":""},{"id":"864226f5.ae1198","type":"tab","label":"Arrowhead insecure - External API http without token","disabled":false,"info":""},{"id":"3de6a94e.0a9276","type":"tab","label":"Arrohead insecure - External API https and token auth","disabled":false,"info":""},{"id":"f058747.64a7e88","type":"tab","label":"arrowhead https with certs","disabled":false,"info":""},{"id":"201746e2.8e9e0a","type":"tab","label":"arrowhead mondragon https ","disabled":false,"info":""},{"id":"7001eadd.99ce54","type":"tab","label":"ah secure token","disabled":false,"info":""},{"id":"ed17bde7.a3f2","type":"tab","label":"another prov","disabled":false,"info":""},{"id":"40e9364ed2ac9c1d","type":"tab","label":"Upload_Recipe","disabled":false,"info":"**Description**: Endpoint where users can upload recipes in BPMN format.\r\n**Functionality**: Perfoms the following actions:\r\nReads name of process from BPMN document (process id or name)\r\nInserts in DB a new process using name and whole BPMN document\r\n"},{"id":"d7d2273353fc5fa5","type":"tab","label":"Start_Process","disabled":false,"info":""},{"id":"6f22e2d80a0a69a2","type":"tab","label":"Analyse_Task","disabled":false,"info":"This flow analyse tasks and progress on the process depending on the conditions"},{"id":"0494be47ac055167","type":"tab","label":"Call_Service","disabled":false,"info":""},{"id":"5f8dcfefe36deb12","type":"tab","label":"Update_Process","disabled":false,"info":"This flow checks if the active tasks should progress from Ready_to_Start to another state.\nIt also checks if finished processes merge with another branch of the process in a parallelGateway. Enables the process to progress if all of them have finihed."},{"id":"65206e2dbdb6ca65","type":"tab","label":"Workflow_Monitor","disabled":false,"info":""},{"id":"8bcacb61a2c22b7a","type":"tab","label":"Collect_Answer","disabled":false,"info":""},{"id":"28bb8b73.178094","type":"tls-config","name":"provider system auth","cert":"","key":"","ca":"","certname":"xpertdynamicsapi.cer","keyname":"xpertdynamicsapi.key","caname":"","servername":"","verifyservercert":false},{"id":"f105a19f.68967","type":"tls-config","name":"sysop auth","cert":"","key":"","ca":"","certname":"sysop.cer","keyname":"sysop.key","caname":"","servername":"","verifyservercert":false},{"id":"e1082f5b.0d023","type":"tls-config","name":"consumer system auth","cert":"","key":"","ca":"","certname":"consumerxpertapi.cer","keyname":"consumerxpertapi.key","caname":"","servername":"","verifyservercert":false},{"id":"fc4700e.32a0c","type":"tls-config","name":"sysop_xpertdynamics","cert":"","key":"","ca":"","certname":"sysop.cer","keyname":"sysop.key","caname":"","servername":"","verifyservercert":false},{"id":"a054664d.daab08","type":"tls-config","name":"sysop 172.17.10.219","cert":"","key":"","ca":"","certname":"sysop.crt","keyname":"sysop.key","caname":"","servername":"","verifyservercert":false},{"id":"bf83c9fe.5cf678","type":"tls-config","name":"providerSystem xd 172.17.10.219","cert":"","key":"","ca":"","certname":"xpertdynamics_api.cer","keyname":"xpertdynamics_api.key","caname":"","servername":"","verifyservercert":false},{"id":"f173615c.be06e","type":"tls-config","name":"consumer_xpert_api 172.17.10.219","cert":"","key":"","ca":"","certname":"consumer_xpert_api.cer","keyname":"consumer_xpert_api.key","caname":"","servername":"","verifyservercert":false},{"id":"43f8e220.d19e2c","type":"ah core service","host":"https://ah-tools.duckdns.org","port":"8443","path":"/serviceregistry","name":"AH ServiceRegistry","tls":"77c24f81.39685","usetls":true},{"id":"77c24f81.39685","type":"tls-config","name":"TLSgetguidprov","cert":"","key":"","ca":"","certname":"getguidprov.cer","keyname":"getguidprov.key","caname":"","servername":"","verifyservercert":false},{"id":"6d084fca.a8a7c","type":"ah authinfo","authinfo":"MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnoKY1nlK5fa+RkexS0UHoz5jLuYlAebGholEsAz0dDv7+K989Sn2ehSt2Ymq4FtqZo7UTuVpuHbYk4tWMhdyOIoiQnF4Biz4jvzkvQqkXJtqLBqmcTMXQM5tUu0suVo9E0EmHrSUU76JFMehJmnI0gnW/jPzuKt79zi/1thDtfjIiNkpAZn/+ndQ0+Af4XDDfZc4eUkW35KW4ZhfyaXbouvCl7LBc38XQ7n0GBlzIUxKBJYaPW8vhTp1Cz5RS8JbDv89/faL2j4AwCQuJ5CzjMCCvnUNPkwouPMBDzkhcDwSU8G3HU17C4tKRlMbQFR7p13vsG2ePx282n6+7O6r9QIDAQAB","name":"authInfoProvGetGuid"},{"id":"5cf5abb0.5163f4","type":"ah system","address":"172.17.56.7","port":"1880","name":"getguidprov"},{"id":"adeec115.85fbe","type":"ah core service","host":"https://ah-tools.duckdns.org","port":"8445","path":"/authorization","name":"AH Authorization","tls":"6d65386d.80ae48","usetls":true},{"id":"6d65386d.80ae48","type":"tls-config","name":"TLSgetguidconsumer","cert":"","key":"","ca":"","certname":"getguidconsumer.cer","keyname":"getguidconsumer.key","caname":"","servername":"","verifyservercert":false},{"id":"b8568131.74e17","type":"ah core service","host":"https://ah-tools.duckdns.org/","port":"8441","path":"/orchestrator","name":"AH Orchestrator","tls":"6d65386d.80ae48","usetls":true},{"id":"fb990744.9153a8","type":"ah authinfo","authinfo":"MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvhK3vqmrkFfE+jJU97ELzFsUNee5opKu+9T3iX8Kicaq00KkFA2QsVOvVPq4EHsTeVWWAQCpsx4S1TCDJLikTkLx46EKQWNGlukgA2VFmRQgenxWQqJwqVv9sDK7teMBbOtF4obMuEPm0xC42fLaANhVqTXVEO1vhwTv/J+a/TXHjlyDu2SCtzVk0nz/3OKYT/snjVeoF2AS+5FN0fVPiBk6zG/E8mhpZHrJtZyyT7B+ZAbQz75IoOcaJC3DPqURsc59vcI31kFXvp4Dzahk3PPqao9n2/oCqACDtjvKIkz/Z1gkQTz9/ChEa8cMjzCtYAYW9mGv7LSv0l8rx5e84QIDAQAB","name":"authInfoGetGuidConsumer"},{"id":"b02287ce.a43d78","type":"ah system","address":"127.0.0.1","port":"0","name":"getguidconsumer"},{"id":"6cf75f29.e3fd6","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"process","tz":"","charset":"UTF8"},{"id":"1eb76bab94c6cd9c","type":"ui_tab","name":"Workflow Monitor Tool","icon":"dashboard","disabled":false,"hidden":false},{"id":"4bfc74fa8e02334d","type":"ui_group","name":"Running Processes Instances","tab":"1eb76bab94c6cd9c","order":2,"disp":true,"width":"12","collapse":true,"className":""},{"id":"a6ef445bd6ac4190","type":"ui_group","name":"Running Tasks","tab":"1eb76bab94c6cd9c","order":3,"disp":true,"width":"12","collapse":true,"className":""},{"id":"f1e41ad3a778ee3e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8d2ca69b6e715f05","type":"ui_group","name":"Process List","tab":"1eb76bab94c6cd9c","order":1,"disp":true,"width":24,"collapse":true,"className":""},{"id":"2667ba2c.2b7a06","type":"http in","z":"67380138.386ee","name":"Get GUID","url":"/GetGUID","method":"post","upload":false,"swaggerDoc":"","x":80,"y":160,"wires":[["b03d5a51.8fb018","3971a8df.6fa928"]]},{"id":"b03d5a51.8fb018","type":"function","z":"67380138.386ee","name":"Calculate GUID","func":"function uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nmsg.payload = null;\nmsg.payload = {\n    GUID : uuidv4()\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":160,"wires":[["e16e61ae.7ec66","a8f117f1.082188"]]},{"id":"a8f117f1.082188","type":"http response","z":"67380138.386ee","name":"200 Response","statusCode":"","headers":{},"x":660,"y":160,"wires":[]},{"id":"a7a1c047.6e","type":"comment","z":"67380138.386ee","name":"GetGUID - Provider system","info":"","x":130,"y":40,"wires":[]},{"id":"e16e61ae.7ec66","type":"debug","z":"67380138.386ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":80,"wires":[]},{"id":"3971a8df.6fa928","type":"debug","z":"67380138.386ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":190,"y":100,"wires":[]},{"id":"2c763440.631a5c","type":"function","z":"864226f5.ae1198","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["172bb40b.80ee4c"]]},{"id":"3e118409.11dccc","type":"inject","z":"864226f5.ae1198","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"interfaces\":[\"HTTP-INSECURE-JSON\"],\"providerSystem\":{\"address\":\"xpertdynamics.com\",\"port\":91,\"systemName\":\"Xpert Dynamics\"},\"secure\":\"NOT_SECURE\",\"serviceDefinition\":\"GetAllCustomersHttp\",\"serviceUri\":\"/api/Sales/Customers/GetAll/\",\"version\":0}","payloadType":"json","x":130,"y":160,"wires":[["2c763440.631a5c"]]},{"id":"172bb40b.80ee4c","type":"http request","z":"864226f5.ae1198","name":"post to Service Register","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://172.17.10.219:8443/serviceregistry/register","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":160,"wires":[["70ffceb4.1ad48"]]},{"id":"70ffceb4.1ad48","type":"debug","z":"864226f5.ae1198","name":"","active":true,"console":"false","complete":"false","x":870,"y":160,"wires":[]},{"id":"5e39c474.7ce0ac","type":"comment","z":"864226f5.ae1198","name":"Register Seat Installation","info":"Calls the service register to register the seatIntallationWS.(/serviceregistry/register POST)\n\nShould be performed only once\n\nRequest \n{\n  \"interfaces\": [\n    \"HTTP-INSECURE-JSON\"\n  ], \n  \"providerSystem\": {\n    \"address\": \"172.17.100.37\",\n     \"port\": 8080,\n    \"systemName\": \"AssemblyLine\"\n  },\n  \"secure\": \"NOT_SECURE\",\n  \"serviceDefinition\": \"gearinstallationWS\",\n  \"serviceUri\": \"http://localhost:8080/WorkStationServer/workstations/gearInstallationWS\",\n  \"version\": 0\n}\n","x":150,"y":80,"wires":[]},{"id":"a334af1c.4230a","type":"function","z":"864226f5.ae1198","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":520,"wires":[["dc53a12c.7df69"]]},{"id":"e94a0e28.a4edc","type":"inject","z":"864226f5.ae1198","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"consumerId\":15,\"interfaceIds\":[2],\"providerIds\":[18],\"serviceDefinitionIds\":[24]}","payloadType":"json","x":130,"y":520,"wires":[["a334af1c.4230a"]]},{"id":"dc53a12c.7df69","type":"http request","z":"864226f5.ae1198","name":"post to Authorization Intracloud","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.10.219:8445/authorization/mgmt/intracloud","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":520,"wires":[["617350a9.7456d"]]},{"id":"617350a9.7456d","type":"debug","z":"864226f5.ae1198","name":"","active":true,"console":"false","complete":"false","x":870,"y":520,"wires":[]},{"id":"a782c635.9d4fa8","type":"comment","z":"864226f5.ae1198","name":"Authorize Seat Installation","info":"Calls the Authorization system (/authorization/mgmt/intracloud  POST ).\n\nAllows a consumer to comsume a service offered by a provider\n\nPreviously a consumer has to be registered\n\nShould be performed only once\n\nInformation needed in the request\n\n{\n  \"consumerId\": **8**,\n  \"interfaceIds\": [\n    **2**\n  ],\n  \"providerIds\": [\n    **7**\n  ],\n  \"serviceDefinitionIds\": [\n    **16**\n  ]\n}\n","x":150,"y":440,"wires":[]},{"id":"c58e1207.3a418","type":"function","z":"864226f5.ae1198","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["4fb0014d.d2ee9"]]},{"id":"2caf289e.1aec08","type":"inject","z":"864226f5.ae1198","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"address\":\"172.17.56.6\",\"port\":0,\"systemName\":\"WOCHOA Consumer\"}","payloadType":"json","x":130,"y":340,"wires":[["c58e1207.3a418"]]},{"id":"bb1609b0.570de8","type":"debug","z":"864226f5.ae1198","name":"","active":true,"console":"false","complete":"false","x":870,"y":340,"wires":[]},{"id":"6ece0d35.623154","type":"comment","z":"864226f5.ae1198","name":"Register Consumer System","info":"Calls the service register to register a system consumer.(/serviceregistry/mgmt/systems POST)\n\nShould be performed only once\n\nRequest \n{\n  \"address\": \"172.17.100.37\",\n   \"port\": 0,\n  \"systemName\": \"Consumer2\"\n}\n","x":160,"y":260,"wires":[]},{"id":"73ff5d4c.da6714","type":"function","z":"864226f5.ae1198","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":680,"wires":[["41800eb4.01b22"]]},{"id":"6bdec6ee.735158","type":"inject","z":"864226f5.ae1198","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"requesterSystem\":{\"systemName\":\"wochoa consumer\",\"address\":\"172.17.56.6\",\"port\":0,\"authenticationInfo\":null},\"requesterCloud\":null,\"requestedService\":{\"serviceDefinitionRequirement\":\"getallcustomershttp\",\"interfaceRequirements\":[\"HTTP-INSECURE-JSON\"],\"securityRequirements\":null,\"metadataRequirements\":null,\"versionRequirement\":null,\"minVersionRequirement\":null,\"maxVersionRequirement\":null,\"pingProviders\":false},\"orchestrationFlags\":{\"onlyPreferred\":false,\"overrideStore\":true,\"externalServiceRequest\":false,\"enableInterCloud\":false,\"enableQoS\":false,\"matchmaking\":true,\"metadataSearch\":false,\"triggerInterCloud\":false,\"pingProviders\":false},\"preferredProviders\":[],\"commands\":{}}","payloadType":"json","x":130,"y":680,"wires":[["73ff5d4c.da6714"]]},{"id":"41800eb4.01b22","type":"http request","z":"864226f5.ae1198","name":"post to Orchestration (discovery)","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.10.219:8441/orchestrator/orchestration","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":680,"wires":[["c70a05da.e2a768"]]},{"id":"c70a05da.e2a768","type":"debug","z":"864226f5.ae1198","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":870,"y":680,"wires":[]},{"id":"a5cdce46.e93ee","type":"comment","z":"864226f5.ae1198","name":"Call Orchestrator","info":"Calls the Orchestrator system (/orchestrator/orchestration POST ).\n\nAllows a consumer to discover a service offered by a provider using the orchestrator\n\nPreviously a consumer has to be registered and access/authorization provided\n\n\nInformation needed in the request\n\n{\n  \"requesterSystem\" : {\n    \"systemName\" : \"consumer\",\n    \"address\" : \"172.17.100.37\",\n    \"port\" : 0,\n    \"authenticationInfo\" : null\n  },\n  \"requesterCloud\" : null,\n  \"requestedService\" : {\n    \"serviceDefinitionRequirement\" : \"gearinstallationws\",\n    \"interfaceRequirements\" : [ \"HTTP-INSECURE-JSON\" ],\n    \"securityRequirements\" : null,\n    \"metadataRequirements\" : null,\n    \"versionRequirement\" : null,\n    \"minVersionRequirement\" : null,\n    \"maxVersionRequirement\" : null,\n    \"pingProviders\" : false\n  },\n  \"orchestrationFlags\" : {\n    \"onlyPreferred\" : false,\n    \"overrideStore\" : true,\n    \"externalServiceRequest\" : false,\n    \"enableInterCloud\" : false,\n    \"enableQoS\" : false,\n    \"matchmaking\" : true,\n    \"metadataSearch\" : false,\n    \"triggerInterCloud\" : false,\n    \"pingProviders\" : false\n  },\n  \"preferredProviders\" : [ ],\n  \"commands\" : { }\n}\n","x":120,"y":600,"wires":[]},{"id":"48b3e855.9f7118","type":"function","z":"864226f5.ae1198","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":840,"wires":[["cc06b867.7cec38"]]},{"id":"b71156b5.26fab8","type":"inject","z":"864226f5.ae1198","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"requesterSystem\":{\"systemName\":\"wochoa consumer\",\"address\":\"172.17.56.6\",\"port\":0,\"authenticationInfo\":null},\"requesterCloud\":null,\"requestedService\":{\"serviceDefinitionRequirement\":\"getallcustomershttp\",\"interfaceRequirements\":[\"HTTP-INSECURE-JSON\"],\"securityRequirements\":null,\"metadataRequirements\":null,\"versionRequirement\":null,\"minVersionRequirement\":null,\"maxVersionRequirement\":null,\"pingProviders\":false},\"orchestrationFlags\":{\"onlyPreferred\":false,\"overrideStore\":true,\"externalServiceRequest\":false,\"enableInterCloud\":false,\"enableQoS\":false,\"matchmaking\":true,\"metadataSearch\":false,\"triggerInterCloud\":false,\"pingProviders\":false},\"preferredProviders\":[],\"commands\":{}}","payloadType":"json","x":150,"y":840,"wires":[["48b3e855.9f7118"]]},{"id":"cc06b867.7cec38","type":"http request","z":"864226f5.ae1198","name":"post to Orchestration (discovery)","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://172.17.10.219:8441/orchestrator/orchestration","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":840,"wires":[["9f3361c8.aa31e","e61f2b2a.cd20d8","b9a30d67.da3d6"]]},{"id":"9f3361c8.aa31e","type":"debug","z":"864226f5.ae1198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":840,"wires":[]},{"id":"ec75d37e.93d1","type":"comment","z":"864226f5.ae1198","name":"Call Orchestrator + Consume Service (Automatic)","info":"Calls the Orchestrator system (/orchestrator/orchestration POST ).\n\nAllows a consumer to discover a service offered by a provider using the orchestrator\n\nPreviously a consumer has to be registered and access/authorization provided\n\n\nInformation needed in the request\n\n{\n  \"requesterSystem\" : {\n    \"systemName\" : \"consumer\",\n    \"address\" : \"172.17.100.37\",\n    \"port\" : 0,\n    \"authenticationInfo\" : null\n  },\n  \"requesterCloud\" : null,\n  \"requestedService\" : {\n    \"serviceDefinitionRequirement\" : \"gearinstallationws\",\n    \"interfaceRequirements\" : [ \"HTTP-INSECURE-JSON\" ],\n    \"securityRequirements\" : null,\n    \"metadataRequirements\" : null,\n    \"versionRequirement\" : null,\n    \"minVersionRequirement\" : null,\n    \"maxVersionRequirement\" : null,\n    \"pingProviders\" : false\n  },\n  \"orchestrationFlags\" : {\n    \"onlyPreferred\" : false,\n    \"overrideStore\" : true,\n    \"externalServiceRequest\" : false,\n    \"enableInterCloud\" : false,\n    \"enableQoS\" : false,\n    \"matchmaking\" : true,\n    \"metadataSearch\" : false,\n    \"triggerInterCloud\" : false,\n    \"pingProviders\" : false\n  },\n  \"preferredProviders\" : [ ],\n  \"commands\" : { }\n}\n","x":240,"y":760,"wires":[]},{"id":"e61f2b2a.cd20d8","type":"debug","z":"864226f5.ae1198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.response[0].provider","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":900,"wires":[]},{"id":"b9a30d67.da3d6","type":"function","z":"864226f5.ae1198","name":"Create URI","func":"var start = 'http://';\nvar address=msg.payload.response[0].provider.address;\nvar port=msg.payload.response[0].provider.port;\nvar serviceUri=msg.payload.response[0].serviceUri;\nmsg.url=start.concat(address,\":\", port, \"/\", serviceUri,\"/?idCompany=2&onlyActive=true\");\nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer '+'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImRlbW8iLCJJZEN1bHR1cmUiOiIxIiwiQ2hhbm5lbCI6Ik1PQiIsIm5iZiI6MTYxOTE4MTc4OSwiZXhwIjoxNjUwNzE3Nzg5LCJpYXQiOjE2MTkxODE3ODksImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3Q6NDQzMTEiLCJhdWQiOiJodHRwOi8vbG9jYWxob3N0OjQ0MzExIn0.8A-lOYnUY-LsLyvKPmyzcKhsCRNdqubFmB5gK45x9jM';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":980,"wires":[["8b5767a3.eeca78"]]},{"id":"e349577a.077428","type":"debug","z":"864226f5.ae1198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":980,"wires":[]},{"id":"8b5767a3.eeca78","type":"http request","z":"864226f5.ae1198","name":"Call service","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":980,"y":980,"wires":[["e349577a.077428"]]},{"id":"4fb0014d.d2ee9","type":"http request","z":"864226f5.ae1198","name":"post to Register System","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.10.219:8443/serviceregistry/mgmt/systems","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":340,"wires":[["bb1609b0.570de8"]]},{"id":"6dbe9923.64f318","type":"function","z":"3de6a94e.0a9276","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["ed3998aa.360fa8"]]},{"id":"d596f90b.c82ba8","type":"inject","z":"3de6a94e.0a9276","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"interfaces\":[\"HTTP-INSECURE-JSON\"],\"providerSystem\":{\"address\":\"xpertdynamics.com\",\"port\":444,\"systemName\":\"Xpert Dynamics Secure\"},\"secure\":\"NOT_SECURE\",\"serviceDefinition\":\"GetAllCustomersHttps\",\"serviceUri\":\"/api/Sales/Customers/GetAll/\",\"version\":0}","payloadType":"json","x":130,"y":120,"wires":[["6dbe9923.64f318"]]},{"id":"ed3998aa.360fa8","type":"http request","z":"3de6a94e.0a9276","name":"post to Service Register","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://172.17.10.219:8443/serviceregistry/register","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":120,"wires":[["5d2b87b.f5b8a78"]]},{"id":"5d2b87b.f5b8a78","type":"debug","z":"3de6a94e.0a9276","name":"","active":true,"console":"false","complete":"false","x":870,"y":120,"wires":[]},{"id":"37510bc0.3d6d24","type":"comment","z":"3de6a94e.0a9276","name":"Register Seat Installation","info":"Calls the service register to register the seatIntallationWS.(/serviceregistry/register POST)\n\nShould be performed only once\n\nRequest \n{\n  \"interfaces\": [\n    \"HTTP-INSECURE-JSON\"\n  ], \n  \"providerSystem\": {\n    \"address\": \"172.17.100.37\",\n     \"port\": 8080,\n    \"systemName\": \"AssemblyLine\"\n  },\n  \"secure\": \"NOT_SECURE\",\n  \"serviceDefinition\": \"gearinstallationWS\",\n  \"serviceUri\": \"http://localhost:8080/WorkStationServer/workstations/gearInstallationWS\",\n  \"version\": 0\n}\n","x":150,"y":40,"wires":[]},{"id":"aa163331.811d4","type":"function","z":"3de6a94e.0a9276","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":480,"wires":[["7723139a.bff23c"]]},{"id":"102ef71b.c2d339","type":"inject","z":"3de6a94e.0a9276","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"consumerId\":15,\"interfaceIds\":[2],\"providerIds\":[17],\"serviceDefinitionIds\":[23]}","payloadType":"json","x":130,"y":480,"wires":[["aa163331.811d4"]]},{"id":"7723139a.bff23c","type":"http request","z":"3de6a94e.0a9276","name":"post to Authorization Intracloud","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.10.219:8445/authorization/mgmt/intracloud","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":480,"wires":[["71bbf82d.faa268"]]},{"id":"71bbf82d.faa268","type":"debug","z":"3de6a94e.0a9276","name":"","active":true,"console":"false","complete":"false","x":870,"y":480,"wires":[]},{"id":"d0478bad.ee7f08","type":"comment","z":"3de6a94e.0a9276","name":"Authorize Seat Installation","info":"Calls the Authorization system (/authorization/mgmt/intracloud  POST ).\n\nAllows a consumer to comsume a service offered by a provider\n\nPreviously a consumer has to be registered\n\nShould be performed only once\n\nInformation needed in the request\n\n{\n  \"consumerId\": **8**,\n  \"interfaceIds\": [\n    **2**\n  ],\n  \"providerIds\": [\n    **7**\n  ],\n  \"serviceDefinitionIds\": [\n    **16**\n  ]\n}\n","x":150,"y":400,"wires":[]},{"id":"da3f4cf7.aca02","type":"function","z":"3de6a94e.0a9276","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["c5dc40bc.d3c8b"]]},{"id":"8c62330c.a9808","type":"inject","z":"3de6a94e.0a9276","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"address\":\"172.17.56.6\",\"port\":0,\"systemName\":\"WOCHOA Consumer\"}","payloadType":"json","x":130,"y":300,"wires":[["da3f4cf7.aca02"]]},{"id":"ad7c31f6.954dd","type":"debug","z":"3de6a94e.0a9276","name":"","active":true,"console":"false","complete":"false","x":870,"y":300,"wires":[]},{"id":"fb1bd7b4.106ff8","type":"comment","z":"3de6a94e.0a9276","name":"Register Consumer System","info":"Calls the service register to register a system consumer.(/serviceregistry/mgmt/systems POST)\n\nShould be performed only once\n\nRequest \n{\n  \"address\": \"172.17.100.37\",\n   \"port\": 0,\n  \"systemName\": \"Consumer2\"\n}\n","x":160,"y":220,"wires":[]},{"id":"1285448a.b28e3b","type":"function","z":"3de6a94e.0a9276","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":640,"wires":[["779d23d6.2b90fc"]]},{"id":"8fc9becd.1ee8b","type":"inject","z":"3de6a94e.0a9276","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"requesterSystem\":{\"systemName\":\"wochoa consumer\",\"address\":\"172.17.56.6\",\"port\":0,\"authenticationInfo\":null},\"requesterCloud\":null,\"requestedService\":{\"serviceDefinitionRequirement\":\"getallcustomershttps\",\"interfaceRequirements\":[\"HTTP-INSECURE-JSON\"],\"securityRequirements\":null,\"metadataRequirements\":null,\"versionRequirement\":null,\"minVersionRequirement\":null,\"maxVersionRequirement\":null,\"pingProviders\":false},\"orchestrationFlags\":{\"onlyPreferred\":false,\"overrideStore\":true,\"externalServiceRequest\":false,\"enableInterCloud\":false,\"enableQoS\":false,\"matchmaking\":true,\"metadataSearch\":false,\"triggerInterCloud\":false,\"pingProviders\":false},\"preferredProviders\":[],\"commands\":{}}","payloadType":"json","x":130,"y":640,"wires":[["1285448a.b28e3b"]]},{"id":"779d23d6.2b90fc","type":"http request","z":"3de6a94e.0a9276","name":"post to Orchestration (discovery)","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.10.219:8441/orchestrator/orchestration","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":640,"wires":[["96e280dd.d5e16"]]},{"id":"96e280dd.d5e16","type":"debug","z":"3de6a94e.0a9276","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":870,"y":640,"wires":[]},{"id":"57dd1c8.fe86de4","type":"comment","z":"3de6a94e.0a9276","name":"Call Orchestrator","info":"Calls the Orchestrator system (/orchestrator/orchestration POST ).\n\nAllows a consumer to discover a service offered by a provider using the orchestrator\n\nPreviously a consumer has to be registered and access/authorization provided\n\n\nInformation needed in the request\n\n{\n  \"requesterSystem\" : {\n    \"systemName\" : \"consumer\",\n    \"address\" : \"172.17.100.37\",\n    \"port\" : 0,\n    \"authenticationInfo\" : null\n  },\n  \"requesterCloud\" : null,\n  \"requestedService\" : {\n    \"serviceDefinitionRequirement\" : \"gearinstallationws\",\n    \"interfaceRequirements\" : [ \"HTTP-INSECURE-JSON\" ],\n    \"securityRequirements\" : null,\n    \"metadataRequirements\" : null,\n    \"versionRequirement\" : null,\n    \"minVersionRequirement\" : null,\n    \"maxVersionRequirement\" : null,\n    \"pingProviders\" : false\n  },\n  \"orchestrationFlags\" : {\n    \"onlyPreferred\" : false,\n    \"overrideStore\" : true,\n    \"externalServiceRequest\" : false,\n    \"enableInterCloud\" : false,\n    \"enableQoS\" : false,\n    \"matchmaking\" : true,\n    \"metadataSearch\" : false,\n    \"triggerInterCloud\" : false,\n    \"pingProviders\" : false\n  },\n  \"preferredProviders\" : [ ],\n  \"commands\" : { }\n}\n","x":120,"y":560,"wires":[]},{"id":"410f77a5.dfcf78","type":"function","z":"3de6a94e.0a9276","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":800,"wires":[["534b8e32.51c9f"]]},{"id":"a96569e.bf0f598","type":"inject","z":"3de6a94e.0a9276","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"requesterSystem\":{\"systemName\":\"wochoa consumer\",\"address\":\"172.17.56.6\",\"port\":0,\"authenticationInfo\":null},\"requesterCloud\":null,\"requestedService\":{\"serviceDefinitionRequirement\":\"getallcustomershttps\",\"interfaceRequirements\":[\"HTTP-INSECURE-JSON\"],\"securityRequirements\":null,\"metadataRequirements\":null,\"versionRequirement\":null,\"minVersionRequirement\":null,\"maxVersionRequirement\":null,\"pingProviders\":false},\"orchestrationFlags\":{\"onlyPreferred\":false,\"overrideStore\":true,\"externalServiceRequest\":false,\"enableInterCloud\":false,\"enableQoS\":false,\"matchmaking\":true,\"metadataSearch\":false,\"triggerInterCloud\":false,\"pingProviders\":false},\"preferredProviders\":[],\"commands\":{}}","payloadType":"json","x":150,"y":800,"wires":[["410f77a5.dfcf78"]]},{"id":"534b8e32.51c9f","type":"http request","z":"3de6a94e.0a9276","name":"post to Orchestration (discovery)","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://172.17.10.219:8441/orchestrator/orchestration","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":800,"wires":[["56290820.93cf88","988a8aea.3e4828","e64da850.45bbc8"]]},{"id":"56290820.93cf88","type":"debug","z":"3de6a94e.0a9276","name":"","active":true,"console":"false","complete":"false","x":890,"y":800,"wires":[]},{"id":"d62031a6.af4a2","type":"comment","z":"3de6a94e.0a9276","name":"Call Orchestrator + Consume Service (Automatic)","info":"Calls the Orchestrator system (/orchestrator/orchestration POST ).\n\nAllows a consumer to discover a service offered by a provider using the orchestrator\n\nPreviously a consumer has to be registered and access/authorization provided\n\n\nInformation needed in the request\n\n{\n  \"requesterSystem\" : {\n    \"systemName\" : \"consumer\",\n    \"address\" : \"172.17.100.37\",\n    \"port\" : 0,\n    \"authenticationInfo\" : null\n  },\n  \"requesterCloud\" : null,\n  \"requestedService\" : {\n    \"serviceDefinitionRequirement\" : \"gearinstallationws\",\n    \"interfaceRequirements\" : [ \"HTTP-INSECURE-JSON\" ],\n    \"securityRequirements\" : null,\n    \"metadataRequirements\" : null,\n    \"versionRequirement\" : null,\n    \"minVersionRequirement\" : null,\n    \"maxVersionRequirement\" : null,\n    \"pingProviders\" : false\n  },\n  \"orchestrationFlags\" : {\n    \"onlyPreferred\" : false,\n    \"overrideStore\" : true,\n    \"externalServiceRequest\" : false,\n    \"enableInterCloud\" : false,\n    \"enableQoS\" : false,\n    \"matchmaking\" : true,\n    \"metadataSearch\" : false,\n    \"triggerInterCloud\" : false,\n    \"pingProviders\" : false\n  },\n  \"preferredProviders\" : [ ],\n  \"commands\" : { }\n}\n","x":240,"y":720,"wires":[]},{"id":"988a8aea.3e4828","type":"debug","z":"3de6a94e.0a9276","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.response[0].provider","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":860,"wires":[]},{"id":"e64da850.45bbc8","type":"function","z":"3de6a94e.0a9276","name":"Create URI","func":"var start = 'https://';\nvar address=msg.payload.response[0].provider.address;\nvar port=msg.payload.response[0].provider.port;\nvar serviceUri=msg.payload.response[0].serviceUri;\nmsg.url=start.concat(address,\":\", port, \"/\", serviceUri,\"/?idCompany=2&onlyActive=true\");\nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer '+'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImRlbW8iLCJJZEN1bHR1cmUiOiIxIiwiQ2hhbm5lbCI6Ik1PQiIsIm5iZiI6MTYxOTE4MTc4OSwiZXhwIjoxNjUwNzE3Nzg5LCJpYXQiOjE2MTkxODE3ODksImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3Q6NDQzMTEiLCJhdWQiOiJodHRwOi8vbG9jYWxob3N0OjQ0MzExIn0.8A-lOYnUY-LsLyvKPmyzcKhsCRNdqubFmB5gK45x9jM';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":940,"wires":[["1f3e22fc.9b4ded"]]},{"id":"84aefdf5.4f112","type":"debug","z":"3de6a94e.0a9276","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":940,"wires":[]},{"id":"1f3e22fc.9b4ded","type":"http request","z":"3de6a94e.0a9276","name":"Call service","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":980,"y":940,"wires":[["84aefdf5.4f112"]]},{"id":"c5dc40bc.d3c8b","type":"http request","z":"3de6a94e.0a9276","name":"post to Register System","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.10.219:8443/serviceregistry/mgmt/systems","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":300,"wires":[["ad7c31f6.954dd"]]},{"id":"a450a4da.4d50f8","type":"inject","z":"f058747.64a7e88","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":90,"y":100,"wires":[["201e61ce.4303be"]]},{"id":"613931b7.700b5","type":"debug","z":"f058747.64a7e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":100,"wires":[]},{"id":"3591ce96.1dc372","type":"comment","z":"f058747.64a7e88","name":"Get services - Local Arrowhead (172.17.56.8)","info":"Get services","x":190,"y":60,"wires":[]},{"id":"201e61ce.4303be","type":"http request","z":"f058747.64a7e88","name":"get services from arrowhead","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://172.17.56.8:8443/serviceregistry/mgmt?direction=ASC&sort_field=id","tls":"f105a19f.68967","persist":false,"proxy":"","authType":"","x":340,"y":100,"wires":[["613931b7.700b5"]]},{"id":"50912130.af88c","type":"function","z":"f058747.64a7e88","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":360,"wires":[["3f2dfbee.4a0f04"]]},{"id":"9978208c.e6a3d","type":"inject","z":"f058747.64a7e88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"interfaces\":[\"HTTP-SECURE-JSON\"],\"providerSystem\":{\"address\":\"www.xpertdynamics.com\",\"port\":444,\"systemName\":\"XpertDynamicsAPI\"},\"secure\":\"NOT_SECURE\",\"serviceDefinition\":\"GetAllCustomersHttp\",\"serviceUri\":\"/api/Sales/Customers/GetAll/\",\"version\":0}","payloadType":"json","x":110,"y":360,"wires":[["50912130.af88c"]]},{"id":"3f2dfbee.4a0f04","type":"http request","z":"f058747.64a7e88","name":"post to Service Register","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://172.17.56.8:8443/serviceregistry/register","tls":"28bb8b73.178094","persist":false,"proxy":"","authType":"","x":510,"y":360,"wires":[["41ab545.9a5f4ac"]]},{"id":"41ab545.9a5f4ac","type":"debug","z":"f058747.64a7e88","name":"","active":true,"console":"false","complete":"false","x":850,"y":360,"wires":[]},{"id":"40122af7.0ae154","type":"comment","z":"f058747.64a7e88","name":"Register Seat Installation","info":"Calls the service register to register the seatIntallationWS.(/serviceregistry/register POST)\n\nShould be performed only once\n\nRequest \n{\n  \"interfaces\": [\n    \"HTTP-INSECURE-JSON\"\n  ], \n  \"providerSystem\": {\n    \"address\": \"172.17.100.37\",\n     \"port\": 8080,\n    \"systemName\": \"AssemblyLine\"\n  },\n  \"secure\": \"NOT_SECURE\",\n  \"serviceDefinition\": \"gearinstallationWS\",\n  \"serviceUri\": \"http://localhost:8080/WorkStationServer/workstations/gearInstallationWS\",\n  \"version\": 0\n}\n","x":130,"y":280,"wires":[]},{"id":"3588f0a.1d9851","type":"function","z":"f058747.64a7e88","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":720,"wires":[["eeeea42a.e3fec8"]]},{"id":"f8df2066.d43d7","type":"inject","z":"f058747.64a7e88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"consumerId\":12,\"interfaceIds\":[1],\"providerIds\":[11],\"serviceDefinitionIds\":[18]}","payloadType":"json","x":110,"y":720,"wires":[["3588f0a.1d9851"]]},{"id":"eeeea42a.e3fec8","type":"http request","z":"f058747.64a7e88","name":"post to Authorization Intracloud","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://172.17.56.8:8445/authorization/mgmt/intracloud","tls":"f105a19f.68967","persist":false,"proxy":"","authType":"","x":530,"y":720,"wires":[["76b938c1.9ab618"]]},{"id":"76b938c1.9ab618","type":"debug","z":"f058747.64a7e88","name":"","active":true,"console":"false","complete":"false","x":850,"y":720,"wires":[]},{"id":"4179c1b3.1aa91","type":"comment","z":"f058747.64a7e88","name":"Authorize Seat Installation","info":"Calls the Authorization system (/authorization/mgmt/intracloud  POST ).\n\nAllows a consumer to comsume a service offered by a provider\n\nPreviously a consumer has to be registered\n\nShould be performed only once\n\nInformation needed in the request\n\n{\n  \"consumerId\": **8**,\n  \"interfaceIds\": [\n    **2**\n  ],\n  \"providerIds\": [\n    **7**\n  ],\n  \"serviceDefinitionIds\": [\n    **16**\n  ]\n}\n","x":130,"y":640,"wires":[]},{"id":"61ce1cac.bc2e34","type":"function","z":"f058747.64a7e88","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":540,"wires":[["92b643b6.f6ac8"]]},{"id":"5e51b6fe.6ea588","type":"inject","z":"f058747.64a7e88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"address\":\"172.17.56.6\",\"port\":0,\"systemName\":\"consumerxpertapi\"}","payloadType":"json","x":110,"y":540,"wires":[["61ce1cac.bc2e34"]]},{"id":"60cb24bf.48573c","type":"debug","z":"f058747.64a7e88","name":"","active":true,"console":"false","complete":"false","x":850,"y":540,"wires":[]},{"id":"77dd4693.17b9b8","type":"comment","z":"f058747.64a7e88","name":"Register Consumer System","info":"Calls the service register to register a system consumer.(/serviceregistry/mgmt/systems POST)\n\nShould be performed only once\n\nRequest \n{\n  \"address\": \"172.17.100.37\",\n   \"port\": 0,\n  \"systemName\": \"Consumer2\"\n}\n","x":140,"y":460,"wires":[]},{"id":"a63f7562.abfa38","type":"function","z":"f058747.64a7e88","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":880,"wires":[["13ae020f.ef7d1e"]]},{"id":"b210e8c8.3356e8","type":"inject","z":"f058747.64a7e88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"requesterSystem\":{\"systemName\":\"consumerxpertapi\",\"address\":\"172.17.56.6\",\"port\":0,\"authenticationInfo\":null},\"requesterCloud\":null,\"requestedService\":{\"serviceDefinitionRequirement\":\"getallcustomershttp\",\"interfaceRequirements\":[\"HTTP-SECURE-JSON\"],\"securityRequirements\":null,\"metadataRequirements\":null,\"versionRequirement\":null,\"minVersionRequirement\":null,\"maxVersionRequirement\":null,\"pingProviders\":false},\"orchestrationFlags\":{\"onlyPreferred\":false,\"overrideStore\":true,\"externalServiceRequest\":false,\"enableInterCloud\":false,\"enableQoS\":false,\"matchmaking\":true,\"metadataSearch\":false,\"triggerInterCloud\":false,\"pingProviders\":false},\"preferredProviders\":[],\"commands\":{}}","payloadType":"json","x":110,"y":880,"wires":[["a63f7562.abfa38"]]},{"id":"13ae020f.ef7d1e","type":"http request","z":"f058747.64a7e88","name":"post to Orchestration (discovery)","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://172.17.56.8:8441/orchestrator/orchestration","tls":"e1082f5b.0d023","persist":false,"proxy":"","authType":"","x":530,"y":880,"wires":[["ddced8f9.02f6f8"]]},{"id":"ddced8f9.02f6f8","type":"debug","z":"f058747.64a7e88","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":850,"y":880,"wires":[]},{"id":"1d782da7.13a872","type":"comment","z":"f058747.64a7e88","name":"Call Orchestrator","info":"Calls the Orchestrator system (/orchestrator/orchestration POST ).\n\nAllows a consumer to discover a service offered by a provider using the orchestrator\n\nPreviously a consumer has to be registered and access/authorization provided\n\n\nInformation needed in the request\n\n{\n  \"requesterSystem\" : {\n    \"systemName\" : \"consumer\",\n    \"address\" : \"172.17.100.37\",\n    \"port\" : 0,\n    \"authenticationInfo\" : null\n  },\n  \"requesterCloud\" : null,\n  \"requestedService\" : {\n    \"serviceDefinitionRequirement\" : \"gearinstallationws\",\n    \"interfaceRequirements\" : [ \"HTTP-INSECURE-JSON\" ],\n    \"securityRequirements\" : null,\n    \"metadataRequirements\" : null,\n    \"versionRequirement\" : null,\n    \"minVersionRequirement\" : null,\n    \"maxVersionRequirement\" : null,\n    \"pingProviders\" : false\n  },\n  \"orchestrationFlags\" : {\n    \"onlyPreferred\" : false,\n    \"overrideStore\" : true,\n    \"externalServiceRequest\" : false,\n    \"enableInterCloud\" : false,\n    \"enableQoS\" : false,\n    \"matchmaking\" : true,\n    \"metadataSearch\" : false,\n    \"triggerInterCloud\" : false,\n    \"pingProviders\" : false\n  },\n  \"preferredProviders\" : [ ],\n  \"commands\" : { }\n}\n","x":100,"y":800,"wires":[]},{"id":"9dbd22ba.79b25","type":"function","z":"f058747.64a7e88","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1040,"wires":[["661cb06e.7ca36"]]},{"id":"cd50da9b.5ddaa8","type":"inject","z":"f058747.64a7e88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"requesterSystem\":{\"systemName\":\"consumerxpertapi\",\"address\":\"172.17.56.6\",\"port\":0,\"authenticationInfo\":null},\"requesterCloud\":null,\"requestedService\":{\"serviceDefinitionRequirement\":\"getallcustomershttp\",\"interfaceRequirements\":[\"HTTP-SECURE-JSON\"],\"securityRequirements\":null,\"metadataRequirements\":null,\"versionRequirement\":null,\"minVersionRequirement\":null,\"maxVersionRequirement\":null,\"pingProviders\":false},\"orchestrationFlags\":{\"onlyPreferred\":false,\"overrideStore\":true,\"externalServiceRequest\":false,\"enableInterCloud\":false,\"enableQoS\":false,\"matchmaking\":true,\"metadataSearch\":false,\"triggerInterCloud\":false,\"pingProviders\":false},\"preferredProviders\":[],\"commands\":{}}","payloadType":"json","x":130,"y":1040,"wires":[["9dbd22ba.79b25"]]},{"id":"661cb06e.7ca36","type":"http request","z":"f058747.64a7e88","name":"post to Orchestration (discovery)","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://172.17.56.8:8441/orchestrator/orchestration","tls":"e1082f5b.0d023","persist":false,"proxy":"","authType":"","x":550,"y":1040,"wires":[["c6c54edb.4c1dd","f29d8f67.63fd","f1cd8f09.555fc"]]},{"id":"c6c54edb.4c1dd","type":"debug","z":"f058747.64a7e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":1040,"wires":[]},{"id":"87f3ac4e.cc119","type":"comment","z":"f058747.64a7e88","name":"Call Orchestrator + Consume Service (Automatic)","info":"Calls the Orchestrator system (/orchestrator/orchestration POST ).\n\nAllows a consumer to discover a service offered by a provider using the orchestrator\n\nPreviously a consumer has to be registered and access/authorization provided\n\n\nInformation needed in the request\n\n{\n  \"requesterSystem\" : {\n    \"systemName\" : \"consumer\",\n    \"address\" : \"172.17.100.37\",\n    \"port\" : 0,\n    \"authenticationInfo\" : null\n  },\n  \"requesterCloud\" : null,\n  \"requestedService\" : {\n    \"serviceDefinitionRequirement\" : \"gearinstallationws\",\n    \"interfaceRequirements\" : [ \"HTTP-INSECURE-JSON\" ],\n    \"securityRequirements\" : null,\n    \"metadataRequirements\" : null,\n    \"versionRequirement\" : null,\n    \"minVersionRequirement\" : null,\n    \"maxVersionRequirement\" : null,\n    \"pingProviders\" : false\n  },\n  \"orchestrationFlags\" : {\n    \"onlyPreferred\" : false,\n    \"overrideStore\" : true,\n    \"externalServiceRequest\" : false,\n    \"enableInterCloud\" : false,\n    \"enableQoS\" : false,\n    \"matchmaking\" : true,\n    \"metadataSearch\" : false,\n    \"triggerInterCloud\" : false,\n    \"pingProviders\" : false\n  },\n  \"preferredProviders\" : [ ],\n  \"commands\" : { }\n}\n","x":220,"y":960,"wires":[]},{"id":"f29d8f67.63fd","type":"debug","z":"f058747.64a7e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.response[0].provider","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1100,"wires":[]},{"id":"f1cd8f09.555fc","type":"function","z":"f058747.64a7e88","name":"Create URI","func":"var start = 'https://';\nvar address=msg.payload.response[0].provider.address;\nvar port=msg.payload.response[0].provider.port;\nvar serviceUri=msg.payload.response[0].serviceUri;\nmsg.url=start.concat(address,\":\", port, \"/\", serviceUri,\"/?idCompany=2&onlyActive=true\");\nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer '+'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImRlbW8iLCJJZEN1bHR1cmUiOiIxIiwiQ2hhbm5lbCI6Ik1PQiIsIm5iZiI6MTYxOTE4MTc4OSwiZXhwIjoxNjUwNzE3Nzg5LCJpYXQiOjE2MTkxODE3ODksImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3Q6NDQzMTEiLCJhdWQiOiJodHRwOi8vbG9jYWxob3N0OjQ0MzExIn0.8A-lOYnUY-LsLyvKPmyzcKhsCRNdqubFmB5gK45x9jM';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":1180,"wires":[["faf34370.83fd6"]]},{"id":"b3019560.f02798","type":"debug","z":"f058747.64a7e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":1180,"wires":[]},{"id":"faf34370.83fd6","type":"http request","z":"f058747.64a7e88","name":"Call service","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":960,"y":1180,"wires":[["b3019560.f02798"]]},{"id":"92b643b6.f6ac8","type":"http request","z":"f058747.64a7e88","name":"post to Register System","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://172.17.56.8:8443/serviceregistry/mgmt/systems","tls":"f105a19f.68967","persist":false,"proxy":"","authType":"","x":510,"y":540,"wires":[["60cb24bf.48573c"]]},{"id":"eb3c5fcd.5e8bf","type":"inject","z":"f058747.64a7e88","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":90,"y":200,"wires":[["82df5dea.ab617"]]},{"id":"e942eb7a.dc57e8","type":"debug","z":"f058747.64a7e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":200,"wires":[]},{"id":"9e8aad3a.49a66","type":"comment","z":"f058747.64a7e88","name":"Get services - External Arrowhead (www.xpertdynamics.com)","info":"Get services","x":240,"y":160,"wires":[]},{"id":"82df5dea.ab617","type":"http request","z":"f058747.64a7e88","name":"get services from arrowhead","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.xpertdynamics.com:8443/serviceregistry/mgmt?direction=ASC&sort_field=id","tls":"fc4700e.32a0c","persist":false,"proxy":"","authType":"","x":340,"y":200,"wires":[["e942eb7a.dc57e8"]]},{"id":"8ac5fb33.85e158","type":"inject","z":"201746e2.8e9e0a","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":90,"y":80,"wires":[["1d074180.86a0ef"]]},{"id":"907ddc54.34bad","type":"debug","z":"201746e2.8e9e0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"32ab1850.f3b978","type":"comment","z":"201746e2.8e9e0a","name":"Get services - Arrowhead (172.17.10.219)","info":"Get services","x":180,"y":40,"wires":[]},{"id":"1d074180.86a0ef","type":"http request","z":"201746e2.8e9e0a","name":"get services from arrowhead","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://172.17.10.219:8443/serviceregistry/mgmt?direction=ASC&sort_field=id","tls":"a054664d.daab08","persist":false,"proxy":"","authType":"","x":340,"y":80,"wires":[["907ddc54.34bad"]]},{"id":"b2e73f3a.e3fc4","type":"function","z":"201746e2.8e9e0a","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":340,"wires":[["f02aaa1d.6624b8"]]},{"id":"4c66cdc7.c161e4","type":"inject","z":"201746e2.8e9e0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"interfaces\":[\"HTTP-SECURE-JSON\"],\"providerSystem\":{\"address\":\"www.xpertdynamics.com\",\"port\":444,\"systemName\":\"xpertdynamics_api\"},\"secure\":\"NOT_SECURE\",\"serviceDefinition\":\"GetAllCustomers\",\"serviceUri\":\"/api/Sales/Customers/GetAll/\",\"version\":0}","payloadType":"json","x":110,"y":340,"wires":[["b2e73f3a.e3fc4"]]},{"id":"f02aaa1d.6624b8","type":"http request","z":"201746e2.8e9e0a","name":"post to Service Register","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://127.0.0.1:8443/serviceregistry/register","tls":"28bb8b73.178094","persist":false,"proxy":"","authType":"","x":510,"y":340,"wires":[["2c5df7e.1107908"]]},{"id":"2c5df7e.1107908","type":"debug","z":"201746e2.8e9e0a","name":"","active":true,"console":"false","complete":"false","x":850,"y":340,"wires":[]},{"id":"67feb32a.bb7fbc","type":"comment","z":"201746e2.8e9e0a","name":"Register Seat Installation","info":"Calls the service register to register the seatIntallationWS.(/serviceregistry/register POST)\n\nShould be performed only once\n\nRequest \n{\n  \"interfaces\": [\n    \"HTTP-INSECURE-JSON\"\n  ], \n  \"providerSystem\": {\n    \"address\": \"172.17.100.37\",\n     \"port\": 8080,\n    \"systemName\": \"AssemblyLine\"\n  },\n  \"secure\": \"NOT_SECURE\",\n  \"serviceDefinition\": \"gearinstallationWS\",\n  \"serviceUri\": \"http://localhost:8080/WorkStationServer/workstations/gearInstallationWS\",\n  \"version\": 0\n}\n","x":130,"y":260,"wires":[]},{"id":"922065ee.a45608","type":"function","z":"201746e2.8e9e0a","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":700,"wires":[["d5cf2024.d6b38"]]},{"id":"55b96741.79dd28","type":"inject","z":"201746e2.8e9e0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"consumerId\":19,\"interfaceIds\":[1],\"providerIds\":[18],\"serviceDefinitionIds\":[13]}","payloadType":"json","x":110,"y":700,"wires":[["922065ee.a45608"]]},{"id":"d5cf2024.d6b38","type":"http request","z":"201746e2.8e9e0a","name":"post to Authorization Intracloud","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://172.17.10.219:8445/authorization/mgmt/intracloud","tls":"a054664d.daab08","persist":false,"proxy":"","authType":"","x":530,"y":700,"wires":[["7b1ff3f7.58c93c"]]},{"id":"7b1ff3f7.58c93c","type":"debug","z":"201746e2.8e9e0a","name":"","active":true,"console":"false","complete":"false","x":850,"y":700,"wires":[]},{"id":"bb3de62c.1f8728","type":"comment","z":"201746e2.8e9e0a","name":"Authorize Seat Installation","info":"Calls the Authorization system (/authorization/mgmt/intracloud  POST ).\n\nAllows a consumer to comsume a service offered by a provider\n\nPreviously a consumer has to be registered\n\nShould be performed only once\n\nInformation needed in the request\n\n{\n  \"consumerId\": **8**,\n  \"interfaceIds\": [\n    **2**\n  ],\n  \"providerIds\": [\n    **7**\n  ],\n  \"serviceDefinitionIds\": [\n    **16**\n  ]\n}\n","x":130,"y":620,"wires":[]},{"id":"585678c.489f688","type":"function","z":"201746e2.8e9e0a","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":520,"wires":[["9b0ee87a.de42d8"]]},{"id":"78d0fd8d.5775e4","type":"inject","z":"201746e2.8e9e0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"address\":\"172.17.56.6\",\"port\":0,\"systemName\":\"consumer_xpert_api\"}","payloadType":"json","x":110,"y":520,"wires":[["585678c.489f688"]]},{"id":"1f5826c4.fbacb9","type":"debug","z":"201746e2.8e9e0a","name":"","active":true,"console":"false","complete":"false","x":850,"y":520,"wires":[]},{"id":"a048ef8f.dfc51","type":"comment","z":"201746e2.8e9e0a","name":"Register Consumer System","info":"Calls the service register to register a system consumer.(/serviceregistry/mgmt/systems POST)\n\nShould be performed only once\n\nRequest \n{\n  \"address\": \"172.17.100.37\",\n   \"port\": 0,\n  \"systemName\": \"Consumer2\"\n}\n","x":140,"y":440,"wires":[]},{"id":"f3843499.35c0a8","type":"function","z":"201746e2.8e9e0a","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":860,"wires":[["cf8a36fb.0be808"]]},{"id":"4163e226.1cbdec","type":"inject","z":"201746e2.8e9e0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"requesterSystem\":{\"systemName\":\"consumer_xpert_api\",\"address\":\"172.17.56.6\",\"port\":0,\"authenticationInfo\":null},\"requesterCloud\":null,\"requestedService\":{\"serviceDefinitionRequirement\":\"getallcustomers\",\"interfaceRequirements\":[\"HTTP-SECURE-JSON\"],\"securityRequirements\":null,\"metadataRequirements\":null,\"versionRequirement\":null,\"minVersionRequirement\":null,\"maxVersionRequirement\":null,\"pingProviders\":false},\"orchestrationFlags\":{\"onlyPreferred\":false,\"overrideStore\":true,\"externalServiceRequest\":false,\"enableInterCloud\":false,\"enableQoS\":false,\"matchmaking\":true,\"metadataSearch\":false,\"triggerInterCloud\":false,\"pingProviders\":false},\"preferredProviders\":[],\"commands\":{}}","payloadType":"json","x":110,"y":860,"wires":[["f3843499.35c0a8"]]},{"id":"cf8a36fb.0be808","type":"http request","z":"201746e2.8e9e0a","name":"post to Orchestration (discovery)","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://127.0.0.1:8441/orchestrator/orchestration","tls":"e1082f5b.0d023","persist":false,"proxy":"","authType":"","x":530,"y":860,"wires":[["deff5aa0.4e9318"]]},{"id":"deff5aa0.4e9318","type":"debug","z":"201746e2.8e9e0a","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":850,"y":860,"wires":[]},{"id":"2139ca61.782396","type":"comment","z":"201746e2.8e9e0a","name":"Call Orchestrator","info":"Calls the Orchestrator system (/orchestrator/orchestration POST ).\n\nAllows a consumer to discover a service offered by a provider using the orchestrator\n\nPreviously a consumer has to be registered and access/authorization provided\n\n\nInformation needed in the request\n\n{\n  \"requesterSystem\" : {\n    \"systemName\" : \"consumer\",\n    \"address\" : \"172.17.100.37\",\n    \"port\" : 0,\n    \"authenticationInfo\" : null\n  },\n  \"requesterCloud\" : null,\n  \"requestedService\" : {\n    \"serviceDefinitionRequirement\" : \"gearinstallationws\",\n    \"interfaceRequirements\" : [ \"HTTP-INSECURE-JSON\" ],\n    \"securityRequirements\" : null,\n    \"metadataRequirements\" : null,\n    \"versionRequirement\" : null,\n    \"minVersionRequirement\" : null,\n    \"maxVersionRequirement\" : null,\n    \"pingProviders\" : false\n  },\n  \"orchestrationFlags\" : {\n    \"onlyPreferred\" : false,\n    \"overrideStore\" : true,\n    \"externalServiceRequest\" : false,\n    \"enableInterCloud\" : false,\n    \"enableQoS\" : false,\n    \"matchmaking\" : true,\n    \"metadataSearch\" : false,\n    \"triggerInterCloud\" : false,\n    \"pingProviders\" : false\n  },\n  \"preferredProviders\" : [ ],\n  \"commands\" : { }\n}\n","x":100,"y":780,"wires":[]},{"id":"7a5c3b0b.bb4c04","type":"function","z":"201746e2.8e9e0a","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1020,"wires":[["bd0f07fc.a50c38"]]},{"id":"396210c4.d635f","type":"inject","z":"201746e2.8e9e0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"requesterSystem\":{\"systemName\":\"consumer_xpert_api\",\"address\":\"172.17.56.6\",\"port\":0,\"authenticationInfo\":null},\"requesterCloud\":null,\"requestedService\":{\"serviceDefinitionRequirement\":\"getallcustomers\",\"interfaceRequirements\":[\"HTTP-SECURE-JSON\"],\"securityRequirements\":null,\"metadataRequirements\":null,\"versionRequirement\":null,\"minVersionRequirement\":null,\"maxVersionRequirement\":null,\"pingProviders\":false},\"orchestrationFlags\":{\"onlyPreferred\":false,\"overrideStore\":true,\"externalServiceRequest\":false,\"enableInterCloud\":false,\"enableQoS\":false,\"matchmaking\":true,\"metadataSearch\":false,\"triggerInterCloud\":false,\"pingProviders\":false},\"preferredProviders\":[],\"commands\":{}}","payloadType":"json","x":130,"y":1020,"wires":[["7a5c3b0b.bb4c04"]]},{"id":"bd0f07fc.a50c38","type":"http request","z":"201746e2.8e9e0a","name":"post to Orchestration (discovery)","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://172.17.10.219:8441/orchestrator/orchestration","tls":"f173615c.be06e","persist":false,"proxy":"","authType":"","x":550,"y":1020,"wires":[["1afda43c.8414ec","6a043b9c.c40b34","45feb722.e25b18"]]},{"id":"1afda43c.8414ec","type":"debug","z":"201746e2.8e9e0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":1020,"wires":[]},{"id":"beeeca3e.c2d028","type":"comment","z":"201746e2.8e9e0a","name":"Call Orchestrator + Consume Service (Automatic)","info":"Calls the Orchestrator system (/orchestrator/orchestration POST ).\n\nAllows a consumer to discover a service offered by a provider using the orchestrator\n\nPreviously a consumer has to be registered and access/authorization provided\n\n\nInformation needed in the request\n\n{\n  \"requesterSystem\" : {\n    \"systemName\" : \"consumer\",\n    \"address\" : \"172.17.100.37\",\n    \"port\" : 0,\n    \"authenticationInfo\" : null\n  },\n  \"requesterCloud\" : null,\n  \"requestedService\" : {\n    \"serviceDefinitionRequirement\" : \"gearinstallationws\",\n    \"interfaceRequirements\" : [ \"HTTP-INSECURE-JSON\" ],\n    \"securityRequirements\" : null,\n    \"metadataRequirements\" : null,\n    \"versionRequirement\" : null,\n    \"minVersionRequirement\" : null,\n    \"maxVersionRequirement\" : null,\n    \"pingProviders\" : false\n  },\n  \"orchestrationFlags\" : {\n    \"onlyPreferred\" : false,\n    \"overrideStore\" : true,\n    \"externalServiceRequest\" : false,\n    \"enableInterCloud\" : false,\n    \"enableQoS\" : false,\n    \"matchmaking\" : true,\n    \"metadataSearch\" : false,\n    \"triggerInterCloud\" : false,\n    \"pingProviders\" : false\n  },\n  \"preferredProviders\" : [ ],\n  \"commands\" : { }\n}\n","x":220,"y":940,"wires":[]},{"id":"6a043b9c.c40b34","type":"debug","z":"201746e2.8e9e0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.response[0].provider","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1080,"wires":[]},{"id":"45feb722.e25b18","type":"function","z":"201746e2.8e9e0a","name":"Create URI","func":"var start = 'https://';\nvar address=msg.payload.response[0].provider.address;\nvar port=msg.payload.response[0].provider.port;\nvar serviceUri=msg.payload.response[0].serviceUri;\nmsg.url=start.concat(address,\":\", port, \"/\", serviceUri,\"/?idCompany=2&onlyActive=true\");\nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer '+'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImRlbW8iLCJJZEN1bHR1cmUiOiIxIiwiQ2hhbm5lbCI6Ik1PQiIsIm5iZiI6MTYxOTE4MTc4OSwiZXhwIjoxNjUwNzE3Nzg5LCJpYXQiOjE2MTkxODE3ODksImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3Q6NDQzMTEiLCJhdWQiOiJodHRwOi8vbG9jYWxob3N0OjQ0MzExIn0.8A-lOYnUY-LsLyvKPmyzcKhsCRNdqubFmB5gK45x9jM';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":1160,"wires":[["bc5561c7.dcc12"]]},{"id":"1a67726c.216afe","type":"debug","z":"201746e2.8e9e0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":1160,"wires":[]},{"id":"bc5561c7.dcc12","type":"http request","z":"201746e2.8e9e0a","name":"Call service","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":960,"y":1160,"wires":[["1a67726c.216afe"]]},{"id":"9b0ee87a.de42d8","type":"http request","z":"201746e2.8e9e0a","name":"post to Register System","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://172.17.10.219:8443/serviceregistry/mgmt/systems","tls":"a054664d.daab08","persist":false,"proxy":"","authType":"","x":510,"y":520,"wires":[["1f5826c4.fbacb9"]]},{"id":"46a1372a.408f48","type":"function","z":"7001eadd.99ce54","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":200,"wires":[["aa907ad6.1d9088"]]},{"id":"86d53d61.65226","type":"inject","z":"7001eadd.99ce54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"interfaces\":[\"HTTP-SECURE-JSON\"],\"providerSystem\":{\"address\":\"www.xpertdynamics.com\",\"port\":444,\"systemName\":\"xpertdynamics_api\",\"authenticationInfo\":\"MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqVMzL5ihd15LGNzYCLd6MoK+V0bMjMNg3tUpo+wO2p48Vy+a8j3OA0sy5jhBOZU/mpC156Us4widw9Y7g7y8GAC8moxG5GdWi9ZXIU1ao6HUQ1cea2p2x1YcFuVcgmJJKO6ywHhuZ5/TD2nKhPJb8nAYrJzjq4Vq3a/Y+RUyQRALiqV9iU2ux7zs1CytkowuSxdpYwWV9DRek6kDWoY14iVX042jl/NYykr9VTZuQeXDlPUrAJUtNuQhdoJlwuXmZcWrrmh1rG5x/X54Bnx0rr3z1UiesHSJ51P3bwhmOw3KsUM8SszTYAi4n40It8ZxwubNSG90CsDmU7BZSoRVRwIDAQAB\"},\"secure\":\"TOKEN\",\"serviceDefinition\":\"GetAllInvoices\",\"serviceUri\":\"/api/Sales/Invoices/GetAll/\",\"version\":0}","payloadType":"json","x":110,"y":200,"wires":[["46a1372a.408f48"]]},{"id":"aa907ad6.1d9088","type":"http request","z":"7001eadd.99ce54","name":"post to Service Register","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://ah-tools.duckdns.org:8443/serviceregistry/register","tls":"bf83c9fe.5cf678","persist":false,"proxy":"","authType":"","x":510,"y":200,"wires":[["5329daff.85eca4"]]},{"id":"5329daff.85eca4","type":"debug","z":"7001eadd.99ce54","name":"","active":true,"console":"false","complete":"false","x":850,"y":200,"wires":[]},{"id":"a30184b5.cdaf18","type":"comment","z":"7001eadd.99ce54","name":"Register Seat Installation","info":"Calls the service register to register the seatIntallationWS.(/serviceregistry/register POST)\n\nShould be performed only once\n\nRequest \n{\n  \"interfaces\": [\n    \"HTTP-INSECURE-JSON\"\n  ], \n  \"providerSystem\": {\n    \"address\": \"172.17.100.37\",\n     \"port\": 8080,\n    \"systemName\": \"AssemblyLine\"\n  },\n  \"secure\": \"NOT_SECURE\",\n  \"serviceDefinition\": \"gearinstallationWS\",\n  \"serviceUri\": \"http://localhost:8080/WorkStationServer/workstations/gearInstallationWS\",\n  \"version\": 0\n}\n","x":130,"y":120,"wires":[]},{"id":"e544182a.f33898","type":"function","z":"7001eadd.99ce54","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":520,"wires":[["4fe06c5b.8c1cb4"]]},{"id":"87c9bb83.903e48","type":"inject","z":"7001eadd.99ce54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"consumerId\":19,\"interfaceIds\":[1],\"providerIds\":[18],\"serviceDefinitionIds\":[13,14]}","payloadType":"json","x":110,"y":520,"wires":[["e544182a.f33898"]]},{"id":"4fe06c5b.8c1cb4","type":"http request","z":"7001eadd.99ce54","name":"post to Authorization Intracloud","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://ah-tools.duckdns.org:8445/authorization/mgmt/intracloud","tls":"a054664d.daab08","persist":false,"proxy":"","authType":"","x":530,"y":520,"wires":[["773a737e.b046cc"]]},{"id":"773a737e.b046cc","type":"debug","z":"7001eadd.99ce54","name":"","active":true,"console":"false","complete":"false","x":850,"y":520,"wires":[]},{"id":"393a2604.87107a","type":"comment","z":"7001eadd.99ce54","name":"Authorize Seat Installation","info":"Calls the Authorization system (/authorization/mgmt/intracloud  POST ).\n\nAllows a consumer to comsume a service offered by a provider\n\nPreviously a consumer has to be registered\n\nShould be performed only once\n\nInformation needed in the request\n\n{\n  \"consumerId\": **8**,\n  \"interfaceIds\": [\n    **2**\n  ],\n  \"providerIds\": [\n    **7**\n  ],\n  \"serviceDefinitionIds\": [\n    **16**\n  ]\n}\n","x":130,"y":440,"wires":[]},{"id":"9e604fa1.221b5","type":"function","z":"7001eadd.99ce54","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":380,"wires":[["ad526251.6c6f1"]]},{"id":"3b63e139.38523e","type":"inject","z":"7001eadd.99ce54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"address\":\"172.17.56.6\",\"port\":0,\"systemName\":\"consumer_xpert_api\"}","payloadType":"json","x":110,"y":380,"wires":[["9e604fa1.221b5"]]},{"id":"2ebae318.43831c","type":"debug","z":"7001eadd.99ce54","name":"","active":true,"console":"false","complete":"false","x":850,"y":380,"wires":[]},{"id":"4d59e2b1.b47b0c","type":"comment","z":"7001eadd.99ce54","name":"Register Consumer System","info":"Calls the service register to register a system consumer.(/serviceregistry/mgmt/systems POST)\n\nShould be performed only once\n\nRequest \n{\n  \"address\": \"172.17.100.37\",\n   \"port\": 0,\n  \"systemName\": \"Consumer2\"\n}\n","x":140,"y":300,"wires":[]},{"id":"81428d29.1d368","type":"function","z":"7001eadd.99ce54","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":680,"wires":[["125bb048.402f8"]]},{"id":"b0b06022.4d53d","type":"inject","z":"7001eadd.99ce54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"requesterSystem\":{\"systemName\":\"consumer_xpert_api\",\"address\":\"172.17.56.6\",\"port\":0,\"authenticationInfo\":\"MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA8acvS+Y3PCeQbzB0Er19mhoFhLecwK7XOlqs5y/IzSOCZah4GPDqx4zlq9B6zXoomT2hxBOqNR/lBrbfiozx0zatRxZJcQNcW/pF0bNYd/hkX00ADAHDZlZDkrY2IFBt45pj/8JEdAkgp+yngcqQ/CKsipUdZJuKYv6TLTNFzpHPtzSNB72CXxeXmuvnJ80gUpX+rL6527mW4msIMD9wGYUe280PEnxFBY+4GE1K9fWf7eLgndFETnMRmI7ReHHp2c8LczNxUY7sOesEPefHuqLRHutvrpq3wsyqOUjylmd2mRNd9hfpLOxMLd3JP9FR06SFvWyHCcmJgLfiWP6MkQIDAQAB\"},\"requesterCloud\":null,\"requestedService\":{\"serviceDefinitionRequirement\":\"getallinvoices\",\"interfaceRequirements\":[\"HTTP-SECURE-JSON\"],\"securityRequirements\":null,\"metadataRequirements\":null,\"versionRequirement\":null,\"minVersionRequirement\":null,\"maxVersionRequirement\":null,\"pingProviders\":false},\"orchestrationFlags\":{\"onlyPreferred\":false,\"overrideStore\":true,\"externalServiceRequest\":false,\"enableInterCloud\":false,\"enableQoS\":false,\"matchmaking\":true,\"metadataSearch\":false,\"triggerInterCloud\":false,\"pingProviders\":false},\"preferredProviders\":[],\"commands\":{}}","payloadType":"json","x":110,"y":680,"wires":[["81428d29.1d368"]]},{"id":"125bb048.402f8","type":"http request","z":"7001eadd.99ce54","name":"post to Orchestration (discovery)","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://ah-tools.duckdns.org:8441/orchestrator/orchestration","tls":"f173615c.be06e","persist":false,"proxy":"","authType":"","x":530,"y":680,"wires":[["11c7f567.4720eb"]]},{"id":"11c7f567.4720eb","type":"debug","z":"7001eadd.99ce54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":680,"wires":[]},{"id":"be0b717b.705fb","type":"comment","z":"7001eadd.99ce54","name":"Call Orchestrator","info":"Calls the Orchestrator system (/orchestrator/orchestration POST ).\n\nAllows a consumer to discover a service offered by a provider using the orchestrator\n\nPreviously a consumer has to be registered and access/authorization provided\n\n\nInformation needed in the request\n\n{\n  \"requesterSystem\" : {\n    \"systemName\" : \"consumer\",\n    \"address\" : \"172.17.100.37\",\n    \"port\" : 0,\n    \"authenticationInfo\" : null\n  },\n  \"requesterCloud\" : null,\n  \"requestedService\" : {\n    \"serviceDefinitionRequirement\" : \"gearinstallationws\",\n    \"interfaceRequirements\" : [ \"HTTP-INSECURE-JSON\" ],\n    \"securityRequirements\" : null,\n    \"metadataRequirements\" : null,\n    \"versionRequirement\" : null,\n    \"minVersionRequirement\" : null,\n    \"maxVersionRequirement\" : null,\n    \"pingProviders\" : false\n  },\n  \"orchestrationFlags\" : {\n    \"onlyPreferred\" : false,\n    \"overrideStore\" : true,\n    \"externalServiceRequest\" : false,\n    \"enableInterCloud\" : false,\n    \"enableQoS\" : false,\n    \"matchmaking\" : true,\n    \"metadataSearch\" : false,\n    \"triggerInterCloud\" : false,\n    \"pingProviders\" : false\n  },\n  \"preferredProviders\" : [ ],\n  \"commands\" : { }\n}\n","x":100,"y":600,"wires":[]},{"id":"316c893e.0f4946","type":"function","z":"7001eadd.99ce54","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":840,"wires":[["664cd26e.80ccbc"]]},{"id":"61d3ffde.06ac4","type":"inject","z":"7001eadd.99ce54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"requesterSystem\":{\"systemName\":\"consumer_xpert_api\",\"address\":\"172.17.56.6\",\"port\":0,\"authenticationInfo\":\"MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA8acvS+Y3PCeQbzB0Er19mhoFhLecwK7XOlqs5y/IzSOCZah4GPDqx4zlq9B6zXoomT2hxBOqNR/lBrbfiozx0zatRxZJcQNcW/pF0bNYd/hkX00ADAHDZlZDkrY2IFBt45pj/8JEdAkgp+yngcqQ/CKsipUdZJuKYv6TLTNFzpHPtzSNB72CXxeXmuvnJ80gUpX+rL6527mW4msIMD9wGYUe280PEnxFBY+4GE1K9fWf7eLgndFETnMRmI7ReHHp2c8LczNxUY7sOesEPefHuqLRHutvrpq3wsyqOUjylmd2mRNd9hfpLOxMLd3JP9FR06SFvWyHCcmJgLfiWP6MkQIDAQAB\"},\"requesterCloud\":null,\"requestedService\":{\"serviceDefinitionRequirement\":\"getallinvoices\",\"interfaceRequirements\":[\"HTTP-SECURE-JSON\"],\"securityRequirements\":null,\"metadataRequirements\":null,\"versionRequirement\":null,\"minVersionRequirement\":null,\"maxVersionRequirement\":null,\"pingProviders\":false},\"orchestrationFlags\":{\"onlyPreferred\":false,\"overrideStore\":true,\"externalServiceRequest\":false,\"enableInterCloud\":false,\"enableQoS\":false,\"matchmaking\":true,\"metadataSearch\":false,\"triggerInterCloud\":false,\"pingProviders\":false},\"preferredProviders\":[],\"commands\":{}}","payloadType":"json","x":110,"y":840,"wires":[["316c893e.0f4946"]]},{"id":"664cd26e.80ccbc","type":"http request","z":"7001eadd.99ce54","name":"post to Orchestration (discovery)","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://ah-tools.duckdns.org:8441/orchestrator/orchestration","tls":"f173615c.be06e","persist":false,"proxy":"","authType":"","x":530,"y":840,"wires":[["b43c6167.9261a","d0a7a965.f02e88","765d7222.0b727c"]]},{"id":"b43c6167.9261a","type":"debug","z":"7001eadd.99ce54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":840,"wires":[]},{"id":"d67b9208.40149","type":"comment","z":"7001eadd.99ce54","name":"Call Orchestrator + Consume Service (Automatic)","info":"Calls the Orchestrator system (/orchestrator/orchestration POST ).\n\nAllows a consumer to discover a service offered by a provider using the orchestrator\n\nPreviously a consumer has to be registered and access/authorization provided\n\n\nInformation needed in the request\n\n{\n  \"requesterSystem\" : {\n    \"systemName\" : \"consumer\",\n    \"address\" : \"172.17.100.37\",\n    \"port\" : 0,\n    \"authenticationInfo\" : null\n  },\n  \"requesterCloud\" : null,\n  \"requestedService\" : {\n    \"serviceDefinitionRequirement\" : \"gearinstallationws\",\n    \"interfaceRequirements\" : [ \"HTTP-INSECURE-JSON\" ],\n    \"securityRequirements\" : null,\n    \"metadataRequirements\" : null,\n    \"versionRequirement\" : null,\n    \"minVersionRequirement\" : null,\n    \"maxVersionRequirement\" : null,\n    \"pingProviders\" : false\n  },\n  \"orchestrationFlags\" : {\n    \"onlyPreferred\" : false,\n    \"overrideStore\" : true,\n    \"externalServiceRequest\" : false,\n    \"enableInterCloud\" : false,\n    \"enableQoS\" : false,\n    \"matchmaking\" : true,\n    \"metadataSearch\" : false,\n    \"triggerInterCloud\" : false,\n    \"pingProviders\" : false\n  },\n  \"preferredProviders\" : [ ],\n  \"commands\" : { }\n}\n","x":200,"y":760,"wires":[]},{"id":"d0a7a965.f02e88","type":"debug","z":"7001eadd.99ce54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.response[0].provider","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":900,"wires":[]},{"id":"f29a23e8.999d9","type":"function","z":"7001eadd.99ce54","name":"Create URI","func":"var start = 'https://';\nvar address=msg.payload.response[0].provider.address;\nvar port=msg.payload.response[0].provider.port;\nvar serviceUri=msg.payload.response[0].serviceUri;\nmsg.url=start.concat(address,\":\", port, \"/\", serviceUri,\"/?idCompany=2&idBranch=1&status=ALL\");\nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer '+msg.payload.decryptedAuthToken;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":980,"wires":[["cbcfc4ee.bdab48"]]},{"id":"4e1104d9.0b2ddc","type":"debug","z":"7001eadd.99ce54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":980,"wires":[]},{"id":"cbcfc4ee.bdab48","type":"http request","z":"7001eadd.99ce54","name":"Call service","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":940,"y":980,"wires":[["4e1104d9.0b2ddc"]]},{"id":"ad526251.6c6f1","type":"http request","z":"7001eadd.99ce54","name":"post to Register System","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://ah-tools.duckdns.org:8443/serviceregistry/mgmt/systems","tls":"a054664d.daab08","persist":false,"proxy":"","authType":"","x":510,"y":380,"wires":[["2ebae318.43831c"]]},{"id":"765d7222.0b727c","type":"function","z":"7001eadd.99ce54","name":"decrypt authToken","func":"var jose = global.get(\"jose\");\nvar util = global.get(\"util\");\n\n//get encrypten token from orchestrator's response\nvar encryptedToken = msg.payload.response[0].authorizationTokens[\"HTTP-SECURE-JSON\"];\n\n//set provider's private key to decrypt the token\nvar providerPrivateKey = \"-----BEGIN PRIVATE KEY-----\\n\"\n+\"MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCpUzMvmKF3XksY3NgIt3oygr5XRsyMw2De1Smj7A7anjxXL5ryPc4DSzLmOEE5lT+akLXnpSzjCJ3D1juDvLwYALyajEbkZ1aL1lchTVqjodRDVx5ranbHVhwW5VyCYkko7rLAeG5nn9MPacqE8lvycBisnOOrhWrdr9j5FTJBEAuKpX2JTa7HvOzULK2SjC5LF2ljBZX0NF6TqQNahjXiJVfTjaOX81jKSv1VNm5B5cOU9SsAlS025CF2gmXC5eZlxauuaHWsbnH9fngGfHSuvfPVSJ6wdInnU/dvCGY7DcqxQzxKzNNgCLifjQi3xnHC5s1Ib3QKwOZTsFlKhFVHAgMBAAECggEAQYd8cLgeDQdGAuo9BSqUtQWaSkaRFQzr6XEPe2v416yTZ5551bQLjYTFvwkYXQOgqN3GOE7ZT0ffXpIDWFlrZdKrKxiMuwovGVErSS0ZnegcMK9/i0yZiU2O82FyatdEvv2Z2hkBiUL2OKnVgZwV735oXi0dgxzQHdlXHBaS61B7utdl9aAFLlncS66Nv3fr9AR/MBKCWAWtO2YZJKFyrSFzMGz9fZ1EVxZmsvuUKt6/UCbswuFzMmVF9O/u6CD0UhqPnqYXjgF+huNq78YNhWGdat3dNHDjYfUXfTcloQDZhbKEfeYBpg/RZNqLYYxMwQfYzXdoahz00H1iFPSDQQKBgQDgh5GlxjYWAArRUwJSqdZIlwWeMfiCrsLkxDEk5wWnuV81FVr6GNxayod/Q6WK+63c96HZ1zXhMBGeNxR+eYFEyixS+BPhQSDQu5XkNLz1W5NpejbK6lyZoKLjjlkMEoqTSMOjFJiiJClQ+2RJ9MFMWN1GdlscehgWv/BIOrFsoQKBgQDBDtCcxphFHJyH/lX0VtfrA16Ads9W7q4Irq5wUHOnHVEPAvPfIxIBqM+tab/kNVz44nu7aDtp/EzaDJwkok7BFrMog5AzHgwrJnR0QVTGwwpf6wT810gdyf4WC28zJ9oGW8+BoRaiGRssck7qi9UWlWcVnpc2/5UmSREfDtlQ5wKBgQDOgWGfynGsQlWwuFwGk1YWZXAxU1xxNTLjHN7mReSZopDCTeXi6EKi7ms4zYrQDTKXbNpbdOiFOKS7k4Ux3abbEec6WBhQsInx8NWnkinIsHUgKduDPZH1ahzmleGojNUPKXll4GeRmRi29sAClS3Dfmfliq25v0GwitAAXpsYgQKBgQCNjQNAMAytf9D1lXIIeTRPSGUd4/8aSl6oVwvnpdVmjoREcXHGBbzKIrBDAeqEtOu6QLVgL4iAqVDf/6bs5WTBBpfN+Mjd8gYSDVwNcWlrYs5UjclWabKixNvb5f5ej7W4O9DlxusFZ0sZR6a9KlHPATRYEbPly3fcXm6DSyvjuQKBgFcGGsLntLxeCkSYuFUxBK+vAiJOYbp+bkUJdZ1v2mDAjiBb/07D96GFMEQgPdxdVVjx5rj6ZRJgvpAKXPBFDrou8/dY/RQ3NmeqQEYl00qx1Of7prwTEZ+EgozhcSPfWyZeoXPgC+tQbDfsd931kvNQNzIdiNpEpD2Tw6TgT31F\"\n+\"-----END PRIVATE KEY-----\\n\";\n\n//use JSON Object Signing and Encryption (JOSE) to decrypt\nlet decryptionKey = await jose.JWK.asKey(providerPrivateKey, \"pem\");\nlet decrypter = await jose.JWE.createDecrypt(decryptionKey);\nlet result = await decrypter.decrypt(encryptedToken);\n\n//use util.textDecoder to decode result\nlet td = new util.TextDecoder('utf-8');\nmsg.payload.decryptedAuthToken = td.decode(result.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":980,"wires":[["f29a23e8.999d9"]]},{"id":"fa816e43.21a5e","type":"inject","z":"7001eadd.99ce54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{}","payloadType":"json","x":110,"y":1060,"wires":[["f7b274f3.76edc8"]]},{"id":"d365f866.36ec78","type":"debug","z":"7001eadd.99ce54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1060,"wires":[]},{"id":"f7b274f3.76edc8","type":"function","z":"7001eadd.99ce54","name":"decrypt authToken","func":"var jose = global.get(\"jose\");\nvar util = global.get(\"util\");\n\nvar encryptedToken = \"eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIiwiY3R5IjoiSldUIn0.V0PtQvUOCr0ScQGiW7PMokCjFsIOOL_-y_305PVA-Ye2MPxwnmAB9uimx_9SaJlPgf9WCBeZzUAJzR1a1vZR5LInV1nhYWc6LCVTMtaGonedu4JsOj1vhwZhAYvzxWCN_NY3f_XOzKcFlAFNN4mil0CJkQZqqYS9ponkLS0w3vHG8m5972-0WZZThuzRUcNILKp0HaUYJazhVTF6Nf7Ewj2pkzjDbcm0O3eTtMSrLLVEfKS5_zzj4qjTZxT6igpjC1PpKW3s3hC2GLhFXUGk05Q809QqPmQXg-XkVvJ_zWlY-bX-mH6vx2NM0g0_zGNJZyGmATJ0-LqjvhdVwWmIKw.OjOS3IpKlpAtADVAZT5_7A.HPtvVSSAzC5GjiLqNE3JQxSHN5SmTp8YTkYI9o4dOXrDCx46MedifzO6vyKks92AcfwY7oF5rNBtPDKUmYiR-EO7bl4t-B5Ue5MYDVNeciOvolJi4i2y6wMSddPOxwt3ZZEneJp1bNW-jfyj8xSus2HTNTAWgIJMyi6-rrluJ365D2wBnymqS-mg7FmnJOd1pSoKUtM6KRAOvMfY8L0aYcMWtXc_9t8VR0hnCxt1_Sr_Jw4azcMJocovGRcnm-i1zRTgBV2J_750xw-d-hm_eqfvsU9lw7mippTNG2WFnaoXy-uBWlHufbVK3h0s22A_YuuyT7BRvJg9SbCiXae_pbTTrTM3l5HaT8Q-sEE1NZam9yerH4-oOyE1wYwiG_nbe4qRjgTaF-kiyLoFnSFXL4loUoBJewlDg4LmpiA2jW2Sobo1mV6bJe99c7VEXjAqBSyFHxpvV__q9OzwPsEehD15Vl6uyE4Si8ZkzEv5Cwdn7fm616z2sloZH_0oOeTQVlaoUBUPrnAvE1qS_inefCrsKuP4X8yxTm7MYQkt-lDzcmapMX_2B_EChKi_z7hvAhx6jCAemexhJ7RXiArSWfcw3LVw4tVsdDbrtyiT_iV12WE-v8RGVX4-yWc6dMb4HbnXkaaezk1onhOFZnFAwUnvlrlCeE79Ok5PsTqyK8wAnxTlv8bnPg5bUpXwdb-V2wR9gUsLcMstt0Z3pTuu9_uaVZ6h2wNMkULGSZRgEQ2F2qRpXN3x3_0o4bew2tLudE7OmJKIeLH8oSKb_ul7QYxl2girYiuWo2zmQYWVW-Y.veMRi6IH_l4Q8Xh16IIe_zWD0JPIUzXCrjoEzpUknzY\";\n\nvar providerPrivateKey = \n\"-----BEGIN PRIVATE KEY-----\"\n+\"MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCpUzMvmKF3XksY3NgIt3oygr5XRsyMw2De1Smj7A7anjxXL5ryPc4DSzLmOEE5lT+akLXnpSzjCJ3D1juDvLwYALyajEbkZ1aL1lchTVqjodRDVx5ranbHVhwW5VyCYkko7rLAeG5nn9MPacqE8lvycBisnOOrhWrdr9j5FTJBEAuKpX2JTa7HvOzULK2SjC5LF2ljBZX0NF6TqQNahjXiJVfTjaOX81jKSv1VNm5B5cOU9SsAlS025CF2gmXC5eZlxauuaHWsbnH9fngGfHSuvfPVSJ6wdInnU/dvCGY7DcqxQzxKzNNgCLifjQi3xnHC5s1Ib3QKwOZTsFlKhFVHAgMBAAECggEAQYd8cLgeDQdGAuo9BSqUtQWaSkaRFQzr6XEPe2v416yTZ5551bQLjYTFvwkYXQOgqN3GOE7ZT0ffXpIDWFlrZdKrKxiMuwovGVErSS0ZnegcMK9/i0yZiU2O82FyatdEvv2Z2hkBiUL2OKnVgZwV735oXi0dgxzQHdlXHBaS61B7utdl9aAFLlncS66Nv3fr9AR/MBKCWAWtO2YZJKFyrSFzMGz9fZ1EVxZmsvuUKt6/UCbswuFzMmVF9O/u6CD0UhqPnqYXjgF+huNq78YNhWGdat3dNHDjYfUXfTcloQDZhbKEfeYBpg/RZNqLYYxMwQfYzXdoahz00H1iFPSDQQKBgQDgh5GlxjYWAArRUwJSqdZIlwWeMfiCrsLkxDEk5wWnuV81FVr6GNxayod/Q6WK+63c96HZ1zXhMBGeNxR+eYFEyixS+BPhQSDQu5XkNLz1W5NpejbK6lyZoKLjjlkMEoqTSMOjFJiiJClQ+2RJ9MFMWN1GdlscehgWv/BIOrFsoQKBgQDBDtCcxphFHJyH/lX0VtfrA16Ads9W7q4Irq5wUHOnHVEPAvPfIxIBqM+tab/kNVz44nu7aDtp/EzaDJwkok7BFrMog5AzHgwrJnR0QVTGwwpf6wT810gdyf4WC28zJ9oGW8+BoRaiGRssck7qi9UWlWcVnpc2/5UmSREfDtlQ5wKBgQDOgWGfynGsQlWwuFwGk1YWZXAxU1xxNTLjHN7mReSZopDCTeXi6EKi7ms4zYrQDTKXbNpbdOiFOKS7k4Ux3abbEec6WBhQsInx8NWnkinIsHUgKduDPZH1ahzmleGojNUPKXll4GeRmRi29sAClS3Dfmfliq25v0GwitAAXpsYgQKBgQCNjQNAMAytf9D1lXIIeTRPSGUd4/8aSl6oVwvnpdVmjoREcXHGBbzKIrBDAeqEtOu6QLVgL4iAqVDf/6bs5WTBBpfN+Mjd8gYSDVwNcWlrYs5UjclWabKixNvb5f5ej7W4O9DlxusFZ0sZR6a9KlHPATRYEbPly3fcXm6DSyvjuQKBgFcGGsLntLxeCkSYuFUxBK+vAiJOYbp+bkUJdZ1v2mDAjiBb/07D96GFMEQgPdxdVVjx5rj6ZRJgvpAKXPBFDrou8/dY/RQ3NmeqQEYl00qx1Of7prwTEZ+EgozhcSPfWyZeoXPgC+tQbDfsd931kvNQNzIdiNpEpD2Tw6TgT31F\"\n+\"-----END PRIVATE KEY-----\";\n\nlet decryptionKey = await jose.JWK.asKey(providerPrivateKey, \"pem\");\nlet decrypter = await jose.JWE.createDecrypt(decryptionKey);\nlet result = await decrypter.decrypt(encryptedToken);\n\nlet td = new util.TextDecoder('utf-8');\nmsg.payload.decryptedAuthToken = td.decode(result.payload);\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1140,"wires":[["d365f866.36ec78"]]},{"id":"1ae1cf2d.604861","type":"function","z":"7001eadd.99ce54","name":"decrypt authToken (crypto module)","func":"var crypto = global.get(\"crypto\");\n//var path = global.get(\"path\");\nvar fs = global.get(\"fs\");\n\nfunction decryptStringWithRsaPrivateKey(toDecrypt, privateKey) \n{\n    console.log(\"1\");\n    //var absolutePath = path.resolve(relativeOrAbsolutePathtoPrivateKey);\n    //var privateKey = fs.readFileSync(absolutePath, \"utf8\");\n    var buffer = Buffer.from(toDecrypt, \"base64\");\n    //var decrypted = crypto.privateDecrypt(privateKey, buffer);\n    var decrypted = crypto.privateDecrypt(\n        {\n          key: privateKey,\n          padding: crypto.constants.RSA_PKCS1_PADDING\n        },\n        buffer\n    )\n    return decrypted.toString(\"utf8\");\n}\n\nvar encryptedToken = \"eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIiwiY3R5IjoiSldUIn0.V0PtQvUOCr0ScQGiW7PMokCjFsIOOL_-y_305PVA-Ye2MPxwnmAB9uimx_9SaJlPgf9WCBeZzUAJzR1a1vZR5LInV1nhYWc6LCVTMtaGonedu4JsOj1vhwZhAYvzxWCN_NY3f_XOzKcFlAFNN4mil0CJkQZqqYS9ponkLS0w3vHG8m5972-0WZZThuzRUcNILKp0HaUYJazhVTF6Nf7Ewj2pkzjDbcm0O3eTtMSrLLVEfKS5_zzj4qjTZxT6igpjC1PpKW3s3hC2GLhFXUGk05Q809QqPmQXg-XkVvJ_zWlY-bX-mH6vx2NM0g0_zGNJZyGmATJ0-LqjvhdVwWmIKw.OjOS3IpKlpAtADVAZT5_7A.HPtvVSSAzC5GjiLqNE3JQxSHN5SmTp8YTkYI9o4dOXrDCx46MedifzO6vyKks92AcfwY7oF5rNBtPDKUmYiR-EO7bl4t-B5Ue5MYDVNeciOvolJi4i2y6wMSddPOxwt3ZZEneJp1bNW-jfyj8xSus2HTNTAWgIJMyi6-rrluJ365D2wBnymqS-mg7FmnJOd1pSoKUtM6KRAOvMfY8L0aYcMWtXc_9t8VR0hnCxt1_Sr_Jw4azcMJocovGRcnm-i1zRTgBV2J_750xw-d-hm_eqfvsU9lw7mippTNG2WFnaoXy-uBWlHufbVK3h0s22A_YuuyT7BRvJg9SbCiXae_pbTTrTM3l5HaT8Q-sEE1NZam9yerH4-oOyE1wYwiG_nbe4qRjgTaF-kiyLoFnSFXL4loUoBJewlDg4LmpiA2jW2Sobo1mV6bJe99c7VEXjAqBSyFHxpvV__q9OzwPsEehD15Vl6uyE4Si8ZkzEv5Cwdn7fm616z2sloZH_0oOeTQVlaoUBUPrnAvE1qS_inefCrsKuP4X8yxTm7MYQkt-lDzcmapMX_2B_EChKi_z7hvAhx6jCAemexhJ7RXiArSWfcw3LVw4tVsdDbrtyiT_iV12WE-v8RGVX4-yWc6dMb4HbnXkaaezk1onhOFZnFAwUnvlrlCeE79Ok5PsTqyK8wAnxTlv8bnPg5bUpXwdb-V2wR9gUsLcMstt0Z3pTuu9_uaVZ6h2wNMkULGSZRgEQ2F2qRpXN3x3_0o4bew2tLudE7OmJKIeLH8oSKb_ul7QYxl2girYiuWo2zmQYWVW-Y.veMRi6IH_l4Q8Xh16IIe_zWD0JPIUzXCrjoEzpUknzY\";\n\nvar privateKey = \"-----BEGIN PRIVATE KEY-----\\n\"\n+\"MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCpUzMvmKF3XksY\\n\"\n+\"3NgIt3oygr5XRsyMw2De1Smj7A7anjxXL5ryPc4DSzLmOEE5lT+akLXnpSzjCJ3D\\n\"\n+\"1juDvLwYALyajEbkZ1aL1lchTVqjodRDVx5ranbHVhwW5VyCYkko7rLAeG5nn9MP\\n\"\n+\"acqE8lvycBisnOOrhWrdr9j5FTJBEAuKpX2JTa7HvOzULK2SjC5LF2ljBZX0NF6T\\n\"\n+\"qQNahjXiJVfTjaOX81jKSv1VNm5B5cOU9SsAlS025CF2gmXC5eZlxauuaHWsbnH9\\n\"\n+\"fngGfHSuvfPVSJ6wdInnU/dvCGY7DcqxQzxKzNNgCLifjQi3xnHC5s1Ib3QKwOZT\\n\"\n+\"sFlKhFVHAgMBAAECggEAQYd8cLgeDQdGAuo9BSqUtQWaSkaRFQzr6XEPe2v416yT\\n\"\n+\"Z5551bQLjYTFvwkYXQOgqN3GOE7ZT0ffXpIDWFlrZdKrKxiMuwovGVErSS0Znegc\\n\"\n+\"MK9/i0yZiU2O82FyatdEvv2Z2hkBiUL2OKnVgZwV735oXi0dgxzQHdlXHBaS61B7\\n\"\n+\"utdl9aAFLlncS66Nv3fr9AR/MBKCWAWtO2YZJKFyrSFzMGz9fZ1EVxZmsvuUKt6/\\n\"\n+\"UCbswuFzMmVF9O/u6CD0UhqPnqYXjgF+huNq78YNhWGdat3dNHDjYfUXfTcloQDZ\\n\"\n+\"hbKEfeYBpg/RZNqLYYxMwQfYzXdoahz00H1iFPSDQQKBgQDgh5GlxjYWAArRUwJS\\n\"\n+\"qdZIlwWeMfiCrsLkxDEk5wWnuV81FVr6GNxayod/Q6WK+63c96HZ1zXhMBGeNxR+\\n\"\n+\"eYFEyixS+BPhQSDQu5XkNLz1W5NpejbK6lyZoKLjjlkMEoqTSMOjFJiiJClQ+2RJ\\n\"\n+\"9MFMWN1GdlscehgWv/BIOrFsoQKBgQDBDtCcxphFHJyH/lX0VtfrA16Ads9W7q4I\\n\"\n+\"rq5wUHOnHVEPAvPfIxIBqM+tab/kNVz44nu7aDtp/EzaDJwkok7BFrMog5AzHgwr\\n\"\n+\"JnR0QVTGwwpf6wT810gdyf4WC28zJ9oGW8+BoRaiGRssck7qi9UWlWcVnpc2/5Um\\n\"\n+\"SREfDtlQ5wKBgQDOgWGfynGsQlWwuFwGk1YWZXAxU1xxNTLjHN7mReSZopDCTeXi\\n\"\n+\"6EKi7ms4zYrQDTKXbNpbdOiFOKS7k4Ux3abbEec6WBhQsInx8NWnkinIsHUgKduD\\n\"\n+\"PZH1ahzmleGojNUPKXll4GeRmRi29sAClS3Dfmfliq25v0GwitAAXpsYgQKBgQCN\\n\"\n+\"jQNAMAytf9D1lXIIeTRPSGUd4/8aSl6oVwvnpdVmjoREcXHGBbzKIrBDAeqEtOu6\\n\"\n+\"QLVgL4iAqVDf/6bs5WTBBpfN+Mjd8gYSDVwNcWlrYs5UjclWabKixNvb5f5ej7W4\\n\"\n+\"O9DlxusFZ0sZR6a9KlHPATRYEbPly3fcXm6DSyvjuQKBgFcGGsLntLxeCkSYuFUx\\n\"\n+\"BK+vAiJOYbp+bkUJdZ1v2mDAjiBb/07D96GFMEQgPdxdVVjx5rj6ZRJgvpAKXPBF\\n\"\n+\"Drou8/dY/RQ3NmeqQEYl00qx1Of7prwTEZ+EgozhcSPfWyZeoXPgC+tQbDfsd931\\n\"\n+\"kvNQNzIdiNpEpD2Tw6TgT31F\\n\"\n+\"-----END PRIVATE KEY-----\\n\";\nmsg.payload.decryptedAuthToken = decryptStringWithRsaPrivateKey(encryptedToken,privateKey);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":1000,"wires":[[]]},{"id":"375d429e.ee7c2e","type":"http in","z":"ed17bde7.a3f2","name":"Get GUID","url":"/GetGUID2","method":"get","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["53e40e9a.e17ea"]]},{"id":"33f047c7.071f78","type":"function","z":"ed17bde7.a3f2","name":"Calculate GUID","func":"function uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nmsg.payload = null;\nmsg.payload = {\n    GUID : uuidv4()\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":140,"wires":[["8de9ac97.951c6"]]},{"id":"8de9ac97.951c6","type":"http response","z":"ed17bde7.a3f2","name":"200 Response","statusCode":"200","headers":{},"x":820,"y":180,"wires":[]},{"id":"bddc88a0.e957c8","type":"ah service registration","z":"ed17bde7.a3f2","sr":"43f8e220.d19e2c","system":"5cf5abb0.5163f4","path":"/GetGUID2","definition":"GetGUID","version":"1","name":"","replace":true,"authinfo":"6d084fca.a8a7c","token":true,"x":200,"y":260,"wires":[[]]},{"id":"f8509532.9e7af8","type":"ah service discoverer","z":"ed17bde7.a3f2","orchestrator":"b8568131.74e17","requesterSystem":"b02287ce.a43d78","serviceDefinition":"GetGUID","authinfo":"fb990744.9153a8","x":410,"y":500,"wires":[["557f1afd.dacde4"]]},{"id":"53e40e9a.e17ea","type":"ah token validator","z":"ed17bde7.a3f2","auth":"adeec115.85fbe","publickey":"","name":"","x":330,"y":180,"wires":[["33f047c7.071f78"],["8de9ac97.951c6"]]},{"id":"ecff959b.556bf8","type":"debug","z":"ed17bde7.a3f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":500,"wires":[]},{"id":"a30c2698.41f628","type":"inject","z":"ed17bde7.a3f2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":500,"wires":[["f8509532.9e7af8"]]},{"id":"557f1afd.dacde4","type":"function","z":"ed17bde7.a3f2","name":"Request","func":"msg.method = \"GET\";\nmsg.token = msg.payload[0].authorizationTokens[\"HTTP-SECURE-JSON\"];\nmsg.headers = {\n    Authorization: \"Bearer \"+msg.token\n}\nmsg.url = msg.payload[0].url;\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":500,"wires":[["a4f2add1.a58c6"]]},{"id":"a4f2add1.a58c6","type":"http request","z":"ed17bde7.a3f2","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":500,"wires":[["ecff959b.556bf8"]]},{"id":"3dc87f07.695b8","type":"comment","z":"ed17bde7.a3f2","name":"Consumer","info":"","x":140,"y":460,"wires":[]},{"id":"920f811.1f2b38","type":"comment","z":"ed17bde7.a3f2","name":"Provider","info":"","x":140,"y":140,"wires":[]},{"id":"1ad5ec9d.548c83","type":"function","z":"ed17bde7.a3f2","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":780,"wires":[["8831daf9.012888"]]},{"id":"eea0e151.35458","type":"inject","z":"ed17bde7.a3f2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"consumerId\":19,\"interfaceIds\":[1],\"providerIds\":[18],\"serviceDefinitionIds\":[13,14]}","payloadType":"json","x":170,"y":780,"wires":[["1ad5ec9d.548c83"]]},{"id":"8831daf9.012888","type":"http request","z":"ed17bde7.a3f2","name":"post to Authorization Intracloud","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://ah-tools.duckdns.org:8445/authorization/mgmt/intracloud","tls":"a054664d.daab08","persist":false,"proxy":"","authType":"","x":590,"y":780,"wires":[["20d34ad2.8eda06"]]},{"id":"20d34ad2.8eda06","type":"debug","z":"ed17bde7.a3f2","name":"","active":true,"console":"false","complete":"false","x":910,"y":780,"wires":[]},{"id":"17697767.583a09","type":"comment","z":"ed17bde7.a3f2","name":"Authorize Seat Installation","info":"Calls the Authorization system (/authorization/mgmt/intracloud  POST ).\n\nAllows a consumer to comsume a service offered by a provider\n\nPreviously a consumer has to be registered\n\nShould be performed only once\n\nInformation needed in the request\n\n{\n  \"consumerId\": **8**,\n  \"interfaceIds\": [\n    **2**\n  ],\n  \"providerIds\": [\n    **7**\n  ],\n  \"serviceDefinitionIds\": [\n    **16**\n  ]\n}\n","x":190,"y":700,"wires":[]},{"id":"2080d42f.5563ac","type":"function","z":"ed17bde7.a3f2","name":"set headers","func":"msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":640,"wires":[["e634e281.64539"]]},{"id":"72316c8c.3f7704","type":"inject","z":"ed17bde7.a3f2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"address\":\"172.17.56.6\",\"port\":0,\"systemName\":\"consumer_xpert_api\"}","payloadType":"json","x":170,"y":640,"wires":[["2080d42f.5563ac"]]},{"id":"65c3a26f.7ea36c","type":"debug","z":"ed17bde7.a3f2","name":"","active":true,"console":"false","complete":"false","x":910,"y":640,"wires":[]},{"id":"c35257a9.7dd2f8","type":"comment","z":"ed17bde7.a3f2","name":"Register Consumer System","info":"Calls the service register to register a system consumer.(/serviceregistry/mgmt/systems POST)\n\nShould be performed only once\n\nRequest \n{\n  \"address\": \"172.17.100.37\",\n   \"port\": 0,\n  \"systemName\": \"Consumer2\"\n}\n","x":200,"y":600,"wires":[]},{"id":"e634e281.64539","type":"http request","z":"ed17bde7.a3f2","name":"post to Register System","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://ah-tools.duckdns.org:8443/serviceregistry/mgmt/systems","tls":"a054664d.daab08","persist":false,"proxy":"","authType":"","x":570,"y":640,"wires":[["65c3a26f.7ea36c"]]},{"id":"81d40679c0abd241","type":"http in","z":"40e9364ed2ac9c1d","name":"Upload_Recipe","url":"/upload_recipe","method":"post","upload":false,"swaggerDoc":"","x":100,"y":120,"wires":[["e9b53f20aa37f7e3"]]},{"id":"067aaac6c58ea161","type":"xml","z":"40e9364ed2ac9c1d","name":"ParsePayloadToXML","property":"payload","attr":"","chr":"","x":600,"y":120,"wires":[["d0120502c36bbbb8"]]},{"id":"8cdd85ebae59c67b","type":"change","z":"40e9364ed2ac9c1d","name":"GetProcessNameActiviti","rules":[{"t":"set","p":"name","pt":"flow","to":"msg.payload.definitions.process[0].$.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":140,"wires":[["8ab4b01092b3a0d6"]]},{"id":"a573d05e34c27ecc","type":"function","z":"40e9364ed2ac9c1d","name":"PrepareInsert","func":"var name = flow.get(\"name\");\nvar strXmlRecipe = flow.get(\"strXmlRecipe\");\nvar implementationKind = msg.implementationKind;\nmsg.topic = \"INSERT INTO `process` (`id`, `name`, `recipe`, `implementationKind`)\"+\n    \" VALUES (NULL, '\" + name + \"', '\" + strXmlRecipe + \"', '\" + implementationKind +\"');\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":220,"wires":[["f8ae4d6e90b27e9b"]]},{"id":"f8ae4d6e90b27e9b","type":"mysql","z":"40e9364ed2ac9c1d","mydb":"6cf75f29.e3fd6","name":"InsertOrUpdateProcessIntoDB","x":1010,"y":260,"wires":[["173ba43924a3a46c"]]},{"id":"bee1f2cfe077f47e","type":"comment","z":"40e9364ed2ac9c1d","name":"Upload Recipe","info":"Enables uploading the recipes in BPMN format","x":100,"y":60,"wires":[]},{"id":"e9b53f20aa37f7e3","type":"function","z":"40e9364ed2ac9c1d","name":"AnalyzeKindOfBpmnCreator","func":"//get implementation kind\nmsg.implementationKind = \"activiti\";\nif (msg.payload.includes(\"xmlns:camunda\")) msg.implementationKind = \"camunda\";\n\n//replace ' by \"\nmsg.payload = msg.payload.replaceAll(\"'\", '\"');\n//remove all line breaks\n//msg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm, \"\");\n\n//store plain text in a flow variable to prepare insert later\nflow.set(\"strXmlRecipe\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":120,"wires":[["067aaac6c58ea161"]]},{"id":"0722d9d7cde18dd9","type":"comment","z":"40e9364ed2ac9c1d","name":"Evaluate if recipe already exists","info":"","x":150,"y":200,"wires":[]},{"id":"173ba43924a3a46c","type":"http response","z":"40e9364ed2ac9c1d","name":"","statusCode":"","headers":{},"x":1230,"y":380,"wires":[]},{"id":"6e45dd9ec43a478a","type":"mysql","z":"40e9364ed2ac9c1d","mydb":"6cf75f29.e3fd6","name":"SelectCountRecipe","x":310,"y":260,"wires":[["64e8271a40a61370"]]},{"id":"2d01b203e4df945a","type":"function","z":"40e9364ed2ac9c1d","name":"SetError","func":"msg.payload = \"Unexpected error\";\nmsg.statusCode=500;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":380,"wires":[["173ba43924a3a46c"]]},{"id":"dc1ab77f6fd67402","type":"function","z":"40e9364ed2ac9c1d","name":"PrepareSelect","func":"var name = flow.get(\"name\");\nmsg.topic = \"Select count(1) from process where name = '\" + name +\"';\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":260,"wires":[["6e45dd9ec43a478a"]]},{"id":"64e8271a40a61370","type":"switch","z":"40e9364ed2ac9c1d","name":"DoesThisRecipeExists?","property":"payload[0].count(1)","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gte","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":260,"wires":[["a573d05e34c27ecc"],["ee5367db6139eee1"]]},{"id":"ee5367db6139eee1","type":"function","z":"40e9364ed2ac9c1d","name":"PrepareUpdate","func":"var name = flow.get(\"name\");\nvar strXmlRecipe = flow.get(\"strXmlRecipe\");\nvar implementationKind = msg.implementationKind;\nmsg.topic = \"Update process \" +\n            \"set recipe = '\" + strXmlRecipe + \"', \" +\n            \"implementationKind = '\" + implementationKind + \"' \" +\n            \"Where name = '\" + name + \"';\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":300,"wires":[["f8ae4d6e90b27e9b"]]},{"id":"92957e84600b0ac8","type":"debug","z":"40e9364ed2ac9c1d","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":280,"y":440,"wires":[]},{"id":"7fba87c57c50e0ed","type":"catch","z":"40e9364ed2ac9c1d","name":"","scope":null,"uncaught":false,"x":80,"y":380,"wires":[["92957e84600b0ac8","2d01b203e4df945a"]]},{"id":"d0120502c36bbbb8","type":"switch","z":"40e9364ed2ac9c1d","name":"caseImplementationKind","property":"implementationKind","propertyType":"msg","rules":[{"t":"eq","v":"camunda","vt":"str"},{"t":"eq","v":"activiti","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":120,"wires":[["84dded6555d0d5c8"],["8cdd85ebae59c67b"]]},{"id":"84dded6555d0d5c8","type":"change","z":"40e9364ed2ac9c1d","name":"GetProcessNameCamunda","rules":[{"t":"set","p":"name","pt":"flow","to":"payload[\"bpmn:definitions\"][\"bpmn:process\"][0].$.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":100,"wires":[["8ab4b01092b3a0d6"]]},{"id":"8ab4b01092b3a0d6","type":"change","z":"40e9364ed2ac9c1d","name":"GetRecipe","rules":[{"t":"set","p":"recipe","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":120,"wires":[["dc1ab77f6fd67402"]]},{"id":"a26bee9a510795f2","type":"http in","z":"d7d2273353fc5fa5","name":"Start_Process","url":"/start_process","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["5bfe81800a5f4fc1"]]},{"id":"5bfe81800a5f4fc1","type":"function","z":"d7d2273353fc5fa5","name":"PrepareSelectProcess","func":"var process_name = msg.req.query.processname;\nvar delayTaskExecution = msg.req.query.delayTaskExecution ?? 0;\nmsg.topic = \"SELECT * FROM process WHERE name ='\" + process_name + \"';\";\nmsg.delay = Number(delayTaskExecution);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":100,"wires":[["ad2d0ffdafcfe6e7"]]},{"id":"63e61969be1a68fd","type":"http response","z":"d7d2273353fc5fa5","name":"","statusCode":"","headers":{},"x":1390,"y":140,"wires":[]},{"id":"ad2d0ffdafcfe6e7","type":"mysql","z":"d7d2273353fc5fa5","mydb":"6cf75f29.e3fd6","name":"SelectProcess","x":520,"y":100,"wires":[["ccc4eecd6f766d64"]]},{"id":"ccc4eecd6f766d64","type":"switch","z":"d7d2273353fc5fa5","name":"","property":"payload[0].id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":100,"wires":[["e46b4c533061b5f6"],["a052643f26f8ee8d"]]},{"id":"3b69d3558a515f2e","type":"function","z":"d7d2273353fc5fa5","name":"PrepareInsertProcessInstance","func":"msg.topic = \"INSERT INTO process_instance (id, status, process_id) \" +\n    \"VALUES (NULL, 'In_Progress', \" + msg.processId + \");\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":340,"wires":[["79b1d25f49066983"]]},{"id":"79b1d25f49066983","type":"mysql","z":"d7d2273353fc5fa5","mydb":"6cf75f29.e3fd6","name":"InsertProcessInstance","x":480,"y":340,"wires":[["a688ac85d452c06a"]]},{"id":"cf68ebd8618b6778","type":"link out","z":"d7d2273353fc5fa5","name":"Create Instance","mode":"link","links":["ad2cfe0adef6daf5"],"x":1225,"y":60,"wires":[]},{"id":"ad2cfe0adef6daf5","type":"link in","z":"d7d2273353fc5fa5","name":"Create Instance","links":["cf68ebd8618b6778"],"x":35,"y":340,"wires":[["3b69d3558a515f2e"]]},{"id":"6b3943e41adb892b","type":"comment","z":"d7d2273353fc5fa5","name":"Create Instance","info":"Creates a process instance in DB","x":100,"y":280,"wires":[]},{"id":"07c34dcce3313660","type":"link in","z":"d7d2273353fc5fa5","name":"Send Reply","links":["cab075f08da1a653"],"x":1305,"y":60,"wires":[["63e61969be1a68fd"]]},{"id":"cab075f08da1a653","type":"link out","z":"d7d2273353fc5fa5","name":"Send Reply","mode":"link","links":["07c34dcce3313660"],"x":955,"y":500,"wires":[]},{"id":"862f439e5e100552","type":"xml","z":"d7d2273353fc5fa5","name":"ParseRecipeXmlToObj","property":"recipe","attr":"","chr":"","x":960,"y":340,"wires":[["4ce63bf48969ba52"]]},{"id":"4ce63bf48969ba52","type":"link out","z":"d7d2273353fc5fa5","name":"Create StartEvent","links":["6e11552fb89a9d42"],"x":1125,"y":340,"wires":[]},{"id":"6e11552fb89a9d42","type":"link in","z":"d7d2273353fc5fa5","name":"Create StartEvent","links":["4ce63bf48969ba52"],"x":35,"y":540,"wires":[["7a55c177f258bf7b"]]},{"id":"2fc5f3a7152db293","type":"comment","z":"d7d2273353fc5fa5","name":"Insert StartEvent Task","info":"Creates the first task (StartEvent) in the DB and calls Update Process to start with the execution and management of the process.","x":120,"y":480,"wires":[]},{"id":"7a55c177f258bf7b","type":"function","z":"d7d2273353fc5fa5","name":"PrepareInsertActiveTask(StartEvent)","func":"var taskBpmnId = msg.recipe.definitions.process[0].startEvent[0].$.id;\nvar taskBpmnName = msg.recipe.definitions.process[0].startEvent[0].$.name;\nvar processInstanceId = msg.processInstanceId;\nmsg.topic = \"INSERT INTO active_task (bpmn_id, name, type, status, instance_id) \" +\n    \"VALUES ('\" + taskBpmnId + \"', '\" + taskBpmnName + \"', 'startEvent', 'Ready_To_Start', '\" + processInstanceId + \"');\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":540,"wires":[["ab9274614b8da2f1"]]},{"id":"ab9274614b8da2f1","type":"mysql","z":"d7d2273353fc5fa5","mydb":"6cf75f29.e3fd6","name":"InsertActiveTask(Start)","x":500,"y":540,"wires":[["3c929ae13480409b","7de89cc4e970019b"]]},{"id":"7de89cc4e970019b","type":"link out","z":"d7d2273353fc5fa5","name":"OutInsertStartEventTask","mode":"link","links":["7f6858ea552d1904"],"x":675,"y":580,"wires":[]},{"id":"e46b4c533061b5f6","type":"change","z":"d7d2273353fc5fa5","name":"GetProcessValues","rules":[{"t":"set","p":"recipe","pt":"msg","to":"payload[0].recipe","tot":"msg"},{"t":"set","p":"implementationKind","pt":"msg","to":"payload[0].implementationKind","tot":"msg"},{"t":"set","p":"processName","pt":"msg","to":"payload[0].name","tot":"msg"},{"t":"set","p":"processId","pt":"msg","to":"payload[0].id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":60,"wires":[["775869edf48cf37a"]]},{"id":"a688ac85d452c06a","type":"change","z":"d7d2273353fc5fa5","name":"GetProcessInstanceId","rules":[{"t":"set","p":"processInstanceId","pt":"msg","to":"payload.insertId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":340,"wires":[["862f439e5e100552"]]},{"id":"63a94994fb5fddcc","type":"comment","z":"d7d2273353fc5fa5","name":"Start Process","info":"Endpoint that starts the process by creating a process instance and initializing the startEvent task.","x":90,"y":40,"wires":[]},{"id":"3c48a2499e5e8d3b","type":"comment","z":"d7d2273353fc5fa5","name":"Goto: Get all Ready_To_Start tasks","info":"Next subflow will gather all Ready_To_Start tasks for execution","x":800,"y":620,"wires":[]},{"id":"3c929ae13480409b","type":"function","z":"d7d2273353fc5fa5","name":"PrepareResponseMessage","func":"var processName = msg.req.query.processname;\nvar processInstanceId = msg.processInstanceId;\n\nmsg.payload = {\n    result: true,\n    message: \"Process has been started\",\n    processName: processName,\n    processInstanceId: processInstanceId\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":500,"wires":[["cab075f08da1a653"]]},{"id":"a052643f26f8ee8d","type":"function","z":"d7d2273353fc5fa5","name":"PrepareResponseMessage","func":"var processName = msg.req.query.processname;\nmsg.payload = {\n    result: false,\n    message: \"Process does not exists\",\n    processName: processName,\n    processInstanceId: 0\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":140,"wires":[["63e61969be1a68fd"]]},{"id":"af2b1032da05e1c8","type":"comment","z":"d7d2273353fc5fa5","name":"3 parameters are filled: msg.recipe, msg.implementationKind, msg.processInstanceId","info":"3 parameters are filled: msg.recipe, msg.implementationKind, msg.processInstanceId","x":450,"y":40,"wires":[]},{"id":"775869edf48cf37a","type":"function","z":"d7d2273353fc5fa5","name":"PrepareRecipe","func":"//have to remove \"bpmn:\" namespace in all elements\nif (msg.implementationKind == 'camunda') {\n    msg.recipe = msg.recipe.replaceAll(\"bpmn:\", \"\");\n    //msg.recipe = msg.recipe.replaceAll(\"bpmndi:\", \"\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":60,"wires":[["cf68ebd8618b6778"]]},{"id":"61771fec6a98d35a","type":"link in","z":"6f22e2d80a0a69a2","name":"InAnalyseTask","links":["61b327bdd35d0e07","349763f475f659f8"],"x":175,"y":180,"wires":[["f0edf607b0676d60"]]},{"id":"99256559907bf43f","type":"switch","z":"6f22e2d80a0a69a2","name":"Case Type","property":"activeTask.type","propertyType":"msg","rules":[{"t":"eq","v":"startEvent","vt":"str"},{"t":"eq","v":"serviceTask","vt":"str"},{"t":"eq","v":"parallelGateway","vt":"str"},{"t":"eq","v":"intermediateCatchEvent","vt":"str"},{"t":"eq","v":"endEvent","vt":"str"},{"t":"eq","v":"exclusiveGateway","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":960,"y":180,"wires":[["9430825392081310"],["d70708a38cd28c30"],["78a367a533749e25"],["6cde2c5a2045b93d"],["efd9b2e3bf1cc4f9"],["853f8194c48f20de"],["4685e105da7b531a"]]},{"id":"4071b30551278671","type":"change","z":"6f22e2d80a0a69a2","name":"GetActiveTaskObj","rules":[{"t":"set","p":"activeTask","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":180,"wires":[["0ec0a78d86b6d100","99256559907bf43f","cd0815a613cad19d"]]},{"id":"11c1292331f5527f","type":"comment","z":"6f22e2d80a0a69a2","name":"Analyse a Ready_To_Start task","info":"This flow analyses the active task's status and performs depending the type of active task identified.","x":290,"y":120,"wires":[]},{"id":"9430825392081310","type":"link out","z":"6f22e2d80a0a69a2","name":"OutCaseTypeStartEvent","mode":"link","links":["5ec85d165b7125bb"],"x":1125,"y":60,"wires":[]},{"id":"78a367a533749e25","type":"link out","z":"6f22e2d80a0a69a2","name":"OutCaseTypeParallelGateway","mode":"link","links":["1a07467b3bc36fc0"],"x":1125,"y":140,"wires":[]},{"id":"6cde2c5a2045b93d","type":"link out","z":"6f22e2d80a0a69a2","name":"OutCaseTypeIntermediateCatchEvent","mode":"link","links":["9253844dfa8d29f1"],"x":1125,"y":180,"wires":[]},{"id":"efd9b2e3bf1cc4f9","type":"link out","z":"6f22e2d80a0a69a2","name":"OutCaseTypeEndEvent","mode":"link","links":["e4d0483e131c0e65"],"x":1125,"y":220,"wires":[]},{"id":"539de5f40fe93878","type":"debug","z":"6f22e2d80a0a69a2","name":"TaskTypeNotSupported","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"debugMessage","targetType":"msg","statusVal":"","statusType":"auto","x":1480,"y":380,"wires":[]},{"id":"277564d54aa259c3","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InServiceTask","info":"Links to the serviceTask subflow","x":1240,"y":100,"wires":[]},{"id":"d675de7d1452fc08","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InParallelGateway","info":"Links to the parallelGateway subflow\nWe are not considering that a parallelGateway can happen after another parallelgateway. If this process is possible we should consider this situation for merging purposes","x":1260,"y":140,"wires":[]},{"id":"f46df403f1339b68","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InIntermediateCatchEvent","info":"Links to the intermediateCatchEvent subflow","x":1280,"y":180,"wires":[]},{"id":"9ac2c455e01513d5","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InEndEvent","info":"Links to the endEvent subflow","x":1240,"y":220,"wires":[]},{"id":"c6f3f44ad4494e9f","type":"comment","z":"6f22e2d80a0a69a2","name":"Set current task status to: In_Progress","info":"Sets the current Ready_To_Start task to In_Progress","x":310,"y":440,"wires":[]},{"id":"f56ab0f455b67279","type":"link in","z":"6f22e2d80a0a69a2","name":"InSetTaskStatusToInProgress","links":["0ec0a78d86b6d100"],"x":175,"y":480,"wires":[["65782fb2d6132a78"]]},{"id":"65782fb2d6132a78","type":"function","z":"6f22e2d80a0a69a2","name":"PrepareUpdateTaskInProgress","func":"msg.topic = \"UPDATE active_task \" + \n    \"SET status = 'In_Progress' \" +\n    \"WHERE bpmn_id = '\" + msg.activeTask.bpmn_id + \"' \" +\n    \"AND instance_id = '\" + msg.activeTask.instance_id + \"'\" +\n    \";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":480,"wires":[["a9dcb28d43bb86d0"]]},{"id":"a9dcb28d43bb86d0","type":"mysql","z":"6f22e2d80a0a69a2","mydb":"6cf75f29.e3fd6","name":"UpdateActiveTask","x":610,"y":480,"wires":[[]]},{"id":"d70708a38cd28c30","type":"link out","z":"6f22e2d80a0a69a2","name":"OutCaseTypeCallService","mode":"link","links":["0ff5ef5156bf71af"],"x":1125,"y":100,"wires":[]},{"id":"853f8194c48f20de","type":"link out","z":"6f22e2d80a0a69a2","name":"OutCaseTypeExclusiveGateway","mode":"link","links":["9b54320eb1ee71ed"],"x":1125,"y":260,"wires":[]},{"id":"6df0b6cc9049116a","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InExclusiveGateway","info":"Links to the exclusiveGateway subflow","x":1260,"y":260,"wires":[]},{"id":"eee01502643c1614","type":"function","z":"6f22e2d80a0a69a2","name":"PrepareInsertNewReadyToStartTask","func":"var processInstanceId = msg.processInstanceId;\nvar nextTaskObj = msg.nextTaskObj;\n\nmsg.topic = \"INSERT INTO active_task (bpmn_id, name, type, status, instance_id) \" +\n    \"VALUES ('\" + nextTaskObj.$.id + \"', '\" + nextTaskObj.$.name + \"', '\" + nextTaskObj.$.type + \"', 'Ready_To_Start', \" + processInstanceId + \");\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":620,"wires":[["37141620c5a5af3c"]]},{"id":"37141620c5a5af3c","type":"mysql","z":"6f22e2d80a0a69a2","mydb":"6cf75f29.e3fd6","name":"InsertReadyToStartTask","x":690,"y":620,"wires":[["295d341e60e6fcd5"]]},{"id":"4b4ed0835bc1601d","type":"function","z":"6f22e2d80a0a69a2","name":"GetSequenceFlowsForCurrentTask","func":"//get all sequence flows within the xml\nvar arAllSequenceFlows = msg.recipe.definitions.process[0].sequenceFlow;\n\n//get only sequenceFlows of the current task\nvar arActiveTaskSequenceFlows = arAllSequenceFlows.filter(x => x.$.sourceRef == msg.activeTask.bpmn_id);\n\nif(! arActiveTaskSequenceFlows){\n    msg.message = \"No sequenceFlows found for current active task \" + msg.activeTask.bpmn_id + \"\";\n    return;\n}\n\nmsg.payload = arActiveTaskSequenceFlows;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1360,"wires":[["45a7b44f05f4e99a"]]},{"id":"baef7f02e59fda2b","type":"comment","z":"6f22e2d80a0a69a2","name":"Find next task to be processed within the selected sequenceFlow","info":"1) Searchs for the next task to be processed within the selected sequenceFlow\n2) Evaluate if nextTask is parallelGateway, if so, apply join to avoid duplicates\n3) Goto: InInsertNewReadyToStartTask","x":390,"y":1520,"wires":[]},{"id":"9b597631be6a4bc2","type":"link in","z":"6f22e2d80a0a69a2","name":"InFindNextTaskToBeExecuted","links":["fd641fd82eb9984c","926dd1d4cefdca62"],"x":175,"y":1560,"wires":[["8b0c76c78bd1ad3c"]]},{"id":"0e9417ed612822b4","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InStartEvent","info":"In this case, just have to read connected sequence flow and move to the next task","x":1240,"y":60,"wires":[]},{"id":"ed0b0857f1e48ce0","type":"debug","z":"6f22e2d80a0a69a2","name":"CurrentTask","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"debugMessage","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":100,"wires":[]},{"id":"cd0815a613cad19d","type":"function","z":"6f22e2d80a0a69a2","name":"SetDebugMessage","func":"msg.debugMessage = {\n    CurrentTaskType: msg.activeTask.type,\n    CurrentTaskName: msg.activeTask.name,\n    CurrentTaskId: msg.activeTask.bpmn_id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":100,"wires":[["ed0b0857f1e48ce0"]]},{"id":"0ec0a78d86b6d100","type":"link out","z":"6f22e2d80a0a69a2","name":"OutGetActiveTaskObj","mode":"link","links":["f56ab0f455b67279"],"x":675,"y":240,"wires":[]},{"id":"663e9db489673cd7","type":"comment","z":"6f22e2d80a0a69a2","name":"Set current task status to: Finished_Treated","info":"1) Update current task to Finished_Treated\n2) If it's an EndEvent task: Terminate the whole process, otherwise\n3) Treat Ready_To_Start tasks","x":1090,"y":440,"wires":[]},{"id":"12ada1fd890d03f0","type":"link in","z":"6f22e2d80a0a69a2","name":"InSetTaskStatusToFinished","links":["66df14253e780cc6","b854dc19b6a59df1","45b8fbd613fc6e3d","4984b181a2494ffa","84dbf3873a414092","d0b7ec0987cfedb9","b35eed8bafec3701"],"x":935,"y":480,"wires":[["4b5bec5632249a05"]]},{"id":"4b5bec5632249a05","type":"function","z":"6f22e2d80a0a69a2","name":"PrepareUpdateTaskFinishedTreated","func":"msg.topic = \"UPDATE active_task \" +\n    \"SET status = 'Finished_Treated' \" +\n    \"WHERE bpmn_id = '\" + msg.activeTask.bpmn_id + \"' \" +\n    \"AND instance_id = \" + msg.activeTask.instance_id +\n    \";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":480,"wires":[["5c3b6cca9ea134d0"]]},{"id":"5c3b6cca9ea134d0","type":"mysql","z":"6f22e2d80a0a69a2","mydb":"6cf75f29.e3fd6","name":"UpdateActiveTask","x":1410,"y":480,"wires":[[]]},{"id":"45a7b44f05f4e99a","type":"split","z":"6f22e2d80a0a69a2","name":"SplitSequenceFlows","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":640,"y":1360,"wires":[["1258e6ee1948c091"]]},{"id":"bea150a7f5147aa0","type":"comment","z":"6f22e2d80a0a69a2","name":"ExclusiveGateway: Evaluate which sequenceFlow should be executed","info":"1) Get sequenceFlows linked to the current exclusiveGateway\n2) These sequenceFlows should have conditionExpressions, loop through them\n3) Evaluate each conditionExpression. Select the sequenceFlow that gets true as eval result\n4) Call subflow InMoveFromCurrentActiveTaskToNext","x":410,"y":1120,"wires":[]},{"id":"9b54320eb1ee71ed","type":"link in","z":"6f22e2d80a0a69a2","name":"InExclusiveGateway","links":["853f8194c48f20de"],"x":175,"y":1180,"wires":[["81b3860a780ccf61"]]},{"id":"81b3860a780ccf61","type":"function","z":"6f22e2d80a0a69a2","name":"EvaluateWhichSequenceFlowShallBeExecuted","func":"//get all sequence flows within the xml\nvar arAllSequenceFlows = msg.recipe.definitions.process[0].sequenceFlow;\n\n//get sequenceFlows linked to the current taks\nvar arActiveTaskSequenceFlows = arAllSequenceFlows.filter(x => x.$.sourceRef == msg.activeTask.bpmn_id);\n\nif(! arActiveTaskSequenceFlows){\n    msg.message = \"No sequenceFlows found for current task \" + msg.activeTask.bpmn_id + \"\";\n    return;\n}\n\n//camunda: the sequence flows of exlusiveGateways should have conditionExpressions, need to loop and evaluate\nvar conditionExpressionBoolResult;\nvar selectedSequenceFlow;\nvar conditionExpression;\n\nif(msg.implementationKind == \"camunda\"){\n    for (var i = 0; i < arActiveTaskSequenceFlows.length; i++) {\n        selectedSequenceFlow  = arActiveTaskSequenceFlows[i];\n        if (!selectedSequenceFlow.conditionExpression){\n            msg.message = \"Error, conditionExpression has not been set to the exclusiveGateway \" + msg.activeTask.bpmn_id + \"\";\n            return msg;\n        }\n        \n        //get condition expression of current sequenceFlow\n        conditionExpression = selectedSequenceFlow.conditionExpression[0][\"_\"];\n\n        //replace characters not recognized by JS\n        conditionExpression = conditionExpression.replace(\"$\",\"\").replace(\"{\",\"\").replace(\"}\",\"\");\n        \n        //replace variable name by the actual value given by msg.serviceResponse. if evaluating a string, put \\\" to the value\n        if (conditionExpression.includes(\"\\\"\")) \n            conditionExpression = conditionExpression.replace(msg.serviceResponseParameterName, \"\\\"\"+msg.serviceResponse+\"\\\"\");\n        else\n            conditionExpression = conditionExpression.replace(msg.serviceResponseParameterName, msg.serviceResponse);\n        \n        //evaluate conditionExpression. Select the sequenceFlow that gets true as eval result\n        try {\n            conditionExpressionBoolResult = eval(conditionExpression);\n            if (Boolean(conditionExpressionBoolResult)) break;\n        } catch (error) {\n            msg.message = error.message;\n            conditionExpressionBoolResult = false;\n            break;\n        };\n    }\n}else{\n    msg.message = \"Error, sorry to inform that evaluation of conditionExpressions are supported only for Camunda\";\n    return msg;\n}\n\nmsg.conditionExpression = conditionExpression;\nmsg.conditionExpressionBoolResult = conditionExpressionBoolResult;\nmsg.selectedSequenceFlow = selectedSequenceFlow;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1180,"wires":[["926dd1d4cefdca62","d0b7ec0987cfedb9"]]},{"id":"926dd1d4cefdca62","type":"link out","z":"6f22e2d80a0a69a2","name":"OutExclusiveGateway2","mode":"link","links":["9b597631be6a4bc2"],"x":685,"y":1220,"wires":[]},{"id":"cf837dfd4c3532c6","type":"comment","z":"6f22e2d80a0a69a2","name":"Get all sequenceFlows of current task","info":"1) Search all sequenceFlows of current active task.\n2) Loop through them","x":310,"y":1320,"wires":[]},{"id":"fe1aa0b1b14b375a","type":"link in","z":"6f22e2d80a0a69a2","name":"InGetAllSequenceFlowsCurrentTask","links":["b29475cfd8ef27a3","8bbc805839f5c73f","f22f527a97885946","1a2cd33a0d73f2e6","d95da8e49287ec81"],"x":175,"y":1360,"wires":[["4b4ed0835bc1601d"]]},{"id":"fd641fd82eb9984c","type":"link out","z":"6f22e2d80a0a69a2","name":"OutGetSequenceFlows","mode":"link","links":["9b597631be6a4bc2"],"x":1105,"y":1360,"wires":[]},{"id":"1258e6ee1948c091","type":"change","z":"6f22e2d80a0a69a2","name":"SetSelectedSequenceFlow","rules":[{"t":"set","p":"selectedSequenceFlow","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1360,"wires":[["fd641fd82eb9984c"]]},{"id":"4685e105da7b531a","type":"function","z":"6f22e2d80a0a69a2","name":"SetDebugMessage","func":"msg.debugMessage = \"Error, tasks of type \" + msg.activeTask.type + \" are not supported yet. This task will be skipped.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":300,"wires":[["539de5f40fe93878","45b8fbd613fc6e3d","d95da8e49287ec81"]]},{"id":"45b8fbd613fc6e3d","type":"link out","z":"6f22e2d80a0a69a2","name":"OutCaseTypeOther","mode":"link","links":["12ada1fd890d03f0"],"x":1385,"y":300,"wires":[]},{"id":"83d6fa55dd139394","type":"link out","z":"6f22e2d80a0a69a2","name":"OutCaseTypeEndEvent","mode":"link","links":["eeda8ea68f11e45a"],"x":425,"y":820,"wires":[]},{"id":"f0edf607b0676d60","type":"delay","z":"6f22e2d80a0a69a2","name":"DelayTaskExecution","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":320,"y":180,"wires":[["4071b30551278671"]]},{"id":"a30f2cfc51644e38","type":"link out","z":"6f22e2d80a0a69a2","name":"OutMoveFromCurrentActiveTaskToNext","mode":"link","links":["7f6858ea552d1904"],"x":985,"y":620,"wires":[]},{"id":"f23620efc5746406","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InFinishProcessInstance","info":"","x":590,"y":820,"wires":[]},{"id":"3d3b947ce46f8817","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InTreatReadyToStartTasks","info":"","x":1150,"y":620,"wires":[]},{"id":"8b0c76c78bd1ad3c","type":"function","z":"6f22e2d80a0a69a2","name":"FindNextTaskWithinTheSequenceFlow","func":"//get next taskBpmnId by getting targetRef value of the current sequenceFlow\nvar nextTaskBpmnId = msg.selectedSequenceFlow.$.targetRef;\nvar nextTaskObj;\n\n//find the next task to be executed\nvar processObj = msg.recipe.definitions.process[0];\nfor (let processEntry in processObj) {\n    //the first entry $ is not a task. dont consider it\n    if (processEntry == '$') continue;\n\n    nextTaskObj = processObj[processEntry].find(x => x.$.id == nextTaskBpmnId);\n    if (nextTaskObj){\n        //set type\n        nextTaskObj.$.type = processEntry;\n        break;\n    }    \n}\n\nif (!nextTaskObj){\n    msg.message = \"Error, task \" + nextTaskBpmnId + \" not found\";\n    return msg;\n}\n\nmsg.nextTaskObj = nextTaskObj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1560,"wires":[["26c6cc82c713e4d1"]]},{"id":"9bc6b955b73ecfd0","type":"comment","z":"6f22e2d80a0a69a2","name":"ParallelGateway: Wait for termination of previous tasks","info":"","x":360,"y":920,"wires":[]},{"id":"1a07467b3bc36fc0","type":"link in","z":"6f22e2d80a0a69a2","name":"InParallelGateway","links":["78a367a533749e25"],"x":175,"y":980,"wires":[["7046286005316cfc"]]},{"id":"7046286005316cfc","type":"join","z":"6f22e2d80a0a69a2","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":330,"y":980,"wires":[["8bbc805839f5c73f","4984b181a2494ffa"]]},{"id":"8bbc805839f5c73f","type":"link out","z":"6f22e2d80a0a69a2","name":"OutParallelGateway2","mode":"link","links":["fe1aa0b1b14b375a"],"x":465,"y":1020,"wires":[]},{"id":"295d341e60e6fcd5","type":"join","z":"6f22e2d80a0a69a2","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":620,"wires":[["a30f2cfc51644e38"]]},{"id":"26c6cc82c713e4d1","type":"switch","z":"6f22e2d80a0a69a2","name":"IsParallelGateway?","property":"nextTaskObj.$.type","propertyType":"msg","rules":[{"t":"eq","v":"parallelGateway","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1560,"wires":[["f88cfa9a8d145142"],["06706f01132eb2ad"]]},{"id":"f88cfa9a8d145142","type":"join","z":"6f22e2d80a0a69a2","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":1520,"wires":[["06706f01132eb2ad"]]},{"id":"9416cf3a0ce24f17","type":"comment","z":"6f22e2d80a0a69a2","name":"EndEvent","info":"1) Update current task to Finished_Treated\n2) Terminate the whole process","x":220,"y":740,"wires":[]},{"id":"e4d0483e131c0e65","type":"link in","z":"6f22e2d80a0a69a2","name":"InEndEvent","links":["efd9b2e3bf1cc4f9"],"x":175,"y":800,"wires":[["b854dc19b6a59df1","83d6fa55dd139394"]]},{"id":"b854dc19b6a59df1","type":"link out","z":"6f22e2d80a0a69a2","name":"OutCaseTypeEndEvent","mode":"link","links":["12ada1fd890d03f0"],"x":425,"y":780,"wires":[]},{"id":"5aae2b8ca3439db4","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InSetTaskStatusToFinished","info":"","x":590,"y":780,"wires":[]},{"id":"2108556d2c0367e6","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InFindNextTaskToBeExecuted","info":"","x":1280,"y":1360,"wires":[]},{"id":"d0b7ec0987cfedb9","type":"link out","z":"6f22e2d80a0a69a2","name":"OutExclusiveGateway","mode":"link","links":["12ada1fd890d03f0"],"x":685,"y":1180,"wires":[]},{"id":"e4732226882a5c4f","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InSetTaskStatusToFinished","info":"","x":850,"y":1180,"wires":[]},{"id":"942e80364f40fa77","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InFindNextTaskToBeExecuted","info":"","x":860,"y":1220,"wires":[]},{"id":"a06680ac819737dc","type":"comment","z":"6f22e2d80a0a69a2","name":"StartEvent","info":"1) Update current task to Finished_Treated\n2) Get next senquenceFlows","x":980,"y":740,"wires":[]},{"id":"5ec85d165b7125bb","type":"link in","z":"6f22e2d80a0a69a2","name":"InStartEvent","links":["9430825392081310"],"x":935,"y":800,"wires":[["b35eed8bafec3701","b29475cfd8ef27a3"]]},{"id":"b35eed8bafec3701","type":"link out","z":"6f22e2d80a0a69a2","name":"OutStartEvent","mode":"link","links":["12ada1fd890d03f0"],"x":1185,"y":780,"wires":[]},{"id":"401f658bea8a5cf6","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InSetTaskStatusToFinished","info":"","x":1350,"y":780,"wires":[]},{"id":"b29475cfd8ef27a3","type":"link out","z":"6f22e2d80a0a69a2","name":"OutStartEvent","mode":"link","links":["fe1aa0b1b14b375a"],"x":1185,"y":820,"wires":[]},{"id":"96ca2fc4a32d364f","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InGetAllSequenceFlowsCurrentTask","info":"","x":660,"y":1020,"wires":[]},{"id":"9495539a852cceb4","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InGetAllSequenceFlowsCurrentTask","info":"","x":1380,"y":820,"wires":[]},{"id":"54948f28aa6c5eac","type":"comment","z":"6f22e2d80a0a69a2","name":"Insert new Ready_To_Start Task","info":"1) Insert a new task under the status Ready_To_Start\n2) Join because many Ready_To_Start tasks can be inserted\n2) Goto: InTreatReadyToStartTasks","x":290,"y":580,"wires":[]},{"id":"3eeca5fe760d6916","type":"link in","z":"6f22e2d80a0a69a2","name":"InInsertNewReadyToStartTask","links":["06706f01132eb2ad"],"x":175,"y":620,"wires":[["eee01502643c1614"]]},{"id":"06706f01132eb2ad","type":"link out","z":"6f22e2d80a0a69a2","name":"OutFindNextTaskToBeExecuted","mode":"link","links":["3eeca5fe760d6916"],"x":945,"y":1560,"wires":[]},{"id":"d6f600b19dc64190","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InInsertNewReadyToStartTask","info":"","x":1140,"y":1560,"wires":[]},{"id":"4984b181a2494ffa","type":"link out","z":"6f22e2d80a0a69a2","name":"OutParallelGateway","mode":"link","links":["12ada1fd890d03f0"],"x":465,"y":980,"wires":[]},{"id":"9b884ad5c1afbc63","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InSetTaskStatusToFinished","info":"","x":630,"y":980,"wires":[]},{"id":"2cabb272d149d252","type":"comment","z":"6f22e2d80a0a69a2","name":"IntermediateCatchEvent","info":"","x":1020,"y":920,"wires":[]},{"id":"9253844dfa8d29f1","type":"link in","z":"6f22e2d80a0a69a2","name":"InIntermediateCatchEvent","links":["6cde2c5a2045b93d"],"x":935,"y":980,"wires":[["a9612311341642fd"]]},{"id":"a9612311341642fd","type":"join","z":"6f22e2d80a0a69a2","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":980,"wires":[["6a0a1aaaaeee1c0f"]]},{"id":"1a2cd33a0d73f2e6","type":"link out","z":"6f22e2d80a0a69a2","name":"OutIntermediateCatchEvent2","mode":"link","links":["fe1aa0b1b14b375a"],"x":1425,"y":1020,"wires":[]},{"id":"6868dc482c1cdf34","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InGetAllSequenceFlowsCurrentTask","info":"","x":1620,"y":1020,"wires":[]},{"id":"66df14253e780cc6","type":"link out","z":"6f22e2d80a0a69a2","name":"OutIntermediateCatchEvent","mode":"link","links":["12ada1fd890d03f0"],"x":1425,"y":980,"wires":[]},{"id":"e62b38f71c5d4032","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InSetTaskStatusToFinished","info":"","x":1590,"y":980,"wires":[]},{"id":"4aad7126bb5a3c48","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InSetTaskStatusToFinished","info":"","x":1540,"y":300,"wires":[]},{"id":"d95da8e49287ec81","type":"link out","z":"6f22e2d80a0a69a2","name":"OutCaseTypeOther2","mode":"link","links":["fe1aa0b1b14b375a"],"x":1385,"y":340,"wires":[]},{"id":"6bae47cc2c6c0042","type":"comment","z":"6f22e2d80a0a69a2","name":"Goto: InGetAllSequenceFlowsCurrentTask","info":"","x":1570,"y":340,"wires":[]},{"id":"6a0a1aaaaeee1c0f","type":"function","z":"6f22e2d80a0a69a2","name":"GetMessageEventDefinition","func":"//get all intermediateCatchEvents of the whole process\nvar arIntermediateCatchEvents = msg.recipe.definitions.process[0].intermediateCatchEvent;\n\n//validate recipe should contain at least one ServiceTask\nif (!arIntermediateCatchEvents || arIntermediateCatchEvents.length == 0) {\n    msg.message = \"Error, recipe does not cotain any intermediateCatchEvent task\";\n    return msg;\n}\n\n//get the intermediateCatchEvent to be executed\nvar intermediateCatchEventXmlObj = arIntermediateCatchEvents.find(x => x.$.id == msg.activeTask.bpmn_id);\nif (!intermediateCatchEventXmlObj) {\n    msg.message = \"Error, intermediateCatchEvent task \" + msg.activeTask.bpmn_id + \" not found\";\n    return msg;\n}\n\n//get intermediateCatchEvent's messageRef attribute value\nmsg.intermediateCatchEventMessageRef = intermediateCatchEventXmlObj.messageEventDefinition[0].$.messageRef;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":980,"wires":[["66df14253e780cc6","1a2cd33a0d73f2e6","ec14cd59c68274cf"]]},{"id":"ec14cd59c68274cf","type":"debug","z":"6f22e2d80a0a69a2","name":"IntermediateCatchEventMessageRef","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"intermediateCatchEventMessageRef","targetType":"msg","statusVal":"","statusType":"auto","x":1560,"y":1060,"wires":[]},{"id":"0ff5ef5156bf71af","type":"link in","z":"0494be47ac055167","name":"InServiceTask","links":["10280d85ce54aeb0"],"x":25,"y":200,"wires":[["d0207932d5e30889"]]},{"id":"923f177d252ca11a","type":"comment","z":"0494be47ac055167","name":"Perform REST service invocation","info":"1) Gets service properties: URL, method, async, input, and output parameters\n2) Sends http request\n3) Stores service response\n\nAsync services:\n1) If the service is async, invoke endpoint and dont wait, just go to the next task without changing its status to finished.\n2) For the callback, set serviceResponse variable and update status to finished","x":140,"y":140,"wires":[]},{"id":"d0207932d5e30889","type":"function","z":"0494be47ac055167","name":"GetServiceTaskExtensionElements","func":"//get all serviceTasks\nvar arServiceTasks = msg.recipe.definitions.process[0].serviceTask;\n\n//validate recipe should contain at least one ServiceTask\nif (!arServiceTasks || arServiceTasks.length == 0){\n    msg.message = \"Error, recipe does not cotain any service task\";\n    return msg;\n}\n\n//get the serviceTask to be executed\nvar serviceTaskXmlObj = arServiceTasks.find(x => x.$.id == msg.activeTask.bpmn_id);\nif (!serviceTaskXmlObj){\n    msg.message = \"Error, service task \" + msg.activeTask.bpmn_id + \" not found\";\n    return msg;\n}\n\n//get and set ServiceTask's property values based on implementation kind\nvar serviceTaskIsAsync = false;\nvar serviceTaskUrl = \"\", serviceTaskMethod = \"\";\n\nswitch (msg.implementationKind){\n    case \"camunda\":\n        serviceTaskIsAsync = serviceTaskXmlObj.$[\"camunda:asyncBefore\"] == \"true\";\n        serviceTaskUrl = serviceTaskXmlObj.extensionElements[0][\"camunda:connector\"][0][\"camunda:inputOutput\"][0][\"camunda:inputParameter\"].find(x => x.$.name == \"url\")[\"_\"];\n        serviceTaskMethod = serviceTaskXmlObj.extensionElements[0][\"camunda:connector\"][0][\"camunda:inputOutput\"][0][\"camunda:inputParameter\"].find(x => x.$.name == \"method\")[\"_\"];\n        break;\n    case \"activiti\":\n        serviceTaskIsAsync = serviceTaskXmlObj.$[\"activiti:async\"] == \"true\";\n        serviceTaskUrl = serviceTaskXmlObj.extensionElements[0][\"activiti:field\"].find(x => x.$.name == \"serviceURL\")[\"activiti:string\"][0];\n        serviceTaskMethod = serviceTaskXmlObj.extensionElements[0][\"activiti:field\"].find(x => x.$.name == \"method\")[\"activiti:string\"][0];\n        break;\n    default:\n        break;\n}\n\nmsg.serviceTaskXmlObj = serviceTaskXmlObj;\nmsg.serviceTaskIsAsync = serviceTaskIsAsync;\nmsg.serviceTaskUrl = serviceTaskUrl;\nmsg.serviceTaskMethod = serviceTaskMethod;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":200,"wires":[["21c0e45bf95ba3e3"]]},{"id":"568248b9ea80334e","type":"http request","z":"0494be47ac055167","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":870,"y":280,"wires":[["04d5babc62052e60"]]},{"id":"3cd8a9ea9a3a7175","type":"switch","z":"0494be47ac055167","name":"IsAsync?","property":"serviceTaskIsAsync","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":200,"wires":[["f22f527a97885946","568248b9ea80334e"],["568248b9ea80334e"]]},{"id":"04d5babc62052e60","type":"function","z":"0494be47ac055167","name":"SetServiceResponse","func":"var outputParameterName;\nvar serviceResponse = [200, 201, 202].includes(msg.statusCode) ? msg.payload : \"null\";\n\nswitch (msg.implementationKind){\n    case \"camunda\":\n        outputParameterName = msg.serviceTaskXmlObj.extensionElements[0][\"camunda:connector\"][0][\"camunda:inputOutput\"][0][\"camunda:outputParameter\"][0].$.name;\n        break;\n    case \"activiti\":\n        outputParameterName = msg.serviceTaskXmlObj.$.id + \"Response\";\n        break;\n    default:\n        break;\n}\n\nmsg.serviceResponseParameterName = outputParameterName;\nmsg.serviceResponse = serviceResponse;\nmsg.serviceResponseDebugMessage = {\n    taskBpmnId: msg.serviceTaskXmlObj.$.id,\n    url: msg.serviceTaskUrl,\n    response: msg.serviceResponse\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":280,"wires":[["845cae69c7f133d0","84dbf3873a414092","875301623b7f355d"]]},{"id":"f22f527a97885946","type":"link out","z":"0494be47ac055167","name":"OutCallService2","mode":"link","links":["fe1aa0b1b14b375a"],"x":1465,"y":200,"wires":[]},{"id":"21c0e45bf95ba3e3","type":"change","z":"0494be47ac055167","name":"SetUrlAndMethod","rules":[{"t":"set","p":"url","pt":"msg","to":"serviceTaskUrl","tot":"msg"},{"t":"set","p":"method","pt":"msg","to":"serviceTaskMethod","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":200,"wires":[["3cd8a9ea9a3a7175"]]},{"id":"845cae69c7f133d0","type":"debug","z":"0494be47ac055167","name":"ServiceResponse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"serviceResponseDebugMessage","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":280,"wires":[]},{"id":"a5b054126ec69666","type":"comment","z":"0494be47ac055167","name":"Goto: InGetAllSequenceFlowsCurrentTask","info":"","x":1610,"y":160,"wires":[]},{"id":"84dbf3873a414092","type":"link out","z":"0494be47ac055167","name":"OutCallService","mode":"link","links":["12ada1fd890d03f0"],"x":1235,"y":320,"wires":[]},{"id":"ea92b8e043b9b320","type":"comment","z":"0494be47ac055167","name":"Goto: InSetTaskStatusToFinished","info":"","x":1350,"y":360,"wires":[]},{"id":"875301623b7f355d","type":"switch","z":"0494be47ac055167","name":"IsAsync?","property":"serviceTaskIsAsync","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1280,"y":240,"wires":[["f22f527a97885946"]]},{"id":"f5f31eda425b2c4e","type":"comment","z":"0494be47ac055167","name":"If IsAsync, invoke service and continue with next task at the same time","info":"","x":870,"y":160,"wires":[]},{"id":"7f6858ea552d1904","type":"link in","z":"5f8dcfefe36deb12","name":"InTreatReadyToStartTasks","links":["153f349cb3fa0360","83e6b8c44821058b","90175da6940cfce1","ce88afc5cc4d4e6c","7de89cc4e970019b","a30f2cfc51644e38"],"x":155,"y":120,"wires":[["ef7aa21418656a3b"]]},{"id":"ef7aa21418656a3b","type":"function","z":"5f8dcfefe36deb12","name":"PrepareSelectReadyToStartTasks","func":"//get all Ready_To_Start of current process instance\nmsg.topic = \"SELECT * FROM active_task \" +\n    \"WHERE status = 'Ready_To_Start' \" +\n    \"AND instance_id = \" + msg.processInstanceId +\n    \";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":120,"wires":[["2898c69c5ffb8e37"]]},{"id":"2898c69c5ffb8e37","type":"mysql","z":"5f8dcfefe36deb12","mydb":"6cf75f29.e3fd6","name":"SelectReadyToStartTasks","x":690,"y":120,"wires":[["357261abdbe12da4"]]},{"id":"357261abdbe12da4","type":"split","z":"5f8dcfefe36deb12","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":910,"y":120,"wires":[["349763f475f659f8"]]},{"id":"349763f475f659f8","type":"link out","z":"5f8dcfefe36deb12","name":"OutTreatReadyToStartTasks","mode":"link","links":["61771fec6a98d35a"],"x":1055,"y":120,"wires":[]},{"id":"83cd1c9ed8b5a5cd","type":"comment","z":"5f8dcfefe36deb12","name":"Get all Ready_To_Start tasks","info":"Subflow that deals with active tasks Ready_To_Start and progress in the execution of the process instance","x":260,"y":60,"wires":[]},{"id":"0800018752c17bdc","type":"comment","z":"5f8dcfefe36deb12","name":"Goto: InAnalyseTask","info":"","x":1130,"y":80,"wires":[]},{"id":"638b4c8dcf86d839","type":"function","z":"5f8dcfefe36deb12","name":"PrepareUpdate","func":"var processInstanceId = msg.activeTask.instance_id;\nmsg.topic = \"UPDATE process_instance \" +\n    \"SET status = 'Finished' \" + \n    \"WHERE id = \" + processInstanceId + \n    \";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":240,"wires":[["cf636fe684dbbc99"]]},{"id":"cf636fe684dbbc99","type":"mysql","z":"5f8dcfefe36deb12","mydb":"6cf75f29.e3fd6","name":"UpdateProcessInstance(Finished)","x":580,"y":240,"wires":[["712038c244517cce"]]},{"id":"21d2837e0f9e9dc4","type":"comment","z":"5f8dcfefe36deb12","name":"FinishProcessInstance","info":" updates status to a process instance to Finished","x":240,"y":180,"wires":[]},{"id":"eeda8ea68f11e45a","type":"link in","z":"5f8dcfefe36deb12","name":"InFinishProcessInstance","links":["b37aa6a4ef9be320","8e023349e74be3a9","83d6fa55dd139394"],"x":155,"y":240,"wires":[["638b4c8dcf86d839"]]},{"id":"3fe4b967c1bc2989","type":"debug","z":"5f8dcfefe36deb12","name":"Fin","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"debugMessage","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":240,"wires":[]},{"id":"712038c244517cce","type":"function","z":"5f8dcfefe36deb12","name":"SetDebugMessage","func":"msg.debugMessage = \"Process \" + msg.activeTask.instance_id + \" has finished its execution!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":240,"wires":[["3fe4b967c1bc2989"]]},{"id":"161e9d551f42c914","type":"function","z":"65206e2dbdb6ca65","name":"PrepareSelectProcessInstances","func":"msg.topic = \"SELECT \" +\n            \" p.name \" +\n            \",pi.id \" +\n            \",pi.status \" +\n            \"FROM process_instance pi \" + \n            \"INNER JOIN process p \" +\n            \"ON p.id = pi.process_id \" +\n            \"WHERE pi.status = 'In_Progress';\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":240,"wires":[["58cdc4f6161466db"]]},{"id":"58cdc4f6161466db","type":"mysql","z":"65206e2dbdb6ca65","mydb":"6cf75f29.e3fd6","name":"SelectProcessInstances","x":630,"y":240,"wires":[["8616fe5397cc35c9"]]},{"id":"b862656265933bfb","type":"function","z":"65206e2dbdb6ca65","name":"PrepareSelectActiveTasks","func":"msg.topic = \"SELECT \" +\n            \" instance_id \" +\n            \",bpmn_id \" +\n            \",status \"+\n            \",type \" +\n            \"FROM active_task \" +\n            \"WHERE status != 'Finished_Treated' \" +\n            \"ORDER BY instance_id;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":300,"wires":[["308f352332261fcf"]]},{"id":"308f352332261fcf","type":"mysql","z":"65206e2dbdb6ca65","mydb":"6cf75f29.e3fd6","name":"SelectActiveTasks","x":610,"y":300,"wires":[["d16a5c0edc1c1d37"]]},{"id":"5897257f61ae0b12","type":"inject","z":"65206e2dbdb6ca65","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":240,"wires":[["b862656265933bfb","161e9d551f42c914","ed0ce5986067eb74"]]},{"id":"8616fe5397cc35c9","type":"ui_table","z":"65206e2dbdb6ca65","group":"4bfc74fa8e02334d","name":"Running Process Instances","order":1,"width":"12","height":"4","columns":[{"field":"name","title":"Process","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"id","title":"Instance","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"status","title":"Status","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":940,"y":240,"wires":[]},{"id":"d16a5c0edc1c1d37","type":"ui_table","z":"65206e2dbdb6ca65","group":"a6ef445bd6ac4190","name":"RunningTasks","order":1,"width":"12","height":"4","columns":[{"field":"instance_id","title":"Instance","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"type","title":"Type","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"bpmn_id","title":"Bpmn TaskId","width":"50%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"status","title":"Status of Task","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":900,"y":300,"wires":[]},{"id":"ed0ce5986067eb74","type":"function","z":"65206e2dbdb6ca65","name":"PrepareSelectProcesses","func":"msg.topic = \"SELECT \" +\n            \" name \" +\n            \",implementationKind \" +\n            \"FROM process;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":180,"wires":[["b590575a3d95e86d"]]},{"id":"b590575a3d95e86d","type":"mysql","z":"65206e2dbdb6ca65","mydb":"6cf75f29.e3fd6","name":"SelectProcesses","x":610,"y":180,"wires":[["3beb737fbb52bafe"]]},{"id":"3beb737fbb52bafe","type":"ui_table","z":"65206e2dbdb6ca65","group":"8d2ca69b6e715f05","name":"Processes","order":1,"width":"24","height":"3","columns":[{"field":"name","title":"Process","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"implementationKind","title":"Implementation Kind","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":890,"y":180,"wires":[]},{"id":"ced7461c2df7ea42","type":"http in","z":"8bcacb61a2c22b7a","name":"CollectAnswer Endpoint","url":"/collectAnswer","method":"post","upload":false,"swaggerDoc":"","x":210,"y":220,"wires":[["dd843b468da90e65"]]},{"id":"597202f7507e288a","type":"http response","z":"8bcacb61a2c22b7a","name":"","statusCode":"","headers":{},"x":1470,"y":480,"wires":[]},{"id":"1f13ac9c5b3d6f04","type":"debug","z":"8bcacb61a2c22b7a","name":"Collect Answer (Async)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1690,"y":140,"wires":[]},{"id":"5b3156d2a13d9326","type":"function","z":"8bcacb61a2c22b7a","name":"","func":"var arraySequenceFlow=msg.recipe.definitions.process[0].sequenceFlow;\nmsg.payload=arraySequenceFlow;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":740,"wires":[["a2afcf03667233cb","559a298ed65d4e22"]]},{"id":"a2afcf03667233cb","type":"split","z":"8bcacb61a2c22b7a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":740,"wires":[["8ae0456fa5975dcf"]]},{"id":"2401dc019acf94b4","type":"link in","z":"8bcacb61a2c22b7a","name":"After Service","links":["cf9acef9d07bd2ce"],"x":95,"y":740,"wires":[["5b3156d2a13d9326"]]},{"id":"8ae0456fa5975dcf","type":"switch","z":"8bcacb61a2c22b7a","name":"SourceRef","property":"payload.$.sourceRef","propertyType":"msg","rules":[{"t":"eq","v":"activeTask.bpmn_id","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":740,"wires":[["aeee528af381c3a8"],["aa2dd082579c5b7d"]]},{"id":"aeee528af381c3a8","type":"function","z":"8bcacb61a2c22b7a","name":"BuildInsertActiveTask","func":"var bpmn_id=msg.payload.$.targetRef;\n//var processInstanceId=flow.get(\"processInstance\");\nvar processInstanceId=msg.activeTask.instance_id;\n//var recipe=flow.get(\"recipe\");\nvar recipe=msg.recipe;\nvar object = recipe.definitions.process[0];\nvar name,type,entrada;\nvar element=new Object();\nfor (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==bpmn_id){\n         name=entrada.$.name; \n         type=property;\n    }\n    }\n    }\n}\nmsg.name=name;\nmsg.type=type;\nmsg.bpmn=bpmn_id;\nvar str1= \"REPLACE INTO `active_task` (`bpmn_id`, `name`, `type`, `status`, `instance_id`) VALUES ('\"+bpmn_id+\"', '\"+name+\"', '\"+type+\"', 'Ready_To_Start', \"+processInstanceId+\")\";\nmsg.topic=str1;\nif (msg.type===\"parallelGateway\"){ \n    return [ null ,msg];\n} else {\nreturn [ msg, null ];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":660,"wires":[["21ab0ef8dcb96443"],["13bbb5e6be9ddf74"]]},{"id":"aa2dd082579c5b7d","type":"join","z":"8bcacb61a2c22b7a","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1670,"y":746,"wires":[["3ae0788485715c2c"]]},{"id":"21ab0ef8dcb96443","type":"mysql","z":"8bcacb61a2c22b7a","mydb":"6cf75f29.e3fd6","name":"InsertActiveTask(Parallel)","x":970,"y":600,"wires":[["13bbb5e6be9ddf74"]]},{"id":"13bbb5e6be9ddf74","type":"function","z":"8bcacb61a2c22b7a","name":"Finish Call Service","func":"var bpmn_id=msg.activeTask.bpmn_id;\nvar instance_id=msg.activeTask.instance_id;\nvar str1= \"UPDATE `active_task` SET `status`='Finished' WHERE `bpmn_id`= '\"+bpmn_id+\"' AND `instance_id`= '\"+instance_id+\"'\";\nmsg.topic=str1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":660,"wires":[["cee659b9d2d2cc0d"]]},{"id":"cee659b9d2d2cc0d","type":"mysql","z":"8bcacb61a2c22b7a","mydb":"6cf75f29.e3fd6","name":"UpdateActiveTask(Call Service)","x":1450,"y":660,"wires":[["aa2dd082579c5b7d"]]},{"id":"f83c399ff979d1e7","type":"debug","z":"8bcacb61a2c22b7a","name":"Collect Answer Final (Sync)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1880,"y":800,"wires":[]},{"id":"9dfda1e5ecabf697","type":"comment","z":"8bcacb61a2c22b7a","name":"Next Task Upload","info":"Includes in DB the next task. If the actual task is a parallelGateway does not go forward.\nIt needs to check if all the branches have finished (merge) to progress. This is done in Update_Process","x":700,"y":600,"wires":[]},{"id":"80078c7028078cd1","type":"comment","z":"8bcacb61a2c22b7a","name":"Finish Service","info":"Finishes the serviceTask. It finishes with a flag Finished and not Finished_Treated. This is to assure correct merging of branches in the process. This is done in Update_Process","x":1190,"y":600,"wires":[]},{"id":"7247726731655bd0","type":"comment","z":"8bcacb61a2c22b7a","name":"From Call Service (Sync)","info":"This is to process syncrhonous service calls","x":250,"y":680,"wires":[]},{"id":"559a298ed65d4e22","type":"debug","z":"8bcacb61a2c22b7a","name":"Collect Answer (Sync)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"serviceResponse","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":800,"wires":[]},{"id":"5ed0708539d833a8","type":"comment","z":"8bcacb61a2c22b7a","name":"Back to Update Process","info":"","x":1840,"y":680,"wires":[]},{"id":"dd843b468da90e65","type":"json","z":"8bcacb61a2c22b7a","name":"","property":"payload","action":"","pretty":false,"x":390,"y":220,"wires":[["ebd6f9b15f18b04a"]]},{"id":"beb5577e6d3775c9","type":"comment","z":"8bcacb61a2c22b7a","name":"Collect Responses from Service (Async)","info":"This is to process asyncrhonous responses","x":240,"y":140,"wires":[]},{"id":"ebd6f9b15f18b04a","type":"change","z":"8bcacb61a2c22b7a","name":"","rules":[{"t":"set","p":"bpmn_id","pt":"msg","to":"payload.message_bpmn","tot":"msg"},{"t":"set","p":"instance_id","pt":"msg","to":"payload.message_instance_id","tot":"msg"},{"t":"set","p":"messageRef","pt":"msg","to":"payload.message_messageRef","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[["7c693df171ea2220"]]},{"id":"7c693df171ea2220","type":"function","z":"8bcacb61a2c22b7a","name":"Get Recipe","func":"var processInstanceId=msg.instance_id;\nvar str1= \"SELECT process.recipe FROM process INNER JOIN process_instance ON process.id=process_instance.process_id WHERE process_instance.id = \"+processInstanceId+\";\";\nmsg.topic=str1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":220,"wires":[["b10df611ae2832ed"]]},{"id":"b10df611ae2832ed","type":"mysql","z":"8bcacb61a2c22b7a","mydb":"6cf75f29.e3fd6","name":"Get Recipe","x":910,"y":220,"wires":[["733d12db5ebe318b"]]},{"id":"733d12db5ebe318b","type":"change","z":"8bcacb61a2c22b7a","name":"Save Recipe","rules":[{"t":"set","p":"recipe","pt":"msg","to":"payload[0].recipe","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":220,"wires":[["33bf3e843304c8c6"]]},{"id":"c83bf25f76eca11c","type":"function","z":"8bcacb61a2c22b7a","name":"GetMessageWait","func":"//Creates an array with the sequences where the target is the same parallelGateway\nvar bpmn_id=msg.bpmn_id;\nvar processInstanceId=msg.instance_id;\nvar arraySequenceFlow=msg.recipe.definitions.process[0].sequenceFlow; \nvar targetRef;\nvar messageRef=msg.messageRef;\nvar name,type,entrada;\nvar targetRefValid=false;\nvar element,sequence=new Object();\nfor (let indice in arraySequenceFlow) {\n   sequence=arraySequenceFlow[indice].$;\n    if (sequence.sourceRef==bpmn_id){\n        targetRef=sequence.targetRef;\n    } \n}   //cierre let sequence\nvar object = msg.recipe.definitions.process[0];\nfor (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==targetRef){\n        if(messageRef==entrada.messageEventDefinition[0].$.messageRef){\n         targetRefValid=true;   \n        }\n    }\n    }\n    }\n}\nmsg.targetRefValid=targetRefValid;\nmsg.targetRef=targetRef;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":220,"wires":[["fa5279ba815eb365"]]},{"id":"b8c331c214d2191d","type":"switch","z":"8bcacb61a2c22b7a","name":"TargetRefValid","property":"targetRefValid","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":480,"wires":[["f894dfd2b32efa3d"],["597202f7507e288a","8d1813ed99a1ea60"]]},{"id":"f894dfd2b32efa3d","type":"function","z":"8bcacb61a2c22b7a","name":"BuildInsertActiveTask","func":"var bpmn_id=msg.targetRef;\nvar processInstanceId=msg.instance_id;\nvar recipe=msg.recipe;\nvar object = recipe.definitions.process[0];\nvar name,type,entrada;\nvar element=new Object();\nfor (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==bpmn_id){\n         name=entrada.$.name; \n         type=property;\n    }\n    }\n    }\n}\nmsg.name=name;\nmsg.type=type;\nmsg.bpmn=bpmn_id;\nvar str1= \"REPLACE INTO `active_task` (`bpmn_id`, `name`, `type`, `status`, `instance_id`) VALUES ('\"+bpmn_id+\"', '\"+name+\"', '\"+type+\"', 'Ready_To_Start', \"+processInstanceId+\")\";\nmsg.topic=str1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":440,"wires":[["dd5313cb9da9fe84"]]},{"id":"dd5313cb9da9fe84","type":"mysql","z":"8bcacb61a2c22b7a","mydb":"6cf75f29.e3fd6","name":"InsertActiveTask(New)","x":700,"y":440,"wires":[["793db128f4c84f0d"]]},{"id":"793db128f4c84f0d","type":"function","z":"8bcacb61a2c22b7a","name":"Finish ServiceTask","func":"var bpmn_id=msg.bpmn_id;\nvar instance_id=msg.instance_id;\nvar str1= \"UPDATE `active_task` SET `status`='Finished_Treated' WHERE `bpmn_id`= '\"+bpmn_id+\"' AND `instance_id`= '\"+instance_id+\"'\";\nmsg.topic=str1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":440,"wires":[["5c21c3058a4ea4e4"]]},{"id":"5c21c3058a4ea4e4","type":"mysql","z":"8bcacb61a2c22b7a","mydb":"6cf75f29.e3fd6","name":"UpdateActiveTask(ServiceTask)","x":1170,"y":440,"wires":[["597202f7507e288a","8d1813ed99a1ea60"]]},{"id":"fa5279ba815eb365","type":"link out","z":"8bcacb61a2c22b7a","name":"Next Task Asyn","links":["ba33320686ff7ee3"],"x":1655,"y":220,"wires":[]},{"id":"ba33320686ff7ee3","type":"link in","z":"8bcacb61a2c22b7a","name":"Next Task Asyn","links":["fa5279ba815eb365"],"x":95,"y":480,"wires":[["b8c331c214d2191d"]]},{"id":"33bf3e843304c8c6","type":"xml","z":"8bcacb61a2c22b7a","name":"","property":"recipe","attr":"","chr":"","x":1270,"y":220,"wires":[["c83bf25f76eca11c"]]},{"id":"a1cfc8ca30d550e9","type":"debug","z":"8bcacb61a2c22b7a","name":"Collect Answer Async Final","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1480,"y":380,"wires":[]},{"id":"8d1813ed99a1ea60","type":"link out","z":"8bcacb61a2c22b7a","name":"Update_Process","links":["dc96102ec5e01359"],"x":1455,"y":540,"wires":[]},{"id":"6e621677c4895d1a","type":"comment","z":"8bcacb61a2c22b7a","name":"Update Process (Start Again)","info":"","x":1600,"y":540,"wires":[]},{"id":"3ae0788485715c2c","type":"link out","z":"8bcacb61a2c22b7a","name":"Treat Finished","links":["325db8396380ca6e"],"x":1825,"y":740,"wires":[]},{"id":"f38f5d595f6f5233","type":"comment","z":"8bcacb61a2c22b7a","name":"TODO: What is this module for? we're already collecting serviceResponses in Call_Service module","info":"","x":420,"y":100,"wires":[]}]