NodeREDFlows/Call_Service.json
[{"id":"0494be47ac055167","type":"tab","label":"Call_Service","disabled":false,"info":""},{"id":"0ff5ef5156bf71af","type":"link in","z":"0494be47ac055167","name":"InServiceTask","links":["10280d85ce54aeb0"],"x":25,"y":200,"wires":[["d0207932d5e30889"]]},{"id":"923f177d252ca11a","type":"comment","z":"0494be47ac055167","name":"Perform REST service invocation","info":"1) Gets service properties: URL, method, async, input, and output parameters\n2) Sends http request\n3) Stores service response\n\nAsync services:\n1) If the service is async, invoke endpoint and dont wait, just go to the next task without changing its status to finished.\n2) For the callback, set serviceResponse variable and update status to finished","x":140,"y":140,"wires":[]},{"id":"d0207932d5e30889","type":"function","z":"0494be47ac055167","name":"GetServiceTaskExtensionElements","func":"var currentTaskBpmnId = msg.activeTask.bpmn_id;\nvar implementationKind = msg.implementationKind;\nvar arServiceTasks = msg.recipe.definitions.process[0].serviceTask;\n\n//validate recipe should contain at least one ServiceTask\nif (!arServiceTasks || arServiceTasks.length == 0){\n    msg.message = \"Error, recipe does not cotain any service task\";\n    return msg;\n}\n\n//get the serviceTask to be executed\nvar serviceTaskXmlObj = arServiceTasks.find(x => x.$.id == currentTaskBpmnId);\nif (!serviceTaskXmlObj){\n    msg.message = \"Error, service task «\" + currentTaskBpmnId + \"» not found\";\n    return msg;\n}\n\n//get and set ServiceTask's property values based on implementation kind\nvar isAsync = false;\nvar url = \"\", method = \"\";\n\nswitch (implementationKind){\n    case \"camunda\":\n        isAsync = serviceTaskXmlObj.$[\"camunda:asyncBefore\"] == \"true\";\n        url = serviceTaskXmlObj.extensionElements[0][\"camunda:connector\"][0][\"camunda:inputOutput\"][0][\"camunda:inputParameter\"].find(x => x.$.name == \"url\")[\"_\"];\n        method = serviceTaskXmlObj.extensionElements[0][\"camunda:connector\"][0][\"camunda:inputOutput\"][0][\"camunda:inputParameter\"].find(x => x.$.name == \"method\")[\"_\"];\n        break;\n    case \"activiti\":\n        isAsync = serviceTaskXmlObj.$[\"activiti:async\"] == \"true\";\n        url = serviceTaskXmlObj.extensionElements[0][\"activiti:field\"].find(x => x.$.name ==\"serviceURL\")[\"activiti:string\"][0]; \n        method = serviceTaskXmlObj.extensionElements[0][\"activiti:field\"].find(x => x.$.name == \"method\")[\"activiti:string\"][0];\n        break;\n    default:\n        break;\n}\n\nmsg.serviceTaskXmlObj = serviceTaskXmlObj;\nmsg.serviceTaskIsAsync = isAsync;\nmsg.serviceTaskUrl = url;\nmsg.serviceTaskMethod = method;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":200,"wires":[["21c0e45bf95ba3e3"]]},{"id":"568248b9ea80334e","type":"http request","z":"0494be47ac055167","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":870,"y":280,"wires":[["04d5babc62052e60"]]},{"id":"3cd8a9ea9a3a7175","type":"switch","z":"0494be47ac055167","name":"IsAsync?","property":"serviceTaskIsAsync","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":200,"wires":[["f22f527a97885946","568248b9ea80334e"],["568248b9ea80334e"]]},{"id":"04d5babc62052e60","type":"function","z":"0494be47ac055167","name":"SetServiceResponse","func":"var serviceTaskXmlObj = msg.serviceTaskXmlObj;\n\nvar outputParameterName;\nswitch (msg.implementationKind){\n    case \"camunda\":\n        outputParameterName = serviceTaskXmlObj.extensionElements[0][\"camunda:connector\"][0][\"camunda:inputOutput\"][0][\"camunda:outputParameter\"][0].$.name;\n        break;\n    case \"activiti\":\n        outputParameterName = serviceTaskXmlObj.$.id + \"Response\";\n        break;\n    default:\n        break;\n}\n\nif (![200,201,202].includes(msg.statusCode)) {\n    msg.serviceResponse = \"null\";\n    msg.serviceResponseDebugMessage = {\n        taskBpmnId: serviceTaskXmlObj.$.id,\n        url: msg.serviceTaskUrl,\n        response: msg.serviceResponse\n    };\n    return msg;\n}\n\nmsg.serviceResponseParameterName = outputParameterName;\nmsg.serviceResponse = msg.payload;\nmsg.serviceResponseDebugMessage = {\n    taskBpmnId: serviceTaskXmlObj.$.id,\n    url: msg.serviceTaskUrl,\n    response: msg.serviceResponse\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":280,"wires":[["845cae69c7f133d0","84dbf3873a414092","875301623b7f355d"]]},{"id":"f22f527a97885946","type":"link out","z":"0494be47ac055167","name":"OutCallService2","mode":"link","links":["d3b544bb7ba5db0d"],"x":1465,"y":200,"wires":[]},{"id":"21c0e45bf95ba3e3","type":"change","z":"0494be47ac055167","name":"SetUrlAndMethod","rules":[{"t":"set","p":"url","pt":"msg","to":"serviceTaskUrl","tot":"msg"},{"t":"set","p":"method","pt":"msg","to":"serviceTaskMethod","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":200,"wires":[["3cd8a9ea9a3a7175"]]},{"id":"845cae69c7f133d0","type":"debug","z":"0494be47ac055167","name":"ServiceResponse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"serviceResponseDebugMessage","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":280,"wires":[]},{"id":"a5b054126ec69666","type":"comment","z":"0494be47ac055167","name":"Goto: InGetAllSequenceFlowsCurrentTask","info":"","x":1610,"y":160,"wires":[]},{"id":"84dbf3873a414092","type":"link out","z":"0494be47ac055167","name":"OutCallService","mode":"link","links":["0d6a507691820598"],"x":1235,"y":320,"wires":[]},{"id":"ea92b8e043b9b320","type":"comment","z":"0494be47ac055167","name":"Goto: InSetTaskStatusToFinished","info":"","x":1350,"y":360,"wires":[]},{"id":"875301623b7f355d","type":"switch","z":"0494be47ac055167","name":"IsAsync?","property":"serviceTaskIsAsync","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1280,"y":240,"wires":[["f22f527a97885946"]]},{"id":"f5f31eda425b2c4e","type":"comment","z":"0494be47ac055167","name":"If IsAsync, invoke service and continue with next task at the same time","info":"","x":870,"y":160,"wires":[]}]