NodeREDFlows/Collect_Answer.json
[{"id":"4c4c8f9f48343692","type":"tab","label":"Collect_Answer","disabled":false,"info":""},{"id":"67db07821fce8c6b","type":"http in","z":"4c4c8f9f48343692","name":"CollectAnswer Endpoint","url":"/collectAnswer","method":"post","upload":false,"swaggerDoc":"","x":210,"y":220,"wires":[["6d232134bcada946"]]},{"id":"41f9841781a67309","type":"http response","z":"4c4c8f9f48343692","name":"","statusCode":"","headers":{},"x":1470,"y":480,"wires":[]},{"id":"f0ef87f0abf749b7","type":"debug","z":"4c4c8f9f48343692","name":"Collect Answer (Async)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1690,"y":140,"wires":[]},{"id":"b2fec969ec3b4af1","type":"function","z":"4c4c8f9f48343692","name":"","func":"var arraySequenceFlow=msg.recipe.definitions.process[0].sequenceFlow;\nmsg.payload=arraySequenceFlow;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":740,"wires":[["0eda51c461f4ae21","48dc14079db437ce"]]},{"id":"0eda51c461f4ae21","type":"split","z":"4c4c8f9f48343692","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":740,"wires":[["67e44931c597494a"]]},{"id":"4a2b251f6e157674","type":"link in","z":"4c4c8f9f48343692","name":"After Service","links":["cf9acef9d07bd2ce"],"x":95,"y":740,"wires":[["b2fec969ec3b4af1"]]},{"id":"67e44931c597494a","type":"switch","z":"4c4c8f9f48343692","name":"SourceRef","property":"payload.$.sourceRef","propertyType":"msg","rules":[{"t":"eq","v":"activeTask.bpmn_id","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":740,"wires":[["dd31521d72572bc4"],["5efa4f79bb522742"]]},{"id":"dd31521d72572bc4","type":"function","z":"4c4c8f9f48343692","name":"BuildInsertActiveTask","func":"var bpmn_id=msg.payload.$.targetRef;\n//var processInstanceId=flow.get(\"processInstance\");\nvar processInstanceId=msg.activeTask.instance_id;\n//var recipe=flow.get(\"recipe\");\nvar recipe=msg.recipe;\nvar object = recipe.definitions.process[0];\nvar name,type,entrada;\nvar element=new Object();\nfor (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==bpmn_id){\n         name=entrada.$.name; \n         type=property;\n    }\n    }\n    }\n}\nmsg.name=name;\nmsg.type=type;\nmsg.bpmn=bpmn_id;\nvar str1= \"REPLACE INTO `active_task` (`bpmn_id`, `name`, `type`, `status`, `instance_id`) VALUES ('\"+bpmn_id+\"', '\"+name+\"', '\"+type+\"', 'Ready_To_Start', \"+processInstanceId+\")\";\nmsg.topic=str1;\nif (msg.type===\"parallelGateway\"){ \n    return [ null ,msg];\n} else {\nreturn [ msg, null ];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":660,"wires":[["8f8e8491a051e7e6"],["ee83a49ebcafec8c"]]},{"id":"5efa4f79bb522742","type":"join","z":"4c4c8f9f48343692","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1670,"y":746,"wires":[["fbc34fb456b5ecb6"]]},{"id":"8f8e8491a051e7e6","type":"mysql","z":"4c4c8f9f48343692","mydb":"6cf75f29.e3fd6","name":"InsertActiveTask(Parallel)","x":970,"y":600,"wires":[["ee83a49ebcafec8c"]]},{"id":"ee83a49ebcafec8c","type":"function","z":"4c4c8f9f48343692","name":"Finish Call Service","func":"var bpmn_id=msg.activeTask.bpmn_id;\nvar instance_id=msg.activeTask.instance_id;\nvar str1= \"UPDATE `active_task` SET `status`='Finished' WHERE `bpmn_id`= '\"+bpmn_id+\"' AND `instance_id`= '\"+instance_id+\"'\";\nmsg.topic=str1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":660,"wires":[["46434a9402f850ad"]]},{"id":"46434a9402f850ad","type":"mysql","z":"4c4c8f9f48343692","mydb":"6cf75f29.e3fd6","name":"UpdateActiveTask(Call Service)","x":1450,"y":660,"wires":[["5efa4f79bb522742"]]},{"id":"7eccd2dfbf3b780b","type":"debug","z":"4c4c8f9f48343692","name":"Collect Answer Final (Sync)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1880,"y":800,"wires":[]},{"id":"d96cf1c1b32b144c","type":"comment","z":"4c4c8f9f48343692","name":"Next Task Upload","info":"Includes in DB the next task. If the actual task is a parallelGateway does not go forward.\nIt needs to check if all the branches have finished (merge) to progress. This is done in Update_Process","x":700,"y":600,"wires":[]},{"id":"fd5570f052917b0a","type":"comment","z":"4c4c8f9f48343692","name":"Finish Service","info":"Finishes the serviceTask. It finishes with a flag Finished and not Finished_Treated. This is to assure correct merging of branches in the process. This is done in Update_Process","x":1190,"y":600,"wires":[]},{"id":"245d2b327cfca87d","type":"comment","z":"4c4c8f9f48343692","name":"From Call Service (Sync)","info":"This is to process syncrhonous service calls","x":250,"y":680,"wires":[]},{"id":"48dc14079db437ce","type":"debug","z":"4c4c8f9f48343692","name":"Collect Answer (Sync)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"serviceResponse","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":800,"wires":[]},{"id":"da1b52f5ca3fa2c9","type":"comment","z":"4c4c8f9f48343692","name":"Back to Update Process","info":"","x":1840,"y":680,"wires":[]},{"id":"6d232134bcada946","type":"json","z":"4c4c8f9f48343692","name":"","property":"payload","action":"","pretty":false,"x":390,"y":220,"wires":[["67eba9da7f460482"]]},{"id":"92bd62a3c8bc6347","type":"comment","z":"4c4c8f9f48343692","name":"Collect Responses from Service (Async)","info":"This is to process asyncrhonous responses","x":240,"y":140,"wires":[]},{"id":"67eba9da7f460482","type":"change","z":"4c4c8f9f48343692","name":"","rules":[{"t":"set","p":"bpmn_id","pt":"msg","to":"payload.message_bpmn","tot":"msg"},{"t":"set","p":"instance_id","pt":"msg","to":"payload.message_instance_id","tot":"msg"},{"t":"set","p":"messageRef","pt":"msg","to":"payload.message_messageRef","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[["9332a47824e0d03b"]]},{"id":"9332a47824e0d03b","type":"function","z":"4c4c8f9f48343692","name":"Get Recipe","func":"var processInstanceId=msg.instance_id;\nvar str1= \"SELECT process.recipe FROM process INNER JOIN process_instance ON process.id=process_instance.process_id WHERE process_instance.id = \"+processInstanceId+\";\";\nmsg.topic=str1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":220,"wires":[["ad14e3771417a4be"]]},{"id":"ad14e3771417a4be","type":"mysql","z":"4c4c8f9f48343692","mydb":"6cf75f29.e3fd6","name":"Get Recipe","x":910,"y":220,"wires":[["daa33604c81cd5ca"]]},{"id":"daa33604c81cd5ca","type":"change","z":"4c4c8f9f48343692","name":"Save Recipe","rules":[{"t":"set","p":"recipe","pt":"msg","to":"payload[0].recipe","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":220,"wires":[["09e6eb7ac8ee663f"]]},{"id":"96c64895b6d53afc","type":"function","z":"4c4c8f9f48343692","name":"GetMessageWait","func":"//Creates an array with the sequences where the target is the same parallelGateway\nvar bpmn_id=msg.bpmn_id;\nvar processInstanceId=msg.instance_id;\nvar arraySequenceFlow=msg.recipe.definitions.process[0].sequenceFlow; \nvar targetRef;\nvar messageRef=msg.messageRef;\nvar name,type,entrada;\nvar targetRefValid=false;\nvar element,sequence=new Object();\nfor (let indice in arraySequenceFlow) {\n   sequence=arraySequenceFlow[indice].$;\n    if (sequence.sourceRef==bpmn_id){\n        targetRef=sequence.targetRef;\n    } \n}   //cierre let sequence\nvar object = msg.recipe.definitions.process[0];\nfor (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==targetRef){\n        if(messageRef==entrada.messageEventDefinition[0].$.messageRef){\n         targetRefValid=true;   \n        }\n    }\n    }\n    }\n}\nmsg.targetRefValid=targetRefValid;\nmsg.targetRef=targetRef;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":220,"wires":[["a672d888bc414202"]]},{"id":"712d4b82e9f230ce","type":"switch","z":"4c4c8f9f48343692","name":"TargetRefValid","property":"targetRefValid","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":480,"wires":[["d7fc62c924b6206e"],["41f9841781a67309","83e6b8c44821058b"]]},{"id":"d7fc62c924b6206e","type":"function","z":"4c4c8f9f48343692","name":"BuildInsertActiveTask","func":"var bpmn_id=msg.targetRef;\nvar processInstanceId=msg.instance_id;\nvar recipe=msg.recipe;\nvar object = recipe.definitions.process[0];\nvar name,type,entrada;\nvar element=new Object();\nfor (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==bpmn_id){\n         name=entrada.$.name; \n         type=property;\n    }\n    }\n    }\n}\nmsg.name=name;\nmsg.type=type;\nmsg.bpmn=bpmn_id;\nvar str1= \"REPLACE INTO `active_task` (`bpmn_id`, `name`, `type`, `status`, `instance_id`) VALUES ('\"+bpmn_id+\"', '\"+name+\"', '\"+type+\"', 'Ready_To_Start', \"+processInstanceId+\")\";\nmsg.topic=str1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":440,"wires":[["b1cf6a325db26ba9"]]},{"id":"b1cf6a325db26ba9","type":"mysql","z":"4c4c8f9f48343692","mydb":"6cf75f29.e3fd6","name":"InsertActiveTask(New)","x":700,"y":440,"wires":[["6349279e9f6d261e"]]},{"id":"6349279e9f6d261e","type":"function","z":"4c4c8f9f48343692","name":"Finish ServiceTask","func":"var bpmn_id=msg.bpmn_id;\nvar instance_id=msg.instance_id;\nvar str1= \"UPDATE `active_task` SET `status`='Finished_Treated' WHERE `bpmn_id`= '\"+bpmn_id+\"' AND `instance_id`= '\"+instance_id+\"'\";\nmsg.topic=str1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":440,"wires":[["318bef10d5808045"]]},{"id":"318bef10d5808045","type":"mysql","z":"4c4c8f9f48343692","mydb":"6cf75f29.e3fd6","name":"UpdateActiveTask(ServiceTask)","x":1170,"y":440,"wires":[["41f9841781a67309","83e6b8c44821058b"]]},{"id":"a672d888bc414202","type":"link out","z":"4c4c8f9f48343692","name":"Next Task Asyn","links":["47c82953a5b84c81"],"x":1655,"y":220,"wires":[]},{"id":"47c82953a5b84c81","type":"link in","z":"4c4c8f9f48343692","name":"Next Task Asyn","links":["a672d888bc414202"],"x":95,"y":480,"wires":[["712d4b82e9f230ce"]]},{"id":"09e6eb7ac8ee663f","type":"xml","z":"4c4c8f9f48343692","name":"","property":"recipe","attr":"","chr":"","x":1270,"y":220,"wires":[["96c64895b6d53afc"]]},{"id":"96c2173a2f2e8b81","type":"debug","z":"4c4c8f9f48343692","name":"Collect Answer Async Final","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1480,"y":380,"wires":[]},{"id":"83e6b8c44821058b","type":"link out","z":"4c4c8f9f48343692","name":"Update_Process","links":["dc96102ec5e01359"],"x":1455,"y":540,"wires":[]},{"id":"7142ddf2d1d75a61","type":"comment","z":"4c4c8f9f48343692","name":"Update Process (Start Again)","info":"","x":1600,"y":540,"wires":[]},{"id":"fbc34fb456b5ecb6","type":"link out","z":"4c4c8f9f48343692","name":"Treat Finished","links":["325db8396380ca6e"],"x":1825,"y":740,"wires":[]},{"id":"742002191e917708","type":"comment","z":"4c4c8f9f48343692","name":"TODO: What is this module for? we're already collecting serviceResponses in Call_Service module","info":"","x":420,"y":100,"wires":[]},{"id":"6cf75f29.e3fd6","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"process","tz":"","charset":"UTF8"}]