NodeREDFlows/Start_Process.json
[{"id":"7fccaec6c84904c3","type":"tab","label":"Start_Process","disabled":false,"info":""},{"id":"295b73861acdb117","type":"http in","z":"7fccaec6c84904c3","name":"Start_Process","url":"/start_process","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["c91761a5c19b5675"]]},{"id":"c91761a5c19b5675","type":"function","z":"7fccaec6c84904c3","name":"PrepareSelectProcess","func":"var process_name = msg.req.query.processname;\nvar delayTaskExecution = msg.req.query.delayTaskExecution ?? 0;\nmsg.topic = \"SELECT * FROM `process` WHERE `name`='\"+ process_name +\"';\";\nmsg.delay = Number(delayTaskExecution);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":100,"wires":[["bb939dac5c603995"]]},{"id":"313e3d989cde5ef6","type":"http response","z":"7fccaec6c84904c3","name":"","statusCode":"","headers":{},"x":1390,"y":140,"wires":[]},{"id":"bb939dac5c603995","type":"mysql","z":"7fccaec6c84904c3","mydb":"6cf75f29.e3fd6","name":"SelectProcess","x":520,"y":100,"wires":[["09605e5ec11f9ce0"]]},{"id":"09605e5ec11f9ce0","type":"switch","z":"7fccaec6c84904c3","name":"","property":"payload[0].id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":100,"wires":[["c97414c2d0f6c2d9"],["efeb37854e04131e"]]},{"id":"f563bfcadcce0a35","type":"function","z":"7fccaec6c84904c3","name":"PrepareInsertProcessInstance","func":"var process_id = msg.payload[0].id;\nmsg.topic = \"INSERT INTO `process_instance` (`id`, `status`, `process_id`) VALUES (NULL, 'In_Progress', '\" + process_id + \"');\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":340,"wires":[["c3a934f781df5ae3"]]},{"id":"c3a934f781df5ae3","type":"mysql","z":"7fccaec6c84904c3","mydb":"6cf75f29.e3fd6","name":"InsertProcessInstance","x":480,"y":340,"wires":[["a154b679fa27f284"]]},{"id":"fc17cbfb501a6b43","type":"link out","z":"7fccaec6c84904c3","name":"Create Instance","mode":"link","links":["3e8d9e1f53e14a1a"],"x":1225,"y":60,"wires":[]},{"id":"3e8d9e1f53e14a1a","type":"link in","z":"7fccaec6c84904c3","name":"Create Instance","links":["fc17cbfb501a6b43"],"x":35,"y":340,"wires":[["f563bfcadcce0a35"]]},{"id":"af778c4e0a694714","type":"comment","z":"7fccaec6c84904c3","name":"Create Instance","info":"Creates a process instance in DB","x":100,"y":280,"wires":[]},{"id":"077bfe9b6de5d8ce","type":"link in","z":"7fccaec6c84904c3","name":"Send Reply","links":["c05b65c8d5b0bdc4"],"x":1305,"y":60,"wires":[["313e3d989cde5ef6"]]},{"id":"c05b65c8d5b0bdc4","type":"link out","z":"7fccaec6c84904c3","name":"Send Reply","mode":"link","links":["077bfe9b6de5d8ce"],"x":955,"y":500,"wires":[]},{"id":"51f9263526197da8","type":"xml","z":"7fccaec6c84904c3","name":"ParseRecipeXmlToObj","property":"recipe","attr":"","chr":"","x":960,"y":340,"wires":[["bde5a1a4fdaf2d3a"]]},{"id":"bde5a1a4fdaf2d3a","type":"link out","z":"7fccaec6c84904c3","name":"Create StartEvent","links":["f7943a22e0f670e8"],"x":1125,"y":340,"wires":[]},{"id":"f7943a22e0f670e8","type":"link in","z":"7fccaec6c84904c3","name":"Create StartEvent","links":["bde5a1a4fdaf2d3a"],"x":35,"y":540,"wires":[["25d6e0355f1f788f"]]},{"id":"998e5973c224fb48","type":"comment","z":"7fccaec6c84904c3","name":"Insert StartEvent Task","info":"Creates the first task (StartEvent) in the DB and calls Update Process to start with the execution and management of the process.","x":120,"y":480,"wires":[]},{"id":"25d6e0355f1f788f","type":"function","z":"7fccaec6c84904c3","name":"PrepareInsertActiveTask(StartEvent)","func":"var taskBpmnId = msg.recipe.definitions.process[0].startEvent[0].$.id;\nvar taskBpmnName = msg.recipe.definitions.process[0].startEvent[0].$.name;\nvar processInstanceId = msg.processInstanceId;\nmsg.topic = \"REPLACE INTO `active_task` (`bpmn_id`, `name`, `type`, `status`, `instance_id`) VALUES ('\" + taskBpmnId + \"', '\" + taskBpmnName + \"', 'startEvent', 'Ready_To_Start', '\" + processInstanceId + \"');\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":540,"wires":[["bdedfe4804d7942f"]]},{"id":"bdedfe4804d7942f","type":"mysql","z":"7fccaec6c84904c3","mydb":"6cf75f29.e3fd6","name":"InsertActiveTask(Start)","x":500,"y":540,"wires":[["8e4ad8b64e7880e2","ce88afc5cc4d4e6c"]]},{"id":"ce88afc5cc4d4e6c","type":"link out","z":"7fccaec6c84904c3","name":"Update_Process","mode":"link","links":["dc96102ec5e01359"],"x":675,"y":580,"wires":[]},{"id":"c97414c2d0f6c2d9","type":"change","z":"7fccaec6c84904c3","name":"GetProcessValues","rules":[{"t":"set","p":"recipe","pt":"msg","to":"payload[0].recipe","tot":"msg"},{"t":"set","p":"implementationKind","pt":"msg","to":"payload[0].implementationKind","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":60,"wires":[["d3bad3fd733fe82e"]]},{"id":"a154b679fa27f284","type":"change","z":"7fccaec6c84904c3","name":"GetProcessInstanceId","rules":[{"t":"set","p":"processInstanceId","pt":"msg","to":"payload.insertId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":340,"wires":[["51f9263526197da8"]]},{"id":"41752a3cca3297e7","type":"comment","z":"7fccaec6c84904c3","name":"Start Process","info":"Endpoint that starts the process by creating a process instance and initializing the startEvent task.","x":90,"y":40,"wires":[]},{"id":"ee990c1a5e402735","type":"comment","z":"7fccaec6c84904c3","name":"Goto: Get all Ready_To_Start tasks","info":"Next subflow will gather all Ready_To_Start tasks for execution","x":800,"y":620,"wires":[]},{"id":"8e4ad8b64e7880e2","type":"function","z":"7fccaec6c84904c3","name":"PrepareResponseMessage","func":"var processName = msg.req.query.processname;\nvar processInstanceId = msg.processInstanceId;\nmsg.payload = {\n    result: true,\n    message: \"Process has been started\",\n    processName: processName,\n    processInstanceId: processInstanceId\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":500,"wires":[["c05b65c8d5b0bdc4"]]},{"id":"efeb37854e04131e","type":"function","z":"7fccaec6c84904c3","name":"PrepareResponseMessage","func":"var processName = msg.req.query.processname;\nmsg.payload = {\n    result: false,\n    message: \"Process does not exists\",\n    processName: processName,\n    processInstanceId: 0\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":140,"wires":[["313e3d989cde5ef6"]]},{"id":"473f8e1056f71bf3","type":"comment","z":"7fccaec6c84904c3","name":"3 parameters are filled: msg.recipe, msg.implementationKind, msg.processInstanceId","info":"3 parameters are filled: msg.recipe, msg.implementationKind, msg.processInstanceId","x":450,"y":40,"wires":[]},{"id":"d3bad3fd733fe82e","type":"function","z":"7fccaec6c84904c3","name":"PrepareRecipe","func":"//have to remove \"bpmn:\" namespace in all elements\nif (msg.implementationKind == 'camunda') {\n    msg.recipe = msg.recipe.replaceAll(\"bpmn:\", \"\");\n    //msg.recipe = msg.recipe.replaceAll(\"bpmndi:\", \"\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":60,"wires":[["fc17cbfb501a6b43"]]},{"id":"6cf75f29.e3fd6","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"process","tz":"","charset":"UTF8"}]