NodeREDFlows/Update_Process.json
[{"id":"5da9f8a18ec10d35","type":"tab","label":"Update_Process","disabled":false,"info":"This flow checks if the active tasks should progress from Ready_to_Start to another state.\nIt also checks if finished processes merge with another branch of the process in a parallelGateway. Enables the process to progress if all of them have finihed."},{"id":"dc96102ec5e01359","type":"link in","z":"5da9f8a18ec10d35","name":"InTreatReadyToStartTasks","links":["153f349cb3fa0360","83e6b8c44821058b","90175da6940cfce1","ce88afc5cc4d4e6c"],"x":155,"y":120,"wires":[["9f31bfc9b3da35d4"]]},{"id":"9f31bfc9b3da35d4","type":"function","z":"5da9f8a18ec10d35","name":"PrepareSelectReadyToStartTasks","func":"msg.topic = \"SELECT * FROM `active_task` WHERE `status`= 'Ready_To_Start'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":120,"wires":[["75981d3876b194f7"]]},{"id":"75981d3876b194f7","type":"mysql","z":"5da9f8a18ec10d35","mydb":"6cf75f29.e3fd6","name":"SelectReadyToStartTasks","x":690,"y":120,"wires":[["b24bb72237ec2009"]]},{"id":"b24bb72237ec2009","type":"split","z":"5da9f8a18ec10d35","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":910,"y":120,"wires":[["61b327bdd35d0e07"]]},{"id":"61b327bdd35d0e07","type":"link out","z":"5da9f8a18ec10d35","name":"OutTreatReadyToStartTasks","mode":"link","links":["c8af43e032bf3a7a"],"x":1055,"y":120,"wires":[]},{"id":"5fb697217d740bab","type":"comment","z":"5da9f8a18ec10d35","name":"Get all Ready_To_Start tasks","info":"Subflow that deals with active tasks Ready_To_Start and progress in the execution of the process instance","x":260,"y":60,"wires":[]},{"id":"c359f6bf980095b6","type":"comment","z":"5da9f8a18ec10d35","name":"Goto: InAnalyseTask","info":"","x":1130,"y":80,"wires":[]},{"id":"1405649098523aeb","type":"function","z":"5da9f8a18ec10d35","name":"PrepareUpdate","func":"var id=msg.activeTask.instance_id;\nvar str1= \"UPDATE `process_instance` SET `status`='Finished' WHERE `id`= '\"+id+\"'\";\nmsg.topic=str1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":240,"wires":[["bce34dadc50e5087"]]},{"id":"bce34dadc50e5087","type":"mysql","z":"5da9f8a18ec10d35","mydb":"6cf75f29.e3fd6","name":"UpdateProcessInstance(Finished)","x":580,"y":240,"wires":[["ce350134d5a443df"]]},{"id":"27771d20f2f098b9","type":"comment","z":"5da9f8a18ec10d35","name":"FinishProcessInstance","info":" updates status to a process instance to Finished","x":240,"y":180,"wires":[]},{"id":"4c9172cb8034d8d3","type":"link in","z":"5da9f8a18ec10d35","name":"InFinishProcessInstance","links":["b37aa6a4ef9be320","8e023349e74be3a9"],"x":155,"y":240,"wires":[["1405649098523aeb"]]},{"id":"f567c67e8bf83f84","type":"debug","z":"5da9f8a18ec10d35","name":"Fin","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"debugMessage","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":240,"wires":[]},{"id":"ce350134d5a443df","type":"function","z":"5da9f8a18ec10d35","name":"SetDebugMessage","func":"msg.debugMessage = \"Process has finished its execution!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":240,"wires":[["f567c67e8bf83f84"]]},{"id":"6cf75f29.e3fd6","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"process","tz":"","charset":"UTF8"}]