NodeREDFlows/WorkflowManager_v0.1.json
[
    {
        "id": "51753b10.47e1c4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "79f1e6ca.50a228",
        "type": "tab",
        "label": "Upload_Recipe",
        "disabled": false,
        "info": "**Description**: Endpoint where users can upload recipes in BPMN format.\r\n**Functionality**: Perfoms the following actions:\r\nReads name of process from BPMN document (process id or name)\r\nInserts in DB a new process using name and whole BPMN document\r\n"
    },
    {
        "id": "f4528fa0.cab27",
        "type": "tab",
        "label": "Start_Process",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5ff803ec.c0e29c",
        "type": "tab",
        "label": "Update_Process",
        "disabled": false,
        "info": "This flow checks if the active tasks should progress from Ready_to_Start to another state.\nIt also checks if finished processes merge with another branch of the process in a parallelGateway. Enables the process to progress if all of them have finihed."
    },
    {
        "id": "44941254.48b59c",
        "type": "tab",
        "label": "Analyse_Task",
        "disabled": false,
        "info": "This flow analyse tasks and progress on the process depending on the conditions"
    },
    {
        "id": "38f8b3a3.9258bc",
        "type": "tab",
        "label": "Call Service",
        "disabled": false,
        "info": ""
    },
    {
        "id": "246622f2.4285ae",
        "type": "tab",
        "label": "Collect_Answer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f30253ba.b0537",
        "type": "tab",
        "label": "Service Provider",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6cf75f29.e3fd6",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "process",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "76e6939f.d8007c",
        "type": "inject",
        "z": "51753b10.47e1c4",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from personal;",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "7eb78ac2.bdc464"
            ]
        ]
    },
    {
        "id": "7eb78ac2.bdc464",
        "type": "mysql",
        "z": "51753b10.47e1c4",
        "mydb": "6cf75f29.e3fd6",
        "name": "Personal",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "4dfd49fa.44c9c8"
            ]
        ]
    },
    {
        "id": "4dfd49fa.44c9c8",
        "type": "debug",
        "z": "51753b10.47e1c4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "235c18aa.9107a8",
        "type": "http in",
        "z": "79f1e6ca.50a228",
        "name": "Upload_Recipe",
        "url": "/upload_recipe",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "9d6545cc.4e7b48"
            ]
        ]
    },
    {
        "id": "4ee7d1cc.df3cd",
        "type": "http response",
        "z": "79f1e6ca.50a228",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 180,
        "wires": []
    },
    {
        "id": "b8370778.84f7c8",
        "type": "debug",
        "z": "79f1e6ca.50a228",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 300,
        "wires": []
    },
    {
        "id": "c9d0d342.7f4f4",
        "type": "xml",
        "z": "79f1e6ca.50a228",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "cba5991b.1e3618"
            ]
        ]
    },
    {
        "id": "cba5991b.1e3618",
        "type": "change",
        "z": "79f1e6ca.50a228",
        "name": "Get name",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "flow",
                "to": "payload.definitions.process[0].$.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 180,
        "wires": [
            [
                "a68221d1.f3824"
            ]
        ]
    },
    {
        "id": "9d6545cc.4e7b48",
        "type": "change",
        "z": "79f1e6ca.50a228",
        "name": "Get Recipe",
        "rules": [
            {
                "t": "set",
                "p": "recipe",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "c9d0d342.7f4f4"
            ]
        ]
    },
    {
        "id": "7d3b236a.f9bb5c",
        "type": "mysql",
        "z": "51753b10.47e1c4",
        "mydb": "6cf75f29.e3fd6",
        "name": "Process",
        "x": 460,
        "y": 440,
        "wires": [
            [
                "13a750e1.aac9ff"
            ]
        ]
    },
    {
        "id": "1ec37ada.6239d5",
        "type": "inject",
        "z": "51753b10.47e1c4",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from process;",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "7d3b236a.f9bb5c"
            ]
        ]
    },
    {
        "id": "13a750e1.aac9ff",
        "type": "debug",
        "z": "51753b10.47e1c4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "a68221d1.f3824",
        "type": "function",
        "z": "79f1e6ca.50a228",
        "name": "",
        "func": "var name= flow.get(\"name\");\nvar recipe=flow.get(\"recipe\");\nvar str1= \"INSERT INTO `process` (`id`, `name`, `recipe`) VALUES (NULL, '\"+ name +\"', '\"+ recipe + \"');\"\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 800,
        "y": 180,
        "wires": [
            [
                "b84b0ffa.8d836"
            ]
        ]
    },
    {
        "id": "b84b0ffa.8d836",
        "type": "mysql",
        "z": "79f1e6ca.50a228",
        "mydb": "6cf75f29.e3fd6",
        "name": "Process",
        "x": 960,
        "y": 180,
        "wires": [
            [
                "4ee7d1cc.df3cd",
                "b8370778.84f7c8"
            ]
        ]
    },
    {
        "id": "6a513876.677948",
        "type": "http in",
        "z": "f4528fa0.cab27",
        "name": "Start_Process",
        "url": "/start_process",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 70,
        "y": 240,
        "wires": [
            [
                "9dd015f5.8c8508"
            ]
        ]
    },
    {
        "id": "9dd015f5.8c8508",
        "type": "function",
        "z": "f4528fa0.cab27",
        "name": "Build Query",
        "func": "var process_name= msg.req.query.processname;\nvar str1= \"SELECT * FROM `process` WHERE `name`='\"+ process_name +\"';\";\nmsg.topic=str1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "2b2ec64.e99373a"
            ]
        ]
    },
    {
        "id": "925c162e.eec348",
        "type": "http response",
        "z": "f4528fa0.cab27",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "2b2ec64.e99373a",
        "type": "mysql",
        "z": "f4528fa0.cab27",
        "mydb": "6cf75f29.e3fd6",
        "name": "SelectProcess",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "b364cd69.8e7ae"
            ]
        ]
    },
    {
        "id": "b364cd69.8e7ae",
        "type": "switch",
        "z": "f4528fa0.cab27",
        "name": "",
        "property": "payload[0].id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 240,
        "wires": [
            [
                "e13133d6.1397b"
            ],
            [
                "6ab63485.c870fc"
            ]
        ]
    },
    {
        "id": "6ab63485.c870fc",
        "type": "template",
        "z": "f4528fa0.cab27",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "El proceso no existe",
        "output": "str",
        "x": 800,
        "y": 260,
        "wires": [
            [
                "925c162e.eec348"
            ]
        ]
    },
    {
        "id": "d4fbabb.d3ab358",
        "type": "function",
        "z": "f4528fa0.cab27",
        "name": "BuildInsertProcessInstance",
        "func": "var process_id= msg.payload[0].id;\nvar str1= \"INSERT INTO `process_instance` (`id`, `status`, `process_id`) VALUES (NULL, 'In_Progress', '\"+process_id+\"');\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "fc6109e.5d03bf8"
            ]
        ]
    },
    {
        "id": "3489ab4b.af3e24",
        "type": "mysql",
        "z": "f4528fa0.cab27",
        "mydb": "6cf75f29.e3fd6",
        "name": "InsertProcessInstance",
        "x": 680,
        "y": 460,
        "wires": [
            [
                "3e06cac0.00d726"
            ]
        ]
    },
    {
        "id": "e13133d6.1397b",
        "type": "link out",
        "z": "f4528fa0.cab27",
        "name": "Create Instance",
        "links": [
            "5fc81f5b.bc6a7"
        ],
        "x": 735,
        "y": 180,
        "wires": []
    },
    {
        "id": "5fc81f5b.bc6a7",
        "type": "link in",
        "z": "f4528fa0.cab27",
        "name": "Create Instance",
        "links": [
            "e13133d6.1397b"
        ],
        "x": 15,
        "y": 460,
        "wires": [
            [
                "d4fbabb.d3ab358"
            ]
        ]
    },
    {
        "id": "211fe30c.f9383c",
        "type": "comment",
        "z": "f4528fa0.cab27",
        "name": "Create Instance",
        "info": "Creates a process instance in DB",
        "x": 90,
        "y": 400,
        "wires": []
    },
    {
        "id": "75489ae9.57bb84",
        "type": "link in",
        "z": "f4528fa0.cab27",
        "name": "Send Reply",
        "links": [
            "785e7287.2dc8ac"
        ],
        "x": 875,
        "y": 180,
        "wires": [
            [
                "925c162e.eec348"
            ]
        ]
    },
    {
        "id": "785e7287.2dc8ac",
        "type": "link out",
        "z": "f4528fa0.cab27",
        "name": "Send Reply",
        "links": [
            "75489ae9.57bb84"
        ],
        "x": 935,
        "y": 620,
        "wires": []
    },
    {
        "id": "c86b9c20.16aaa",
        "type": "xml",
        "z": "f4528fa0.cab27",
        "name": "Collect Recipe",
        "property": "recipe",
        "attr": "",
        "chr": "",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "d2e5ce25.5a165"
            ]
        ]
    },
    {
        "id": "26c2b32e.f7965c",
        "type": "link out",
        "z": "f4528fa0.cab27",
        "name": "Create StartEvent",
        "links": [
            "688c3b88.99e744"
        ],
        "x": 1055,
        "y": 460,
        "wires": []
    },
    {
        "id": "688c3b88.99e744",
        "type": "link in",
        "z": "f4528fa0.cab27",
        "name": "Create StartEvent",
        "links": [
            "26c2b32e.f7965c"
        ],
        "x": 35,
        "y": 680,
        "wires": [
            [
                "c86b9c20.16aaa"
            ]
        ]
    },
    {
        "id": "a3f4eb13.36e368",
        "type": "comment",
        "z": "f4528fa0.cab27",
        "name": "Create ActiveTask StartEvent",
        "info": "Creates the first task (StartEvent) in the DB and calls Update Process to start with the execution and management of the process.",
        "x": 140,
        "y": 600,
        "wires": []
    },
    {
        "id": "d2e5ce25.5a165",
        "type": "function",
        "z": "f4528fa0.cab27",
        "name": "BuildInsertActiveTask(StartEvent)",
        "func": "var bpmn_id=msg.recipe.definitions.process[0].startEvent[0].$.id;\nvar name=msg.recipe.definitions.process[0].startEvent[0].$.name;\nvar processInstanceId=msg.processInstanceId;\nvar str1= \"REPLACE INTO `active_task` (`bpmn_id`, `name`, `type`, `status`, `instance_id`) VALUES ('\"+bpmn_id+\"', '\"+name+\"', 'startEvent', 'Ready_To_Start', '\"+processInstanceId+\"');\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 680,
        "wires": [
            [
                "46659fc1.62de7"
            ]
        ]
    },
    {
        "id": "46659fc1.62de7",
        "type": "mysql",
        "z": "f4528fa0.cab27",
        "mydb": "6cf75f29.e3fd6",
        "name": "InsertActiveTask(Start)",
        "x": 720,
        "y": 680,
        "wires": [
            [
                "e2124a8a.6ce948",
                "785e7287.2dc8ac"
            ]
        ]
    },
    {
        "id": "e2124a8a.6ce948",
        "type": "link out",
        "z": "f4528fa0.cab27",
        "name": "Update_Process",
        "links": [
            "7140efe6.49f89"
        ],
        "x": 1075,
        "y": 680,
        "wires": []
    },
    {
        "id": "fc6109e.5d03bf8",
        "type": "change",
        "z": "f4528fa0.cab27",
        "name": "Get Recipe",
        "rules": [
            {
                "t": "set",
                "p": "recipe",
                "pt": "msg",
                "to": "payload[0].recipe",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 460,
        "wires": [
            [
                "3489ab4b.af3e24"
            ]
        ]
    },
    {
        "id": "3e06cac0.00d726",
        "type": "change",
        "z": "f4528fa0.cab27",
        "name": "Get ProcessId",
        "rules": [
            {
                "t": "set",
                "p": "processInstanceId",
                "pt": "msg",
                "to": "payload.insertId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 460,
        "wires": [
            [
                "26c2b32e.f7965c"
            ]
        ]
    },
    {
        "id": "35fe4c63.e38814",
        "type": "comment",
        "z": "f4528fa0.cab27",
        "name": "Start Process",
        "info": "Endpoint that starts the process by creating a process instance and initializing the startEvent task.",
        "x": 90,
        "y": 160,
        "wires": []
    },
    {
        "id": "71e815b6.abe47c",
        "type": "comment",
        "z": "f4528fa0.cab27",
        "name": "Call Update Process",
        "info": "This links the start process with the Update Process",
        "x": 1090,
        "y": 640,
        "wires": []
    },
    {
        "id": "7140efe6.49f89",
        "type": "link in",
        "z": "5ff803ec.c0e29c",
        "name": "Update_Process",
        "links": [
            "9c4aa617.8ce998",
            "e2124a8a.6ce948",
            "b4ab05b2.ce6718"
        ],
        "x": 155,
        "y": 240,
        "wires": [
            [
                "7cea63a7.79d5cc"
            ]
        ]
    },
    {
        "id": "7cea63a7.79d5cc",
        "type": "function",
        "z": "5ff803ec.c0e29c",
        "name": "Active Tasks Ready_To_Start",
        "func": "var str1= \"SELECT * FROM `active_task` WHERE `status`= 'Ready_To_Start'\";\nmsg.topic=str1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "a11c8ba.c325e78"
            ]
        ]
    },
    {
        "id": "a11c8ba.c325e78",
        "type": "mysql",
        "z": "5ff803ec.c0e29c",
        "mydb": "6cf75f29.e3fd6",
        "name": "SelectActiveTasks",
        "x": 570,
        "y": 240,
        "wires": [
            [
                "5016713c.1f5f8"
            ]
        ]
    },
    {
        "id": "644b604a.b5421",
        "type": "debug",
        "z": "5ff803ec.c0e29c",
        "name": "After split (Update Process)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "e76f7919.146b68",
        "type": "inject",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "7cea63a7.79d5cc"
            ]
        ]
    },
    {
        "id": "5016713c.1f5f8",
        "type": "split",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 240,
        "wires": [
            [
                "644b604a.b5421",
                "921a46ac.212fa8"
            ]
        ]
    },
    {
        "id": "921a46ac.212fa8",
        "type": "link out",
        "z": "5ff803ec.c0e29c",
        "name": "Analyse Task",
        "links": [
            "83cadc3f.368c1"
        ],
        "x": 905,
        "y": 200,
        "wires": []
    },
    {
        "id": "baaf5aaf.6f6a28",
        "type": "comment",
        "z": "5ff803ec.c0e29c",
        "name": "Treat Ready_To_Start",
        "info": "Subflow that deals with active tasks Ready_To_Start and progress in the execution of the process instance",
        "x": 240,
        "y": 180,
        "wires": []
    },
    {
        "id": "abf9a399.f57ed",
        "type": "link out",
        "z": "5ff803ec.c0e29c",
        "name": "Treat Finished",
        "links": [
            "d198084.4d748f8"
        ],
        "x": 995,
        "y": 320,
        "wires": []
    },
    {
        "id": "be46432.3c737c",
        "type": "comment",
        "z": "5ff803ec.c0e29c",
        "name": "To Analyse Task",
        "info": "",
        "x": 1020,
        "y": 180,
        "wires": []
    },
    {
        "id": "d198084.4d748f8",
        "type": "link in",
        "z": "5ff803ec.c0e29c",
        "name": "Treat Finished",
        "links": [
            "abf9a399.f57ed"
        ],
        "x": 35,
        "y": 520,
        "wires": [
            [
                "f8765e4e.19782"
            ]
        ]
    },
    {
        "id": "3761de2.e87df22",
        "type": "comment",
        "z": "5ff803ec.c0e29c",
        "name": "Treat Merge Finished",
        "info": "Subflow that deals with active tasks already finished to address merging with parallel Gateways",
        "x": 120,
        "y": 460,
        "wires": []
    },
    {
        "id": "f8765e4e.19782",
        "type": "function",
        "z": "5ff803ec.c0e29c",
        "name": "Active Tasks Finished",
        "func": "var str1= \"SELECT * FROM `active_task` WHERE `status`= 'Finished'\";\nmsg.topic=str1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "252a7e47.eaef62"
            ]
        ]
    },
    {
        "id": "252a7e47.eaef62",
        "type": "mysql",
        "z": "5ff803ec.c0e29c",
        "mydb": "6cf75f29.e3fd6",
        "name": "SelectActiveTasks",
        "x": 390,
        "y": 520,
        "wires": [
            [
                "b0a660f6.687b9"
            ]
        ]
    },
    {
        "id": "c2d9d65e.bdbf48",
        "type": "join",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 890,
        "y": 320,
        "wires": [
            [
                "abf9a399.f57ed"
            ]
        ]
    },
    {
        "id": "90659ccf.0ba83",
        "type": "debug",
        "z": "5ff803ec.c0e29c",
        "name": "No Merge Necesary Finished",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 960,
        "wires": []
    },
    {
        "id": "83cadc3f.368c1",
        "type": "link in",
        "z": "44941254.48b59c",
        "name": "",
        "links": [
            "921a46ac.212fa8"
        ],
        "x": 55,
        "y": 200,
        "wires": [
            [
                "358227c5.e8a108"
            ]
        ]
    },
    {
        "id": "a22c92f1.45a04",
        "type": "switch",
        "z": "44941254.48b59c",
        "name": "Case Type",
        "property": "activeTask.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "startEvent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "serviceTask",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "parallelGateway",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "intermediateCatchEvent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "endEvent",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 920,
        "y": 200,
        "wires": [
            [
                "3bc0f8d3.9c23a8"
            ],
            [
                "248ae1da.1d7c4e"
            ],
            [
                "eba6813f.11d8e"
            ],
            [
                "144bd4de.327f2b"
            ],
            [
                "388cf278.de6d5e"
            ],
            [
                "3c885f21.90579"
            ]
        ]
    },
    {
        "id": "8324f9da.96e4a8",
        "type": "function",
        "z": "44941254.48b59c",
        "name": "Get Recipe",
        "func": "var processInstanceId=msg.activeTask.instance_id;\nvar str1= \"SELECT process.recipe FROM process INNER JOIN process_instance ON process.id=process_instance.process_id WHERE process_instance.id = \"+processInstanceId+\";\";\nmsg.topic=str1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "a2bfeab9.2dee38"
            ]
        ]
    },
    {
        "id": "a2bfeab9.2dee38",
        "type": "mysql",
        "z": "44941254.48b59c",
        "mydb": "6cf75f29.e3fd6",
        "name": "Get Recipe",
        "x": 530,
        "y": 200,
        "wires": [
            [
                "75c03886.2fc918"
            ]
        ]
    },
    {
        "id": "358227c5.e8a108",
        "type": "change",
        "z": "44941254.48b59c",
        "name": "Save Active Task",
        "rules": [
            {
                "t": "set",
                "p": "activeTask",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "8324f9da.96e4a8"
            ]
        ]
    },
    {
        "id": "75c03886.2fc918",
        "type": "change",
        "z": "44941254.48b59c",
        "name": "Save Recipe",
        "rules": [
            {
                "t": "set",
                "p": "recipe",
                "pt": "msg",
                "to": "payload[0].recipe",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 200,
        "wires": [
            [
                "a22c92f1.45a04"
            ]
        ]
    },
    {
        "id": "2704e8bf.7cc0e8",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "Analyse Task",
        "info": "This flow analyses the active task's status and performs depending the type of active task identified.",
        "x": 90,
        "y": 140,
        "wires": []
    },
    {
        "id": "3bc0f8d3.9c23a8",
        "type": "link out",
        "z": "44941254.48b59c",
        "name": "StartEvent",
        "links": [
            "c72b75aa.51ff98"
        ],
        "x": 1075,
        "y": 100,
        "wires": []
    },
    {
        "id": "248ae1da.1d7c4e",
        "type": "link out",
        "z": "44941254.48b59c",
        "name": "Service Task",
        "links": [
            "92d1be2e.267d9"
        ],
        "x": 1075,
        "y": 160,
        "wires": []
    },
    {
        "id": "eba6813f.11d8e",
        "type": "link out",
        "z": "44941254.48b59c",
        "name": "Parallel Gateway",
        "links": [
            "41c147ff.9ca768"
        ],
        "x": 1075,
        "y": 200,
        "wires": []
    },
    {
        "id": "144bd4de.327f2b",
        "type": "link out",
        "z": "44941254.48b59c",
        "name": "IntermediateCatchEvent",
        "links": [
            "5fa969a7.b97738"
        ],
        "x": 1075,
        "y": 240,
        "wires": []
    },
    {
        "id": "388cf278.de6d5e",
        "type": "link out",
        "z": "44941254.48b59c",
        "name": "End Event",
        "links": [
            "84aaccca.d1519"
        ],
        "x": 1075,
        "y": 280,
        "wires": []
    },
    {
        "id": "3c885f21.90579",
        "type": "debug",
        "z": "44941254.48b59c",
        "name": "Unknown",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 320,
        "wires": []
    },
    {
        "id": "77450068.03d77",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "startEvent",
        "info": "Links to the startEven subflow",
        "x": 1170,
        "y": 100,
        "wires": []
    },
    {
        "id": "4788c759.30f6e8",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "serviceTask",
        "info": "Links to the serviceTask subflow",
        "x": 1170,
        "y": 160,
        "wires": []
    },
    {
        "id": "efaa785c.19c8a8",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "parallelGateway",
        "info": "Links to the parallelGateway subflow",
        "x": 1180,
        "y": 200,
        "wires": []
    },
    {
        "id": "cf985202.6c26b",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "intermediateCatchEvent",
        "info": "Links to the intermediateCatchEvent subflow",
        "x": 1200,
        "y": 240,
        "wires": []
    },
    {
        "id": "734d7c6.16d3f84",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "endEvent",
        "info": "Links to the endEvent subflow",
        "x": 1160,
        "y": 280,
        "wires": []
    },
    {
        "id": "5bf084ce.0d628c",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "startEvent",
        "info": "Links to the startEven subflow",
        "x": 80,
        "y": 360,
        "wires": []
    },
    {
        "id": "15d54bee.99cfa4",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "serviceTask",
        "info": "Links to the serviceTask subflow",
        "x": 90,
        "y": 520,
        "wires": []
    },
    {
        "id": "f8ca776d.e67438",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "parallelGateway",
        "info": "Links to the parallelGateway subflow",
        "x": 100,
        "y": 700,
        "wires": []
    },
    {
        "id": "2e3cc587.18e29a",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "intermediateCatchEvent",
        "info": "Links to the intermediateCatchEvent subflow",
        "x": 100,
        "y": 860,
        "wires": []
    },
    {
        "id": "5ac8b719.221448",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "endEvent",
        "info": "Links to the endEvent subflow",
        "x": 60,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c72b75aa.51ff98",
        "type": "link in",
        "z": "44941254.48b59c",
        "name": "StartEvent",
        "links": [
            "3bc0f8d3.9c23a8"
        ],
        "x": 15,
        "y": 420,
        "wires": [
            [
                "c6f730b8.7f8d4"
            ]
        ]
    },
    {
        "id": "367b96ae.3b4c9a",
        "type": "function",
        "z": "44941254.48b59c",
        "name": "BuildInsertActiveTask",
        "func": "var bpmn_id=msg.payload.$.targetRef;\nvar processInstanceId=flow.get(\"processInstance\");\nvar recipe=flow.get(\"recipe\");\nvar object = recipe.definitions.process[0];\nvar name,type,entrada;\nvar element=new Object();\nfor (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==bpmn_id){\n         name=entrada.$.name; \n         type=property;\n    }\n    }\n    }\n}\nmsg.name=name;\nmsg.type=type;\nmsg.bpmn=bpmn_id;\nvar str1= \"REPLACE INTO `active_task` (`bpmn_id`, `name`, `type`, `status`, `instance_id`) VALUES ('\"+bpmn_id+\"', '\"+name+\"', '\"+type+\"', 'Ready_To_Start', \"+processInstanceId+\")\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 380,
        "wires": [
            [
                "fe655f5d.416b2"
            ]
        ]
    },
    {
        "id": "fe655f5d.416b2",
        "type": "mysql",
        "z": "44941254.48b59c",
        "mydb": "6cf75f29.e3fd6",
        "name": "InsertActiveTask(Start)",
        "x": 1200,
        "y": 380,
        "wires": [
            [
                "ad087df5.54034"
            ]
        ]
    },
    {
        "id": "c6f730b8.7f8d4",
        "type": "xml",
        "z": "44941254.48b59c",
        "name": "",
        "property": "recipe",
        "attr": "",
        "chr": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "4299d779.9b6228"
            ]
        ]
    },
    {
        "id": "4299d779.9b6228",
        "type": "change",
        "z": "44941254.48b59c",
        "name": "Get ProcessInstance",
        "rules": [
            {
                "t": "set",
                "p": "processInstance",
                "pt": "flow",
                "to": "activeTask.instance_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "recipe",
                "pt": "flow",
                "to": "recipe",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "bpmnId",
                "pt": "flow",
                "to": "activeTask.bpmn_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 420,
        "wires": [
            [
                "64d1f3ee.7ba92c"
            ]
        ]
    },
    {
        "id": "64d1f3ee.7ba92c",
        "type": "function",
        "z": "44941254.48b59c",
        "name": "",
        "func": "var arraySequenceFlow=msg.recipe.definitions.process[0].sequenceFlow;\nmsg.payload=arraySequenceFlow;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "190c8b33.3bd1b5"
            ]
        ]
    },
    {
        "id": "190c8b33.3bd1b5",
        "type": "split",
        "z": "44941254.48b59c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 420,
        "wires": [
            [
                "5a53b0c.38da55"
            ]
        ]
    },
    {
        "id": "5a53b0c.38da55",
        "type": "switch",
        "z": "44941254.48b59c",
        "name": "SourceRef",
        "property": "payload.$.sourceRef",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "bpmnId",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 420,
        "wires": [
            [
                "367b96ae.3b4c9a"
            ],
            [
                "2e3a6c2e.a71f94"
            ]
        ]
    },
    {
        "id": "2e3a6c2e.a71f94",
        "type": "join",
        "z": "44941254.48b59c",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1890,
        "y": 426,
        "wires": [
            [
                "e1eb6896.666a08",
                "5524bb7b.637934"
            ]
        ]
    },
    {
        "id": "ad087df5.54034",
        "type": "function",
        "z": "44941254.48b59c",
        "name": "Finish StartEvent",
        "func": "var bpmn_id=msg.activeTask.bpmn_id;\nvar instance_id=msg.activeTask.instance_id;\nvar str1= \"UPDATE `active_task` SET `status`='Finished_Treated' WHERE `bpmn_id`= '\"+bpmn_id+\"' AND `instance_id`= '\"+instance_id+\"'\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1410,
        "y": 380,
        "wires": [
            [
                "db6565c1.2ca338"
            ]
        ]
    },
    {
        "id": "db6565c1.2ca338",
        "type": "mysql",
        "z": "44941254.48b59c",
        "mydb": "6cf75f29.e3fd6",
        "name": "UpdateActiveTask(Start)",
        "x": 1650,
        "y": 400,
        "wires": [
            [
                "2e3a6c2e.a71f94"
            ]
        ]
    },
    {
        "id": "e1eb6896.666a08",
        "type": "debug",
        "z": "44941254.48b59c",
        "name": "StartEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2050,
        "y": 426,
        "wires": []
    },
    {
        "id": "92d1be2e.267d9",
        "type": "link in",
        "z": "44941254.48b59c",
        "name": "Service Task",
        "links": [
            "248ae1da.1d7c4e"
        ],
        "x": 25,
        "y": 580,
        "wires": [
            [
                "26e13763.f4e828"
            ]
        ]
    },
    {
        "id": "b92ff775.e95a08",
        "type": "debug",
        "z": "44941254.48b59c",
        "name": "Service Task",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "26e13763.f4e828",
        "type": "function",
        "z": "44941254.48b59c",
        "name": "Update ServiceTask",
        "func": "var bpmn_id=msg.activeTask.bpmn_id;\nvar instance_id=msg.activeTask.instance_id;\nvar str1= \"UPDATE `active_task` SET `status`='In_Progress' WHERE `bpmn_id`= '\"+bpmn_id+\"' AND `instance_id`= '\"+instance_id+\"'\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "69e16376.424c4c"
            ]
        ]
    },
    {
        "id": "69e16376.424c4c",
        "type": "mysql",
        "z": "44941254.48b59c",
        "mydb": "6cf75f29.e3fd6",
        "name": "UpdateActiveTask(ServiceTask)",
        "x": 430,
        "y": 580,
        "wires": [
            [
                "b92ff775.e95a08",
                "27741732.a23368"
            ]
        ]
    },
    {
        "id": "27741732.a23368",
        "type": "link out",
        "z": "44941254.48b59c",
        "name": "Call Service",
        "links": [
            "263fbabc.f046f6"
        ],
        "x": 695,
        "y": 580,
        "wires": []
    },
    {
        "id": "41c147ff.9ca768",
        "type": "link in",
        "z": "44941254.48b59c",
        "name": "Parallel Gateway",
        "links": [
            "eba6813f.11d8e"
        ],
        "x": 45,
        "y": 780,
        "wires": [
            [
                "606feca4.2c31f4"
            ]
        ]
    },
    {
        "id": "606feca4.2c31f4",
        "type": "xml",
        "z": "44941254.48b59c",
        "name": "",
        "property": "recipe",
        "attr": "",
        "chr": "",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "545028aa.86f558"
            ]
        ]
    },
    {
        "id": "545028aa.86f558",
        "type": "change",
        "z": "44941254.48b59c",
        "name": "Get ProcessInstance",
        "rules": [
            {
                "t": "set",
                "p": "processInstance",
                "pt": "flow",
                "to": "activeTask.instance_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "recipe",
                "pt": "flow",
                "to": "recipe",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "bpmnId",
                "pt": "flow",
                "to": "activeTask.bpmn_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 780,
        "wires": [
            [
                "b3d26910.279ba8"
            ]
        ]
    },
    {
        "id": "b3d26910.279ba8",
        "type": "function",
        "z": "44941254.48b59c",
        "name": "",
        "func": "var arraySequenceFlow=msg.recipe.definitions.process[0].sequenceFlow;\nmsg.payload=arraySequenceFlow;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 780,
        "wires": [
            [
                "ca7ff85c.311428"
            ]
        ]
    },
    {
        "id": "ca7ff85c.311428",
        "type": "split",
        "z": "44941254.48b59c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 650,
        "y": 780,
        "wires": [
            [
                "a6ad83be.59ae9"
            ]
        ]
    },
    {
        "id": "a6ad83be.59ae9",
        "type": "switch",
        "z": "44941254.48b59c",
        "name": "SourceRef",
        "property": "payload.$.sourceRef",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "bpmnId",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 780,
        "wires": [
            [
                "2479f092.33007"
            ],
            [
                "af53db98.7cba08"
            ]
        ]
    },
    {
        "id": "2479f092.33007",
        "type": "function",
        "z": "44941254.48b59c",
        "name": "BuildInsertActiveTask",
        "func": "var bpmn_id=msg.payload.$.targetRef;\nvar processInstanceId=flow.get(\"processInstance\");\nvar recipe=flow.get(\"recipe\");\nvar object = recipe.definitions.process[0];\nvar name,type,entrada;\nvar element=new Object();\nfor (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==bpmn_id){\n         name=entrada.$.name; \n         type=property;\n    }\n    }\n    }\n}\nmsg.name=name;\nmsg.type=type;\nmsg.bpmn=bpmn_id;\nvar str1= \"REPLACE INTO `active_task` (`bpmn_id`, `name`, `type`, `status`, `instance_id`) VALUES ('\"+bpmn_id+\"', '\"+name+\"', '\"+type+\"', 'Ready_To_Start', \"+processInstanceId+\")\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 740,
        "wires": [
            [
                "bac28c70.72b9e"
            ]
        ]
    },
    {
        "id": "bac28c70.72b9e",
        "type": "mysql",
        "z": "44941254.48b59c",
        "mydb": "6cf75f29.e3fd6",
        "name": "InsertActiveTask(Parallel)",
        "x": 1250,
        "y": 760,
        "wires": [
            [
                "5ed3c581.73185c"
            ]
        ]
    },
    {
        "id": "5ed3c581.73185c",
        "type": "function",
        "z": "44941254.48b59c",
        "name": "Finish Parallel",
        "func": "var bpmn_id=msg.activeTask.bpmn_id;\nvar instance_id=msg.activeTask.instance_id;\nvar str1= \"UPDATE `active_task` SET `status`='Finished_Treated' WHERE `bpmn_id`= '\"+bpmn_id+\"' AND `instance_id`= '\"+instance_id+\"'\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1460,
        "y": 760,
        "wires": [
            [
                "c57e1c7b.672c2"
            ]
        ]
    },
    {
        "id": "c57e1c7b.672c2",
        "type": "mysql",
        "z": "44941254.48b59c",
        "mydb": "6cf75f29.e3fd6",
        "name": "UpdateActiveTask(Parallel)",
        "x": 1700,
        "y": 760,
        "wires": [
            [
                "af53db98.7cba08"
            ]
        ]
    },
    {
        "id": "af53db98.7cba08",
        "type": "join",
        "z": "44941254.48b59c",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1930,
        "y": 786,
        "wires": [
            [
                "926d2df0.ef512",
                "388a3b11.176d44"
            ]
        ]
    },
    {
        "id": "926d2df0.ef512",
        "type": "debug",
        "z": "44941254.48b59c",
        "name": "Parallel Gateway",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2110,
        "y": 786,
        "wires": []
    },
    {
        "id": "5fa969a7.b97738",
        "type": "link in",
        "z": "44941254.48b59c",
        "name": "IntermediateCatchEvent",
        "links": [
            "144bd4de.327f2b"
        ],
        "x": 55,
        "y": 920,
        "wires": [
            [
                "2f95f99e.7d9856"
            ]
        ]
    },
    {
        "id": "b64d817d.8f269",
        "type": "function",
        "z": "44941254.48b59c",
        "name": "Update IntermediateCatch",
        "func": "var bpmn_id=msg.activeTask.bpmn_id;\nvar instance_id=msg.activeTask.instance_id;\nvar str1= \"UPDATE `active_task` SET `status`='Finished_Treated' WHERE `bpmn_id`= '\"+bpmn_id+\"' AND `instance_id`= '\"+instance_id+\"'\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1530,
        "y": 880,
        "wires": [
            [
                "f915df06.90ea5"
            ]
        ]
    },
    {
        "id": "f915df06.90ea5",
        "type": "mysql",
        "z": "44941254.48b59c",
        "mydb": "6cf75f29.e3fd6",
        "name": "UpdateActiveTask(Intermediate)",
        "x": 1790,
        "y": 880,
        "wires": [
            [
                "f5b36624.31e308"
            ]
        ]
    },
    {
        "id": "7712c271.1e646c",
        "type": "debug",
        "z": "44941254.48b59c",
        "name": "IntermediateCatchEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2170,
        "y": 980,
        "wires": []
    },
    {
        "id": "84aaccca.d1519",
        "type": "link in",
        "z": "44941254.48b59c",
        "name": "End Event",
        "links": [
            "388cf278.de6d5e"
        ],
        "x": 25,
        "y": 1060,
        "wires": [
            [
                "4392ddc5.ec63b4"
            ]
        ]
    },
    {
        "id": "4392ddc5.ec63b4",
        "type": "function",
        "z": "44941254.48b59c",
        "name": "Update End Event",
        "func": "var bpmn_id=msg.activeTask.bpmn_id;\nvar instance_id=msg.activeTask.instance_id;\nvar str1= \"UPDATE `active_task` SET `status`='Finished_Treated' WHERE `bpmn_id`= '\"+bpmn_id+\"' AND `instance_id`= '\"+instance_id+\"'\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 190,
        "y": 1060,
        "wires": [
            [
                "7969ec8b.0cf234"
            ]
        ]
    },
    {
        "id": "7969ec8b.0cf234",
        "type": "mysql",
        "z": "44941254.48b59c",
        "mydb": "6cf75f29.e3fd6",
        "name": "UpdateActiveTask(End Event)",
        "x": 450,
        "y": 1060,
        "wires": [
            [
                "2bb418e8.e6c1a8"
            ]
        ]
    },
    {
        "id": "c68dcff9.2739d",
        "type": "debug",
        "z": "44941254.48b59c",
        "name": "End Event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 1060,
        "wires": []
    },
    {
        "id": "2bb418e8.e6c1a8",
        "type": "function",
        "z": "44941254.48b59c",
        "name": "Update Process Instance",
        "func": "var id=msg.activeTask.instance_id;\nvar str1= \"UPDATE `process_instance` SET `status`='Finished' WHERE `id`= '\"+id+\"'\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 730,
        "y": 1060,
        "wires": [
            [
                "f13ff6b7.574948"
            ]
        ]
    },
    {
        "id": "f13ff6b7.574948",
        "type": "mysql",
        "z": "44941254.48b59c",
        "mydb": "6cf75f29.e3fd6",
        "name": "UpdateProcessInstance(Finished)",
        "x": 1020,
        "y": 1060,
        "wires": [
            [
                "c68dcff9.2739d",
                "51746710.537b18"
            ]
        ]
    },
    {
        "id": "263fbabc.f046f6",
        "type": "link in",
        "z": "38f8b3a3.9258bc",
        "name": "Call Service",
        "links": [
            "27741732.a23368"
        ],
        "x": 55,
        "y": 200,
        "wires": [
            [
                "1fdd13f5.12bb7c"
            ]
        ]
    },
    {
        "id": "286e2a3d.96e036",
        "type": "comment",
        "z": "38f8b3a3.9258bc",
        "name": "Call Service",
        "info": "",
        "x": 80,
        "y": 140,
        "wires": []
    },
    {
        "id": "1fdd13f5.12bb7c",
        "type": "xml",
        "z": "38f8b3a3.9258bc",
        "name": "",
        "property": "recipe",
        "attr": "",
        "chr": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "5c30aac1.b4e2c4"
            ]
        ]
    },
    {
        "id": "5c30aac1.b4e2c4",
        "type": "change",
        "z": "38f8b3a3.9258bc",
        "name": "Get ProcessInstance",
        "rules": [
            {
                "t": "set",
                "p": "processInstance",
                "pt": "flow",
                "to": "activeTask.instance_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "recipe",
                "pt": "flow",
                "to": "recipe",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "bpmnId",
                "pt": "flow",
                "to": "activeTask.bpmn_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "3f8c089c.f39208"
            ]
        ]
    },
    {
        "id": "5524bb7b.637934",
        "type": "link out",
        "z": "44941254.48b59c",
        "name": "Back To Update Process",
        "links": [
            "86ed9d38.9e3cb"
        ],
        "x": 2025,
        "y": 380,
        "wires": []
    },
    {
        "id": "86ed9d38.9e3cb",
        "type": "link in",
        "z": "5ff803ec.c0e29c",
        "name": "Back to Update Process",
        "links": [
            "388a3b11.176d44",
            "51746710.537b18",
            "5524bb7b.637934",
            "8f4dcd7d.d11de",
            "f1042fe2.d29dc",
            "a8e396bf.27e2f8",
            "6e443fb.27e23c"
        ],
        "x": 755,
        "y": 320,
        "wires": [
            [
                "c2d9d65e.bdbf48",
                "c756579c.9e61e8"
            ]
        ]
    },
    {
        "id": "41c8c073.c9bb",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "Back to Update Process",
        "info": "",
        "x": 2090,
        "y": 340,
        "wires": []
    },
    {
        "id": "9c4aa617.8ce998",
        "type": "link out",
        "z": "5ff803ec.c0e29c",
        "name": "Update_Process",
        "links": [
            "7140efe6.49f89"
        ],
        "x": 1195,
        "y": 640,
        "wires": []
    },
    {
        "id": "e317bdfa.09b09",
        "type": "comment",
        "z": "5ff803ec.c0e29c",
        "name": "Start Again",
        "info": "",
        "x": 1300,
        "y": 640,
        "wires": []
    },
    {
        "id": "388a3b11.176d44",
        "type": "link out",
        "z": "44941254.48b59c",
        "name": "Back To Update Process",
        "links": [
            "86ed9d38.9e3cb"
        ],
        "x": 2035,
        "y": 720,
        "wires": []
    },
    {
        "id": "e7180fa6.8ac19",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "Back to Update Process",
        "info": "",
        "x": 2080,
        "y": 680,
        "wires": []
    },
    {
        "id": "8f4dcd7d.d11de",
        "type": "link out",
        "z": "44941254.48b59c",
        "name": "Back To Update Process",
        "links": [
            "86ed9d38.9e3cb"
        ],
        "x": 2095,
        "y": 920,
        "wires": []
    },
    {
        "id": "2876eb14.697054",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "Back to Update Process",
        "info": "",
        "x": 2060,
        "y": 880,
        "wires": []
    },
    {
        "id": "51746710.537b18",
        "type": "link out",
        "z": "44941254.48b59c",
        "name": "Back To Update Process",
        "links": [
            "86ed9d38.9e3cb"
        ],
        "x": 1195,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e94e208d.ebb3c",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "Back to Update Process",
        "info": "",
        "x": 1340,
        "y": 1000,
        "wires": []
    },
    {
        "id": "cc521163.91eef",
        "type": "debug",
        "z": "5ff803ec.c0e29c",
        "name": "No Merge Necessary",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e37f5a98.5497b8",
        "type": "split",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 710,
        "y": 520,
        "wires": [
            [
                "5e904ada.3147e4"
            ]
        ]
    },
    {
        "id": "5e904ada.3147e4",
        "type": "function",
        "z": "5ff803ec.c0e29c",
        "name": "MergeNecessary?",
        "func": "//Collect variables related to active task\nvar bpmn_id=msg.payload.bpmn_id;\nvar processInstanceId=msg.payload.instance_id;\nvar arraySequenceFlow=msg.recipe.definitions.process[0].sequenceFlow; \nvar targetRef;\nvar object = msg.recipe.definitions.process[0];\nvar type,entrada;\nvar element,sequence=new Object();\nmsg.arraySequenceFlow=arraySequenceFlow;\nvar parallel=false;\n//Check secuences where source is active task and targetRef is of parallelGateway type\nfor (let indice in arraySequenceFlow) {\n   sequence=arraySequenceFlow[indice].$;\n   msg.sequence=sequence;\n    if (sequence.sourceRef==bpmn_id){\n        targetRef=sequence.targetRef;\n            for (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==targetRef){\n         type=property;\n         if(type=='parallelGateway'){\n         msg.targetRef=targetRef;\n//returns msg first output to check merge (merge is necessary)\n         parallel=true;\n         }//cierre parallelGateway\n    }   //cierre entrada\n    }   //cierre if typeof\n    }  //cierre let entry\n    }  //Cierre let property  \n    } //cierre if\n}   //cierre let sequence\n//returns msg in second output merge is not necessary)\nmsg.parallel=parallel;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 870,
        "y": 520,
        "wires": [
            [
                "b60a1548.9724a8"
            ]
        ]
    },
    {
        "id": "97a15ad3.363d98",
        "type": "function",
        "z": "5ff803ec.c0e29c",
        "name": "BuildInsertActiveTask",
        "func": "var bpmn_id=msg.payload.$.targetRef;\nvar processInstanceId=msg.activeTask.instance_id;\nvar recipe=msg.recipe;\nvar object = recipe.definitions.process[0];\nvar name,type,entrada;\nvar element=new Object();\nfor (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==bpmn_id){\n         name=entrada.$.name; \n         type=property;\n    }\n    }\n    }\n}\nmsg.name=name;\nmsg.type=type;\nmsg.bpmn=bpmn_id;\nvar str1= \"REPLACE INTO `active_task` (`bpmn_id`, `name`, `type`, `status`, `instance_id`) VALUES ('\"+bpmn_id+\"', '\"+name+\"', '\"+type+\"', 'Ready_To_Start', \"+processInstanceId+\")\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 960,
        "wires": [
            [
                "51348c33.962fd4",
                "5a37ea82.172044"
            ]
        ]
    },
    {
        "id": "51348c33.962fd4",
        "type": "mysql",
        "z": "5ff803ec.c0e29c",
        "mydb": "6cf75f29.e3fd6",
        "name": "InsertActiveTask(New)",
        "x": 840,
        "y": 960,
        "wires": [
            [
                "abe456db.37e268"
            ]
        ]
    },
    {
        "id": "abe456db.37e268",
        "type": "function",
        "z": "5ff803ec.c0e29c",
        "name": "Finish ServiceTask",
        "func": "var bpmn_id=msg.activeTask.bpmn_id;\nvar instance_id=msg.activeTask.instance_id;\nvar str1= \"UPDATE `active_task` SET `status`='Finished_Treated' WHERE `bpmn_id`= '\"+bpmn_id+\"' AND `instance_id`= '\"+instance_id+\"'\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1050,
        "y": 960,
        "wires": [
            [
                "beefd688.bff268"
            ]
        ]
    },
    {
        "id": "beefd688.bff268",
        "type": "mysql",
        "z": "5ff803ec.c0e29c",
        "mydb": "6cf75f29.e3fd6",
        "name": "UpdateActiveTask(ServiceTask)",
        "x": 1310,
        "y": 960,
        "wires": [
            [
                "9c2f48cd.a65b88"
            ]
        ]
    },
    {
        "id": "c6951408.3ebe98",
        "type": "link out",
        "z": "5ff803ec.c0e29c",
        "name": "No Merge Necessary",
        "links": [
            "def25773.e3ad48"
        ],
        "x": 1255,
        "y": 540,
        "wires": []
    },
    {
        "id": "def25773.e3ad48",
        "type": "link in",
        "z": "5ff803ec.c0e29c",
        "name": "No Merge Necessary",
        "links": [
            "c6951408.3ebe98"
        ],
        "x": 35,
        "y": 980,
        "wires": [
            [
                "17841895.fee027",
                "cc521163.91eef"
            ]
        ]
    },
    {
        "id": "17841895.fee027",
        "type": "function",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "func": "var arraySequenceFlow=msg.recipe.definitions.process[0].sequenceFlow;\nmsg.payload=arraySequenceFlow;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 140,
        "y": 980,
        "wires": [
            [
                "3c23f709.a51e38"
            ]
        ]
    },
    {
        "id": "3c23f709.a51e38",
        "type": "split",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 270,
        "y": 980,
        "wires": [
            [
                "c6ad87da.4e4da8"
            ]
        ]
    },
    {
        "id": "c6ad87da.4e4da8",
        "type": "switch",
        "z": "5ff803ec.c0e29c",
        "name": "SourceRef",
        "property": "payload.$.sourceRef",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "activeTask.bpmn_id",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 980,
        "wires": [
            [
                "97a15ad3.363d98"
            ],
            [
                "9c2f48cd.a65b88"
            ]
        ]
    },
    {
        "id": "9c2f48cd.a65b88",
        "type": "join",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1550,
        "y": 986,
        "wires": [
            [
                "90659ccf.0ba83",
                "4da91132.effac"
            ]
        ]
    },
    {
        "id": "887e204f.776b5",
        "type": "comment",
        "z": "5ff803ec.c0e29c",
        "name": "No Merge Necessary",
        "info": "Merge is not necessary. Include next tasks in DB and mark as Finished_Treated active task",
        "x": 120,
        "y": 920,
        "wires": []
    },
    {
        "id": "96800609.46c3e8",
        "type": "debug",
        "z": "5ff803ec.c0e29c",
        "name": "Merge Necessary",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 820,
        "wires": []
    },
    {
        "id": "ace66c11.b5dc6",
        "type": "link out",
        "z": "5ff803ec.c0e29c",
        "name": "Merge Necessary",
        "links": [
            "628b7cd8.080bf4"
        ],
        "x": 1255,
        "y": 460,
        "wires": []
    },
    {
        "id": "628b7cd8.080bf4",
        "type": "link in",
        "z": "5ff803ec.c0e29c",
        "name": "Merge Necessary",
        "links": [
            "ace66c11.b5dc6"
        ],
        "x": 55,
        "y": 740,
        "wires": [
            [
                "96800609.46c3e8",
                "77306f1d.9b631"
            ]
        ]
    },
    {
        "id": "6d510c08.0e1344",
        "type": "comment",
        "z": "5ff803ec.c0e29c",
        "name": "To No Merge Necessary",
        "info": "Merge is not necessary. Include next tasks in DB and mark as Finished_Treated active task",
        "x": 1400,
        "y": 540,
        "wires": []
    },
    {
        "id": "697f3444.134d3c",
        "type": "comment",
        "z": "5ff803ec.c0e29c",
        "name": "To Merge Necessary",
        "info": "Merge is not necessary. Include next tasks in DB and mark as Finished_Treated active task",
        "x": 1390,
        "y": 460,
        "wires": []
    },
    {
        "id": "631ddaf6.6aff04",
        "type": "comment",
        "z": "5ff803ec.c0e29c",
        "name": "Merge Necessary",
        "info": "Determines if Merge is necessary. To do so checks on each branch of the process to assure whether all branches are finished. ",
        "x": 100,
        "y": 680,
        "wires": []
    },
    {
        "id": "77306f1d.9b631",
        "type": "function",
        "z": "5ff803ec.c0e29c",
        "name": "SequenceArray",
        "func": "//Creates an array with the sequences where the target is the same parallelGateway\nvar bpmn_id=msg.payload.bpmn_id;\nvar processInstanceId=msg.payload.instance_id;\nvar arraySequenceFlow=msg.recipe.definitions.process[0].sequenceFlow; \nvar targetRef=msg.sequence.targetRef;\nvar object = msg.recipe.definitions.process[0];\nvar targetRefArray=[];\nvar type,entrada;\nvar element,sequence=new Object();\nmsg.activeTask=msg.payload;\nfor (let indice in arraySequenceFlow) {\n   sequence=arraySequenceFlow[indice].$;\n    if (sequence.targetRef==targetRef){\n        targetRefArray.push(sequence);\n    } \n}   //cierre let sequence\nmsg.payload=targetRefArray;\nmsg.targetRefArray=targetRefArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 740,
        "wires": [
            [
                "777f0180.4045a",
                "7247b7f7.a44c28"
            ]
        ]
    },
    {
        "id": "93fa6143.f2c1",
        "type": "debug",
        "z": "5ff803ec.c0e29c",
        "name": "Merge Necessary Finished",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 660,
        "wires": []
    },
    {
        "id": "777f0180.4045a",
        "type": "change",
        "z": "5ff803ec.c0e29c",
        "name": "Finished (True)",
        "rules": [
            {
                "t": "set",
                "p": "finished",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 740,
        "wires": [
            [
                "270c13c0.9e3a2c"
            ]
        ]
    },
    {
        "id": "270c13c0.9e3a2c",
        "type": "split",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 740,
        "wires": [
            [
                "75355c1b.5b8244"
            ]
        ]
    },
    {
        "id": "c4046cd9.3c9e7",
        "type": "join",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1430,
        "y": 733,
        "wires": [
            [
                "93fa6143.f2c1",
                "5c976b62.e3cdf4"
            ]
        ]
    },
    {
        "id": "75355c1b.5b8244",
        "type": "function",
        "z": "5ff803ec.c0e29c",
        "name": "Active Tasks Finished",
        "func": "var bpmn_id=msg.activeTask.bpmn_id;\nvar processInstanceId=msg.activeTask.instance_id;\nvar str1= \"SELECT status FROM `active_task` WHERE `bpmn_id`= '\"+bpmn_id+\"' AND `instance_id`='\"+processInstanceId+\"'\";\nmsg.topic=str1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 740,
        "wires": [
            [
                "7092c6b3.5b6c28"
            ]
        ]
    },
    {
        "id": "7092c6b3.5b6c28",
        "type": "mysql",
        "z": "5ff803ec.c0e29c",
        "mydb": "6cf75f29.e3fd6",
        "name": "SelectActiveTasks",
        "x": 910,
        "y": 740,
        "wires": [
            [
                "e3dc2bf9.30d638"
            ]
        ]
    },
    {
        "id": "e3dc2bf9.30d638",
        "type": "switch",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "property": "payload[0].status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Finished",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 740,
        "wires": [
            [
                "c4046cd9.3c9e7"
            ],
            [
                "9baf9b7.8294f68"
            ]
        ]
    },
    {
        "id": "9baf9b7.8294f68",
        "type": "change",
        "z": "5ff803ec.c0e29c",
        "name": "Finished (False)",
        "rules": [
            {
                "t": "set",
                "p": "finished",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 800,
        "wires": [
            [
                "c4046cd9.3c9e7"
            ]
        ]
    },
    {
        "id": "5c976b62.e3cdf4",
        "type": "link out",
        "z": "5ff803ec.c0e29c",
        "name": "Finish Merging",
        "links": [
            "9306deba.18b0b"
        ],
        "x": 1555,
        "y": 732,
        "wires": []
    },
    {
        "id": "9306deba.18b0b",
        "type": "link in",
        "z": "5ff803ec.c0e29c",
        "name": "Finish Merging",
        "links": [
            "5c976b62.e3cdf4"
        ],
        "x": 35,
        "y": 1180,
        "wires": [
            [
                "6e02d642.2b2158",
                "21d964fa.aa68ac"
            ]
        ]
    },
    {
        "id": "6e02d642.2b2158",
        "type": "switch",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "property": "finished",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 1180,
        "wires": [
            [
                "a5d78d0b.5ce39"
            ],
            [
                "4da91132.effac"
            ]
        ]
    },
    {
        "id": "ea78177a.565dc8",
        "type": "function",
        "z": "5ff803ec.c0e29c",
        "name": "BuildInsertActiveTask",
        "func": "var bpmn_id=msg.targetRef;\nvar processInstanceId=msg.activeTask.instance_id;\nvar object =msg.recipe.definitions.process[0];\nvar name,type,entrada;\nvar element=new Object();\nfor (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==bpmn_id){\n         name=entrada.$.name; \n         type=property;\n    }\n    }\n    }\n}\nmsg.name=name;\nmsg.type=type;\nmsg.bpmn=bpmn_id;\nvar str1= \"REPLACE INTO `active_task` (`bpmn_id`, `name`, `type`, `status`, `instance_id`) VALUES ('\"+bpmn_id+\"', '\"+name+\"', '\"+type+\"', 'Ready_To_Start', \"+processInstanceId+\")\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 1160,
        "wires": [
            [
                "c9d90dd1.99c58",
                "fc1db1cc.593dc"
            ]
        ]
    },
    {
        "id": "c9d90dd1.99c58",
        "type": "mysql",
        "z": "5ff803ec.c0e29c",
        "mydb": "6cf75f29.e3fd6",
        "name": "InsertActiveTask(New)",
        "x": 840,
        "y": 1160,
        "wires": [
            [
                "bdb5dd3c.6bf7"
            ]
        ]
    },
    {
        "id": "bdb5dd3c.6bf7",
        "type": "function",
        "z": "5ff803ec.c0e29c",
        "name": "Finish ST Merge",
        "func": "var bpmn_id=msg.activeTask.bpmn_id;\nvar instance_id=msg.activeTask.instance_id;\nvar str1= \"UPDATE `active_task` SET `status`='Finished_Treated' WHERE `bpmn_id`= '\"+bpmn_id+\"' AND `instance_id`= '\"+instance_id+\"'\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1060,
        "y": 1160,
        "wires": [
            [
                "cb45357e.8879d8"
            ]
        ]
    },
    {
        "id": "cb45357e.8879d8",
        "type": "mysql",
        "z": "5ff803ec.c0e29c",
        "mydb": "6cf75f29.e3fd6",
        "name": "UpdateActiveTask(ST Merge)",
        "x": 1300,
        "y": 1160,
        "wires": [
            [
                "dffe1d4c.f1b99"
            ]
        ]
    },
    {
        "id": "a5d78d0b.5ce39",
        "type": "change",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "targetRefArray",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1160,
        "wires": [
            [
                "337f4011.09581"
            ]
        ]
    },
    {
        "id": "337f4011.09581",
        "type": "split",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 450,
        "y": 1160,
        "wires": [
            [
                "ea78177a.565dc8"
            ]
        ]
    },
    {
        "id": "dffe1d4c.f1b99",
        "type": "join",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1510,
        "y": 1160,
        "wires": [
            [
                "4da91132.effac",
                "16e3d7d3.5c62e8"
            ]
        ]
    },
    {
        "id": "1449fd03.24b673",
        "type": "comment",
        "z": "5ff803ec.c0e29c",
        "name": "Finish Merging",
        "info": " Include next tasks in DB and mark as Finished_Treated active task if all branches are finished",
        "x": 80,
        "y": 1100,
        "wires": []
    },
    {
        "id": "8962bb27.6f2cd8",
        "type": "comment",
        "z": "79f1e6ca.50a228",
        "name": "Upload Recipe",
        "info": "Enables uploading the recipes in BPMN format",
        "x": 110,
        "y": 100,
        "wires": []
    },
    {
        "id": "35ca5cf5.975414",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "To Call Service",
        "info": "",
        "x": 750,
        "y": 540,
        "wires": []
    },
    {
        "id": "854c378.c3e81c8",
        "type": "comment",
        "z": "5ff803ec.c0e29c",
        "name": "Back to Update Process",
        "info": "Comes from Analyse Task and Call Service once they have finished.\ncheck that the part numbers agrees with the parts after the split in all cases",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "c756579c.9e61e8",
        "type": "debug",
        "z": "5ff803ec.c0e29c",
        "name": "Before join (Update Process)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 360,
        "wires": []
    },
    {
        "id": "fc1db1cc.593dc",
        "type": "debug",
        "z": "5ff803ec.c0e29c",
        "name": "New active Task Merge",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e67e0338.a2401",
        "type": "join",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1060,
        "y": 640,
        "wires": [
            [
                "9c4aa617.8ce998"
            ]
        ]
    },
    {
        "id": "752b09a4.1ad6b8",
        "type": "link in",
        "z": "5ff803ec.c0e29c",
        "name": "Check All Active Tasks",
        "links": [
            "4da91132.effac"
        ],
        "x": 935,
        "y": 640,
        "wires": [
            [
                "e67e0338.a2401"
            ]
        ]
    },
    {
        "id": "4da91132.effac",
        "type": "link out",
        "z": "5ff803ec.c0e29c",
        "name": "Check All Active Tasks",
        "links": [
            "752b09a4.1ad6b8"
        ],
        "x": 1675,
        "y": 1180,
        "wires": []
    },
    {
        "id": "97551f2c.8b12c",
        "type": "comment",
        "z": "5ff803ec.c0e29c",
        "name": "Check Rest Of Active Tasks",
        "info": "Checks all the active tasks before calling to check again",
        "x": 780,
        "y": 640,
        "wires": []
    },
    {
        "id": "b60a1548.9724a8",
        "type": "switch",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "property": "parallel",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1040,
        "y": 520,
        "wires": [
            [
                "ace66c11.b5dc6"
            ],
            [
                "c6951408.3ebe98"
            ]
        ]
    },
    {
        "id": "5a37ea82.172044",
        "type": "debug",
        "z": "5ff803ec.c0e29c",
        "name": "New active Task No merge",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 900,
        "wires": []
    },
    {
        "id": "b0a660f6.687b9",
        "type": "switch",
        "z": "5ff803ec.c0e29c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "e37f5a98.5497b8"
            ],
            [
                "9c4aa617.8ce998"
            ]
        ]
    },
    {
        "id": "16e3d7d3.5c62e8",
        "type": "debug",
        "z": "5ff803ec.c0e29c",
        "name": "Merge Finished",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 1240,
        "wires": []
    },
    {
        "id": "21d964fa.aa68ac",
        "type": "debug",
        "z": "5ff803ec.c0e29c",
        "name": "Merge Finished (entry)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 1240,
        "wires": []
    },
    {
        "id": "7247b7f7.a44c28",
        "type": "debug",
        "z": "5ff803ec.c0e29c",
        "name": "SequenceArray check",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 660,
        "wires": []
    },
    {
        "id": "214e2eca.6f9072",
        "type": "comment",
        "z": "44941254.48b59c",
        "name": "parallelGateway Comment",
        "info": "We are not considering that a parallelGateway can happen after another parallelgateway. If this process is possible we should consider this situation for merging purposes",
        "x": 1030,
        "y": 700,
        "wires": []
    },
    {
        "id": "2031e939.551666",
        "type": "http in",
        "z": "f30253ba.b0537",
        "name": "",
        "url": "/temperatureWS",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "fc17c299.828c9"
            ]
        ]
    },
    {
        "id": "909921ff.b2e6b",
        "type": "http response",
        "z": "f30253ba.b0537",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "fc17c299.828c9",
        "type": "function",
        "z": "f30253ba.b0537",
        "name": "Random Temp",
        "func": "var max=50;\nvar min=-5;\nmsg.payload.temp=Math.floor(Math.random() * (max - min) ) + min;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "909921ff.b2e6b",
                "687b78f0.525708"
            ]
        ]
    },
    {
        "id": "e19c871a.430778",
        "type": "comment",
        "z": "f30253ba.b0537",
        "name": "Temperature service",
        "info": "Offers an endpoint that returns a temperature between -5 and 50\n\n",
        "x": 110,
        "y": 80,
        "wires": []
    },
    {
        "id": "155ec412.95c00c",
        "type": "comment",
        "z": "f30253ba.b0537",
        "name": "Gear Installation WS",
        "info": "Offers an endpoint that returns a message that the Gear Installation has finished\n\n",
        "x": 110,
        "y": 260,
        "wires": []
    },
    {
        "id": "4f0fa778.4c2c88",
        "type": "http response",
        "z": "f30253ba.b0537",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 340,
        "wires": []
    },
    {
        "id": "12a83c92.e03d53",
        "type": "function",
        "z": "f30253ba.b0537",
        "name": "Random Gear Installation",
        "func": "var ran =Math.floor(Math.random() * 100);\nmsg.value=ran;\nif (ran > 90) { msg.payload=\"Gear Installation was NOT susccessful\"; }\nelse { msg.payload=\"Gear Installation was SUCCESSFUL\"; }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "4f0fa778.4c2c88",
                "8cb2e7b7.6b12d8"
            ]
        ]
    },
    {
        "id": "45611232.47ecec",
        "type": "http in",
        "z": "f30253ba.b0537",
        "name": "",
        "url": "/gearinstallationWS",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "26220aa6.904fb6"
            ]
        ]
    },
    {
        "id": "8cb2e7b7.6b12d8",
        "type": "debug",
        "z": "f30253ba.b0537",
        "name": "Gear",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "56425b3f.cd5284",
        "type": "http in",
        "z": "f30253ba.b0537",
        "name": "",
        "url": "/seatinstallationWS",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "9cc7199f.4e9a48"
            ]
        ]
    },
    {
        "id": "56658b19.d45064",
        "type": "function",
        "z": "f30253ba.b0537",
        "name": "Random Seat Installation",
        "func": "var ran =Math.floor(Math.random() * 100);\nmsg.value=ran;\nif (ran > 90) { msg.payload=\"Seat Installation was NOT susccessful\"; }\nelse { msg.payload=\"Seat Installation was SUCCESSFUL\"; }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 540,
        "wires": [
            [
                "e95ef9d3.08f4e8",
                "90e35a60.200b08"
            ]
        ]
    },
    {
        "id": "e95ef9d3.08f4e8",
        "type": "http response",
        "z": "f30253ba.b0537",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 740,
        "y": 540,
        "wires": []
    },
    {
        "id": "90e35a60.200b08",
        "type": "debug",
        "z": "f30253ba.b0537",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 710,
        "y": 500,
        "wires": []
    },
    {
        "id": "f1b7f710.2318c8",
        "type": "comment",
        "z": "f30253ba.b0537",
        "name": "Seat Installation WS",
        "info": "Offers an endpoint that returns a message that the Seat Installation has finished\n\n",
        "x": 130,
        "y": 440,
        "wires": []
    },
    {
        "id": "66778a0e.dfb814",
        "type": "http in",
        "z": "f30253ba.b0537",
        "name": "",
        "url": "/motorinstallationWS",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "e6313eb9.c2b06"
            ]
        ]
    },
    {
        "id": "667381e4.00fa8",
        "type": "function",
        "z": "f30253ba.b0537",
        "name": "Random Motor Installation",
        "func": "var ran =Math.floor(Math.random() * 100);\nmsg.value=ran;\nif (ran > 90) { msg.payload=\"Motor Installation was NOT susccessful\"; }\nelse { msg.payload=\"Motor Installation was SUCCESSFUL\"; }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 760,
        "wires": [
            [
                "5bdc26b8.547e58",
                "169827a.8b0e4d8"
            ]
        ]
    },
    {
        "id": "5bdc26b8.547e58",
        "type": "http response",
        "z": "f30253ba.b0537",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 740,
        "y": 760,
        "wires": []
    },
    {
        "id": "169827a.8b0e4d8",
        "type": "debug",
        "z": "f30253ba.b0537",
        "name": "Motor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 720,
        "wires": []
    },
    {
        "id": "75908a5e.d47704",
        "type": "comment",
        "z": "f30253ba.b0537",
        "name": "Motor Installation WS",
        "info": "Offers an endpoint that returns a message that the Motor Installation has finished\n\n",
        "x": 140,
        "y": 660,
        "wires": []
    },
    {
        "id": "26220aa6.904fb6",
        "type": "delay",
        "z": "f30253ba.b0537",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "12a83c92.e03d53"
            ]
        ]
    },
    {
        "id": "9cc7199f.4e9a48",
        "type": "delay",
        "z": "f30253ba.b0537",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 300,
        "y": 540,
        "wires": [
            [
                "56658b19.d45064"
            ]
        ]
    },
    {
        "id": "e6313eb9.c2b06",
        "type": "delay",
        "z": "f30253ba.b0537",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 320,
        "y": 760,
        "wires": [
            [
                "667381e4.00fa8"
            ]
        ]
    },
    {
        "id": "687b78f0.525708",
        "type": "debug",
        "z": "f30253ba.b0537",
        "name": "Temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "3a07f096.68488",
        "type": "link out",
        "z": "38f8b3a3.9258bc",
        "name": "After Service",
        "links": [
            "860bb5f.e0fed48"
        ],
        "x": 1475,
        "y": 240,
        "wires": []
    },
    {
        "id": "3f8c089c.f39208",
        "type": "function",
        "z": "38f8b3a3.9258bc",
        "name": "Collect ExtensionElements",
        "func": "var bpmn_id=msg.activeTask.bpmn_id;\nvar serviceTaskArray=msg.recipe.definitions.process[0].serviceTask;\nvar url, method;\nvar async=false;\nfor (let indice in serviceTaskArray) {\n    element=serviceTaskArray[indice];\n     if (element.$.id==bpmn_id){\n         if (element.$[\"activiti:async\"]==\"true\"){\n             async=true;\n         }\n         //recipe.definitions.process[0].serviceTask[0].extensionElements\n         url=element.extensionElements[0][\"activiti:field\"][0][\"activiti:string\"][0]; \n         method=element.extensionElements[0][\"activiti:field\"][1][\"activiti:string\"][0];\n    }\n    }\nmsg.async=async;    \n msg.url=url;\n msg.method=method;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 200,
        "wires": [
            [
                "b889693f.8dc848"
            ]
        ]
    },
    {
        "id": "69d7cacd.6b7a44",
        "type": "http request",
        "z": "38f8b3a3.9258bc",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1310,
        "y": 240,
        "wires": [
            [
                "3a07f096.68488"
            ]
        ]
    },
    {
        "id": "a24907c9.ede878",
        "type": "http in",
        "z": "246622f2.4285ae",
        "name": "CollectAnswer Endpoint",
        "url": "/collectAnswer",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "a64e4f97.70694"
            ]
        ]
    },
    {
        "id": "20e60212.f2460e",
        "type": "http response",
        "z": "246622f2.4285ae",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1470,
        "y": 480,
        "wires": []
    },
    {
        "id": "f57d87f0.7445e8",
        "type": "debug",
        "z": "246622f2.4285ae",
        "name": "Collect Answer (Async)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 140,
        "wires": []
    },
    {
        "id": "cd5b4ed.0cbb6b",
        "type": "http in",
        "z": "f30253ba.b0537",
        "name": "",
        "url": "/shaftAsynWS",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 940,
        "wires": [
            [
                "3404f3a8.4b116c",
                "51ec3e43.7056f"
            ]
        ]
    },
    {
        "id": "ce26294f.1f64e8",
        "type": "function",
        "z": "f30253ba.b0537",
        "name": "Shaft Built",
        "func": "var result=\"The shaft has been created\";\nglobal.set(\"shaftFlag\",false);\nmsg.payload.result=result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1050,
        "y": 980,
        "wires": [
            [
                "ffacc3e5.a08c3"
            ]
        ]
    },
    {
        "id": "beab0ef8.f3391",
        "type": "http response",
        "z": "f30253ba.b0537",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 920,
        "wires": []
    },
    {
        "id": "51ec3e43.7056f",
        "type": "debug",
        "z": "f30253ba.b0537",
        "name": "Shaft",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 1080,
        "wires": []
    },
    {
        "id": "fe1f9022.b38ec",
        "type": "delay",
        "z": "f30253ba.b0537",
        "name": "",
        "pauseType": "delay",
        "timeout": "25",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 900,
        "y": 980,
        "wires": [
            [
                "ce26294f.1f64e8"
            ]
        ]
    },
    {
        "id": "e6971492.e34348",
        "type": "comment",
        "z": "f30253ba.b0537",
        "name": "Build Shaft WS (Asynchronous)",
        "info": "Offers an endpoint that returns a message informing that the shaft will be built. It is an asynchronous service. It will reply to collect answer endpoint with the information received once the process is finished. It uses a flag to determine if the system is available or occupied \n\n",
        "x": 190,
        "y": 880,
        "wires": []
    },
    {
        "id": "b4c9a6f8.4dbd28",
        "type": "switch",
        "z": "f30253ba.b0537",
        "name": "",
        "property": "shaftFlag",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 940,
        "wires": [
            [
                "27668321.fff5bc"
            ],
            [
                "a42b6644.5bb4d8"
            ]
        ]
    },
    {
        "id": "27668321.fff5bc",
        "type": "function",
        "z": "f30253ba.b0537",
        "name": "",
        "func": "var result=\"The workstation is busy\";\nmsg.payload.result=result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 920,
        "wires": [
            [
                "beab0ef8.f3391"
            ]
        ]
    },
    {
        "id": "a42b6644.5bb4d8",
        "type": "change",
        "z": "f30253ba.b0537",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "shaftFlag",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 980,
        "wires": [
            [
                "e6f3f9e7.555ca8"
            ]
        ]
    },
    {
        "id": "ffacc3e5.a08c3",
        "type": "http request",
        "z": "f30253ba.b0537",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/collectAnswer",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1250,
        "y": 980,
        "wires": [
            [
                "3e08e6d7.de488a"
            ]
        ]
    },
    {
        "id": "3e08e6d7.de488a",
        "type": "debug",
        "z": "f30253ba.b0537",
        "name": "Shaft Final",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 980,
        "wires": []
    },
    {
        "id": "e6f3f9e7.555ca8",
        "type": "function",
        "z": "f30253ba.b0537",
        "name": "",
        "func": "var result=\"Your Request is being processed\";\nmsg.payload.result=result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 980,
        "wires": [
            [
                "fe1f9022.b38ec",
                "beab0ef8.f3391"
            ]
        ]
    },
    {
        "id": "3404f3a8.4b116c",
        "type": "json",
        "z": "f30253ba.b0537",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 940,
        "wires": [
            [
                "b4c9a6f8.4dbd28"
            ]
        ]
    },
    {
        "id": "b889693f.8dc848",
        "type": "switch",
        "z": "38f8b3a3.9258bc",
        "name": "Async?",
        "property": "async",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 200,
        "wires": [
            [
                "fcf74dbc.9acee"
            ],
            [
                "69d7cacd.6b7a44",
                "2fa81adc.f25626"
            ]
        ]
    },
    {
        "id": "fcf74dbc.9acee",
        "type": "function",
        "z": "38f8b3a3.9258bc",
        "name": "GetMessageWait",
        "func": "//Creates an array with the sequences where the target is the same parallelGateway\nvar bpmn_id=msg.activeTask.bpmn_id;\nvar processInstanceId=msg.activeTask.instance_id;\nvar arraySequenceFlow=msg.recipe.definitions.process[0].sequenceFlow; \nvar targetRef;\nvar messageRef=\"fuera\";\nvar name,type,entrada;\nvar element,sequence=new Object();\nfor (let indice in arraySequenceFlow) {\n   sequence=arraySequenceFlow[indice].$;\n    if (sequence.sourceRef==bpmn_id){\n        targetRef=sequence.targetRef;\n    } \n}   //cierre let sequence\nvar object = msg.recipe.definitions.process[0];\nfor (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==targetRef){\n         messageRef=entrada.messageEventDefinition[0].$.messageRef;\n    }\n    }\n    }\n}\nmsg.payload.message_bpmn=bpmn_id;\nmsg.payload.message_instance_id=processInstanceId;\nmsg.payload.message_messageRef=messageRef;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1070,
        "y": 180,
        "wires": [
            [
                "75631b4b.d1a804",
                "55e638b3.c1a288"
            ]
        ]
    },
    {
        "id": "75631b4b.d1a804",
        "type": "debug",
        "z": "38f8b3a3.9258bc",
        "name": "Before Async call",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 100,
        "wires": []
    },
    {
        "id": "55e638b3.c1a288",
        "type": "http request",
        "z": "38f8b3a3.9258bc",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1310,
        "y": 180,
        "wires": [
            [
                "c7702a4a.53a358",
                "6e443fb.27e23c"
            ]
        ]
    },
    {
        "id": "c7702a4a.53a358",
        "type": "debug",
        "z": "38f8b3a3.9258bc",
        "name": "After Async Call",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 120,
        "wires": []
    },
    {
        "id": "7a2d1d75.e75b14",
        "type": "function",
        "z": "246622f2.4285ae",
        "name": "",
        "func": "var arraySequenceFlow=msg.recipe.definitions.process[0].sequenceFlow;\nmsg.payload=arraySequenceFlow;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 260,
        "y": 740,
        "wires": [
            [
                "dd395a5d.e71268"
            ]
        ]
    },
    {
        "id": "dd395a5d.e71268",
        "type": "split",
        "z": "246622f2.4285ae",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 740,
        "wires": [
            [
                "1c933d94.78d932"
            ]
        ]
    },
    {
        "id": "860bb5f.e0fed48",
        "type": "link in",
        "z": "246622f2.4285ae",
        "name": "After Service",
        "links": [
            "3a07f096.68488"
        ],
        "x": 155,
        "y": 740,
        "wires": [
            [
                "7a2d1d75.e75b14",
                "f3096f0.606799"
            ]
        ]
    },
    {
        "id": "1c933d94.78d932",
        "type": "switch",
        "z": "246622f2.4285ae",
        "name": "SourceRef",
        "property": "payload.$.sourceRef",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "activeTask.bpmn_id",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 740,
        "wires": [
            [
                "1d679e14.0abda2"
            ],
            [
                "a7d72b4c.9f3938"
            ]
        ]
    },
    {
        "id": "1d679e14.0abda2",
        "type": "function",
        "z": "246622f2.4285ae",
        "name": "BuildInsertActiveTask",
        "func": "var bpmn_id=msg.payload.$.targetRef;\n//var processInstanceId=flow.get(\"processInstance\");\nvar processInstanceId=msg.activeTask.instance_id;\n//var recipe=flow.get(\"recipe\");\nvar recipe=msg.recipe;\nvar object = recipe.definitions.process[0];\nvar name,type,entrada;\nvar element=new Object();\nfor (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==bpmn_id){\n         name=entrada.$.name; \n         type=property;\n    }\n    }\n    }\n}\nmsg.name=name;\nmsg.type=type;\nmsg.bpmn=bpmn_id;\nvar str1= \"REPLACE INTO `active_task` (`bpmn_id`, `name`, `type`, `status`, `instance_id`) VALUES ('\"+bpmn_id+\"', '\"+name+\"', '\"+type+\"', 'Ready_To_Start', \"+processInstanceId+\")\";\nmsg.topic=str1;\nif (msg.type===\"parallelGateway\"){ \n    return [ null ,msg];\n} else {\nreturn [ msg, null ];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 660,
        "wires": [
            [
                "8c7c9c6e.0c6be"
            ],
            [
                "5d8e78ec.ee25f8"
            ]
        ]
    },
    {
        "id": "a7d72b4c.9f3938",
        "type": "join",
        "z": "246622f2.4285ae",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1670,
        "y": 746,
        "wires": [
            [
                "a8e396bf.27e2f8",
                "ed08e19.5f0d82"
            ]
        ]
    },
    {
        "id": "8c7c9c6e.0c6be",
        "type": "mysql",
        "z": "246622f2.4285ae",
        "mydb": "6cf75f29.e3fd6",
        "name": "InsertActiveTask(Parallel)",
        "x": 970,
        "y": 600,
        "wires": [
            [
                "5d8e78ec.ee25f8"
            ]
        ]
    },
    {
        "id": "5d8e78ec.ee25f8",
        "type": "function",
        "z": "246622f2.4285ae",
        "name": "Finish Call Service",
        "func": "var bpmn_id=msg.activeTask.bpmn_id;\nvar instance_id=msg.activeTask.instance_id;\nvar str1= \"UPDATE `active_task` SET `status`='Finished' WHERE `bpmn_id`= '\"+bpmn_id+\"' AND `instance_id`= '\"+instance_id+\"'\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1190,
        "y": 660,
        "wires": [
            [
                "aa05f6f8.44ef38"
            ]
        ]
    },
    {
        "id": "aa05f6f8.44ef38",
        "type": "mysql",
        "z": "246622f2.4285ae",
        "mydb": "6cf75f29.e3fd6",
        "name": "UpdateActiveTask(Call Service)",
        "x": 1450,
        "y": 660,
        "wires": [
            [
                "a7d72b4c.9f3938"
            ]
        ]
    },
    {
        "id": "a8e396bf.27e2f8",
        "type": "link out",
        "z": "246622f2.4285ae",
        "name": "Update_Process",
        "links": [
            "86ed9d38.9e3cb"
        ],
        "x": 1835,
        "y": 745,
        "wires": []
    },
    {
        "id": "ed08e19.5f0d82",
        "type": "debug",
        "z": "246622f2.4285ae",
        "name": "Collect Answer Final (Sync)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 800,
        "wires": []
    },
    {
        "id": "177deb17.d1dc25",
        "type": "comment",
        "z": "246622f2.4285ae",
        "name": "Next Task Upload",
        "info": "Includes in DB the next task. If the actual task is a parallelGateway does not go forward.\nIt needs to check if all the branches have finished (merge) to progress. This is done in Update_Process",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "f429096d.118e88",
        "type": "comment",
        "z": "246622f2.4285ae",
        "name": "Finish Service",
        "info": "Finishes the serviceTask. It finishes with a flag Finished and not Finished_Treated. This is to assure correct merging of branches in the process. This is done in Update_Process",
        "x": 1190,
        "y": 600,
        "wires": []
    },
    {
        "id": "8740060e.4047b8",
        "type": "comment",
        "z": "38f8b3a3.9258bc",
        "name": "To Collect_Answer",
        "info": "",
        "x": 1490,
        "y": 280,
        "wires": []
    },
    {
        "id": "f1a8bea0.52ae1",
        "type": "comment",
        "z": "246622f2.4285ae",
        "name": "From Call Service (Sync)",
        "info": "This is to process syncrhonous service calls",
        "x": 250,
        "y": 680,
        "wires": []
    },
    {
        "id": "2fa81adc.f25626",
        "type": "debug",
        "z": "38f8b3a3.9258bc",
        "name": "Before Sync Call",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 320,
        "wires": []
    },
    {
        "id": "f3096f0.606799",
        "type": "debug",
        "z": "246622f2.4285ae",
        "name": "Collect Answer (Sync)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 820,
        "wires": []
    },
    {
        "id": "f8b5b4a2.c28df8",
        "type": "comment",
        "z": "246622f2.4285ae",
        "name": "Back to Update Process",
        "info": "",
        "x": 1840,
        "y": 680,
        "wires": []
    },
    {
        "id": "a64e4f97.70694",
        "type": "json",
        "z": "246622f2.4285ae",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "e5e29161.f3253"
            ]
        ]
    },
    {
        "id": "4030c234.5854ec",
        "type": "comment",
        "z": "246622f2.4285ae",
        "name": "Collect Responses from Service (Async)",
        "info": "This is to process asyncrhonous responses",
        "x": 240,
        "y": 140,
        "wires": []
    },
    {
        "id": "e5e29161.f3253",
        "type": "change",
        "z": "246622f2.4285ae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "bpmn_id",
                "pt": "msg",
                "to": "payload.message_bpmn",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "instance_id",
                "pt": "msg",
                "to": "payload.message_instance_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "messageRef",
                "pt": "msg",
                "to": "payload.message_messageRef",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 220,
        "wires": [
            [
                "7a53dc62.5a94b4"
            ]
        ]
    },
    {
        "id": "7a53dc62.5a94b4",
        "type": "function",
        "z": "246622f2.4285ae",
        "name": "Get Recipe",
        "func": "var processInstanceId=msg.instance_id;\nvar str1= \"SELECT process.recipe FROM process INNER JOIN process_instance ON process.id=process_instance.process_id WHERE process_instance.id = \"+processInstanceId+\";\";\nmsg.topic=str1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 730,
        "y": 220,
        "wires": [
            [
                "e5bbd8d6.d95b78"
            ]
        ]
    },
    {
        "id": "e5bbd8d6.d95b78",
        "type": "mysql",
        "z": "246622f2.4285ae",
        "mydb": "6cf75f29.e3fd6",
        "name": "Get Recipe",
        "x": 910,
        "y": 220,
        "wires": [
            [
                "dfd20106.f1413"
            ]
        ]
    },
    {
        "id": "dfd20106.f1413",
        "type": "change",
        "z": "246622f2.4285ae",
        "name": "Save Recipe",
        "rules": [
            {
                "t": "set",
                "p": "recipe",
                "pt": "msg",
                "to": "payload[0].recipe",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 220,
        "wires": [
            [
                "b6768880.9253e8"
            ]
        ]
    },
    {
        "id": "de7a4c05.594b4",
        "type": "function",
        "z": "246622f2.4285ae",
        "name": "GetMessageWait",
        "func": "//Creates an array with the sequences where the target is the same parallelGateway\nvar bpmn_id=msg.bpmn_id;\nvar processInstanceId=msg.instance_id;\nvar arraySequenceFlow=msg.recipe.definitions.process[0].sequenceFlow; \nvar targetRef;\nvar messageRef=msg.messageRef;\nvar name,type,entrada;\nvar targetRefValid=false;\nvar element,sequence=new Object();\nfor (let indice in arraySequenceFlow) {\n   sequence=arraySequenceFlow[indice].$;\n    if (sequence.sourceRef==bpmn_id){\n        targetRef=sequence.targetRef;\n    } \n}   //cierre let sequence\nvar object = msg.recipe.definitions.process[0];\nfor (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==targetRef){\n        if(messageRef==entrada.messageEventDefinition[0].$.messageRef){\n         targetRefValid=true;   \n        }\n    }\n    }\n    }\n}\nmsg.targetRefValid=targetRefValid;\nmsg.targetRef=targetRef;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1490,
        "y": 220,
        "wires": [
            [
                "9739b033.bf4aa",
                "f57d87f0.7445e8"
            ]
        ]
    },
    {
        "id": "af279685.226bb8",
        "type": "switch",
        "z": "246622f2.4285ae",
        "name": "TargetRefValid",
        "property": "targetRefValid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 240,
        "y": 480,
        "wires": [
            [
                "24b6758d.4e5d6a"
            ],
            [
                "20e60212.f2460e",
                "b4ab05b2.ce6718"
            ]
        ]
    },
    {
        "id": "24b6758d.4e5d6a",
        "type": "function",
        "z": "246622f2.4285ae",
        "name": "BuildInsertActiveTask",
        "func": "var bpmn_id=msg.targetRef;\nvar processInstanceId=msg.instance_id;\nvar recipe=msg.recipe;\nvar object = recipe.definitions.process[0];\nvar name,type,entrada;\nvar element=new Object();\nfor (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==bpmn_id){\n         name=entrada.$.name; \n         type=property;\n    }\n    }\n    }\n}\nmsg.name=name;\nmsg.type=type;\nmsg.bpmn=bpmn_id;\nvar str1= \"REPLACE INTO `active_task` (`bpmn_id`, `name`, `type`, `status`, `instance_id`) VALUES ('\"+bpmn_id+\"', '\"+name+\"', '\"+type+\"', 'Ready_To_Start', \"+processInstanceId+\")\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 440,
        "wires": [
            [
                "b02d1a77.c94c58"
            ]
        ]
    },
    {
        "id": "b02d1a77.c94c58",
        "type": "mysql",
        "z": "246622f2.4285ae",
        "mydb": "6cf75f29.e3fd6",
        "name": "InsertActiveTask(New)",
        "x": 700,
        "y": 440,
        "wires": [
            [
                "8db5539.7805eb"
            ]
        ]
    },
    {
        "id": "8db5539.7805eb",
        "type": "function",
        "z": "246622f2.4285ae",
        "name": "Finish ServiceTask",
        "func": "var bpmn_id=msg.bpmn_id;\nvar instance_id=msg.instance_id;\nvar str1= \"UPDATE `active_task` SET `status`='Finished_Treated' WHERE `bpmn_id`= '\"+bpmn_id+\"' AND `instance_id`= '\"+instance_id+\"'\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 440,
        "wires": [
            [
                "a6dcb83c.ae7958"
            ]
        ]
    },
    {
        "id": "a6dcb83c.ae7958",
        "type": "mysql",
        "z": "246622f2.4285ae",
        "mydb": "6cf75f29.e3fd6",
        "name": "UpdateActiveTask(ServiceTask)",
        "x": 1170,
        "y": 440,
        "wires": [
            [
                "20e60212.f2460e",
                "1c646c89.04a5f3",
                "b4ab05b2.ce6718"
            ]
        ]
    },
    {
        "id": "9739b033.bf4aa",
        "type": "link out",
        "z": "246622f2.4285ae",
        "name": "Next Task Asyn",
        "links": [
            "9a603d1e.d52af"
        ],
        "x": 1655,
        "y": 220,
        "wires": []
    },
    {
        "id": "9a603d1e.d52af",
        "type": "link in",
        "z": "246622f2.4285ae",
        "name": "Next Task Asyn",
        "links": [
            "9739b033.bf4aa"
        ],
        "x": 95,
        "y": 480,
        "wires": [
            [
                "af279685.226bb8"
            ]
        ]
    },
    {
        "id": "b6768880.9253e8",
        "type": "xml",
        "z": "246622f2.4285ae",
        "name": "",
        "property": "recipe",
        "attr": "",
        "chr": "",
        "x": 1270,
        "y": 220,
        "wires": [
            [
                "de7a4c05.594b4"
            ]
        ]
    },
    {
        "id": "1c646c89.04a5f3",
        "type": "debug",
        "z": "246622f2.4285ae",
        "name": "Collect Answer Async Final",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 380,
        "wires": []
    },
    {
        "id": "2f95f99e.7d9856",
        "type": "xml",
        "z": "44941254.48b59c",
        "name": "",
        "property": "recipe",
        "attr": "",
        "chr": "",
        "x": 150,
        "y": 920,
        "wires": [
            [
                "50ce0548.cab29c"
            ]
        ]
    },
    {
        "id": "50ce0548.cab29c",
        "type": "change",
        "z": "44941254.48b59c",
        "name": "Get ProcessInstance",
        "rules": [
            {
                "t": "set",
                "p": "processInstance",
                "pt": "flow",
                "to": "activeTask.instance_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "recipe",
                "pt": "flow",
                "to": "recipe",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "bpmnId",
                "pt": "flow",
                "to": "activeTask.bpmn_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 920,
        "wires": [
            [
                "ac9acfa7.d57ec"
            ]
        ]
    },
    {
        "id": "ac9acfa7.d57ec",
        "type": "function",
        "z": "44941254.48b59c",
        "name": "",
        "func": "var arraySequenceFlow=msg.recipe.definitions.process[0].sequenceFlow;\nmsg.payload=arraySequenceFlow;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 920,
        "wires": [
            [
                "e18c1a3b.cfd188"
            ]
        ]
    },
    {
        "id": "e18c1a3b.cfd188",
        "type": "split",
        "z": "44941254.48b59c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 650,
        "y": 920,
        "wires": [
            [
                "935ad9bd.04fa48"
            ]
        ]
    },
    {
        "id": "935ad9bd.04fa48",
        "type": "switch",
        "z": "44941254.48b59c",
        "name": "SourceRef",
        "property": "payload.$.sourceRef",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "bpmnId",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 920,
        "wires": [
            [
                "be779799.846308"
            ],
            [
                "f5b36624.31e308"
            ]
        ]
    },
    {
        "id": "be779799.846308",
        "type": "function",
        "z": "44941254.48b59c",
        "name": "BuildInsertActiveTask",
        "func": "var bpmn_id=msg.payload.$.targetRef;\nvar processInstanceId=flow.get(\"processInstance\");\nvar recipe=flow.get(\"recipe\");\nvar object = recipe.definitions.process[0];\nvar name,type,entrada;\nvar element=new Object();\nfor (let property in object) {\n    element=object[property];\n    for (let entry in element) {\n    entrada= element[entry];\n    if (typeof entrada === 'object' && entrada !== null){\n     if (entrada.$.id==bpmn_id){\n         name=entrada.$.name; \n         type=property;\n    }\n    }\n    }\n}\nmsg.name=name;\nmsg.type=type;\nmsg.bpmn=bpmn_id;\nvar str1= \"REPLACE INTO `active_task` (`bpmn_id`, `name`, `type`, `status`, `instance_id`) VALUES ('\"+bpmn_id+\"', '\"+name+\"', '\"+type+\"', 'Ready_To_Start', \"+processInstanceId+\")\";\nmsg.topic=str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 880,
        "wires": [
            [
                "66908a98.151384"
            ]
        ]
    },
    {
        "id": "66908a98.151384",
        "type": "mysql",
        "z": "44941254.48b59c",
        "mydb": "6cf75f29.e3fd6",
        "name": "InsertActiveTask(Parallel)",
        "x": 1250,
        "y": 880,
        "wires": [
            [
                "b64d817d.8f269"
            ]
        ]
    },
    {
        "id": "f5b36624.31e308",
        "type": "join",
        "z": "44941254.48b59c",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1990,
        "y": 920,
        "wires": [
            [
                "8f4dcd7d.d11de",
                "7712c271.1e646c"
            ]
        ]
    },
    {
        "id": "6e443fb.27e23c",
        "type": "link out",
        "z": "38f8b3a3.9258bc",
        "name": "Update_Process",
        "links": [
            "86ed9d38.9e3cb"
        ],
        "x": 1475,
        "y": 180,
        "wires": []
    },
    {
        "id": "b4ab05b2.ce6718",
        "type": "link out",
        "z": "246622f2.4285ae",
        "name": "Update_Process",
        "links": [
            "7140efe6.49f89"
        ],
        "x": 1455,
        "y": 540,
        "wires": []
    },
    {
        "id": "c2a8d292.e9c71",
        "type": "comment",
        "z": "246622f2.4285ae",
        "name": "Update Process (Start Again)",
        "info": "",
        "x": 1600,
        "y": 540,
        "wires": []
    }
]