NodeREDFlows/Workflow_Monitor.json
[{"id":"2dd84b3170b1f2ce","type":"tab","label":"Workflow_Monitor","disabled":false,"info":""},{"id":"bb1bcea3c973b1cd","type":"function","z":"2dd84b3170b1f2ce","name":"PrepareSelectProcessInstances","func":"msg.topic = \"SELECT \" +\n            \" p.name \" +\n            \",pi.id \" +\n            \",pi.status \" +\n            \"FROM process_instance pi \" + \n            \"INNER JOIN process p \" +\n            \"ON p.id = pi.process_id \" +\n            \"WHERE pi.status = 'In_Progress';\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":240,"wires":[["a99042ee3c815bf6"]]},{"id":"a99042ee3c815bf6","type":"mysql","z":"2dd84b3170b1f2ce","mydb":"6cf75f29.e3fd6","name":"SelectProcessInstances","x":630,"y":240,"wires":[["0dea82917f32db20"]]},{"id":"89c903d460aeb79d","type":"function","z":"2dd84b3170b1f2ce","name":"PrepareSelectActiveTasks","func":"msg.topic = \"SELECT \" +\n            \" instance_id \" +\n            \",bpmn_id \" +\n            \",status \"+\n            \",type \" +\n            \"FROM active_task \" +\n            \"WHERE status != 'Finished_Treated' \" +\n            \"ORDER BY instance_id;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":300,"wires":[["63d74827a0defc05"]]},{"id":"63d74827a0defc05","type":"mysql","z":"2dd84b3170b1f2ce","mydb":"6cf75f29.e3fd6","name":"SelectActiveTasks","x":610,"y":300,"wires":[["fb35844fc91c124e"]]},{"id":"2253d1971a6a897f","type":"inject","z":"2dd84b3170b1f2ce","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":240,"wires":[["89c903d460aeb79d","bb1bcea3c973b1cd","9d9fb26ad5129415"]]},{"id":"0dea82917f32db20","type":"ui_table","z":"2dd84b3170b1f2ce","group":"4bfc74fa8e02334d","name":"Running Process Instances","order":1,"width":"12","height":"4","columns":[{"field":"name","title":"Process","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"id","title":"Instance","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"status","title":"Status","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":940,"y":240,"wires":[]},{"id":"fb35844fc91c124e","type":"ui_table","z":"2dd84b3170b1f2ce","group":"a6ef445bd6ac4190","name":"RunningTasks","order":1,"width":"12","height":"4","columns":[{"field":"instance_id","title":"Instance","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"type","title":"Type","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"bpmn_id","title":"Bpmn TaskId","width":"50%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"status","title":"Status of Task","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":900,"y":300,"wires":[]},{"id":"9d9fb26ad5129415","type":"function","z":"2dd84b3170b1f2ce","name":"PrepareSelectProcesses","func":"msg.topic = \"SELECT \" +\n            \" name \" +\n            \",implementationKind \" +\n            \"FROM process;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":180,"wires":[["3e2228ee87358ebe"]]},{"id":"3e2228ee87358ebe","type":"mysql","z":"2dd84b3170b1f2ce","mydb":"6cf75f29.e3fd6","name":"SelectProcesses","x":610,"y":180,"wires":[["75669c9ade6d7b70"]]},{"id":"75669c9ade6d7b70","type":"ui_table","z":"2dd84b3170b1f2ce","group":"8d2ca69b6e715f05","name":"Processes","order":1,"width":"24","height":"3","columns":[{"field":"name","title":"Process","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"implementationKind","title":"Implementation Kind","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":890,"y":180,"wires":[]},{"id":"6cf75f29.e3fd6","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"process","tz":"","charset":"UTF8"},{"id":"4bfc74fa8e02334d","type":"ui_group","name":"Running Processes Instances","tab":"1eb76bab94c6cd9c","order":2,"disp":true,"width":"12","collapse":true,"className":""},{"id":"a6ef445bd6ac4190","type":"ui_group","name":"Running Tasks","tab":"1eb76bab94c6cd9c","order":3,"disp":true,"width":"12","collapse":true,"className":""},{"id":"8d2ca69b6e715f05","type":"ui_group","name":"Process List","tab":"1eb76bab94c6cd9c","order":1,"disp":true,"width":24,"collapse":true,"className":""},{"id":"1eb76bab94c6cd9c","type":"ui_tab","name":"Workflow Monitor Tool","icon":"dashboard","disabled":false,"hidden":false}]